@media (max-width: 991.98px) {
  .rs-about-block {
    margin: 50px 0px;
  }
}
@media (max-width: 767.98px) {
  .rs-about-block {
    margin: 61px 0px;
  }
}
.rs-about-block__head {
  text-align: center;
  max-width: 1055px;
  margin: 0 auto 100px;
}
@media (max-width: 1439.98px) {
  .rs-about-block__head {
    margin: 0 auto 50px;
  }
}
@media (max-width: 991.98px) {
  .rs-about-block__head {
    margin: 0 auto 15px;
    text-align: left;
  }
}
.rs-about-block__head h2 {
  line-height: 112%;
}
@media (max-width: 767.98px) {
  .rs-about-block__head h2 {
    line-height: 120%;
  }
}
.rs-about-block__head h6 {
  margin: 30px auto 0px;
}
@media (max-width: 991.98px) {
  .rs-about-block__head h6 {
    margin-top: 25px;
  }
}
@media (max-width: 767.98px) {
  .rs-about-block__head h6 {
    margin-top: 23px;
  }
}
@media (min-width: 991.98px) {
  .rs-about-block__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
.rs-about-block__item:not(:last-child) {
  margin-bottom: 97px;
}
@media (max-width: 1439.98px) {
  .rs-about-block__item:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media (max-width: 991.98px) {
  .rs-about-block__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .rs-about-block__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.rs-about-block__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rs-about-block__desc > *:first-child {
  margin-top: 0px;
}
.rs-about-block__desc > *:last-child {
  margin-bottom: 0px;
}
.rs-about-block__desc h4 {
  margin: 0px 0px 8px 0px;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
@media (max-width: 991.98px) {
  .rs-about-block__desc h4 {
    font-size: 19px;
    line-height: 130%;
    margin: 0px 0px 5px 0px;
  }
}
.rs-about-block__desc p {
  margin: 8px 0px;
  color: var(--gray-font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
@media (max-width: 991.98px) {
  .rs-about-block__desc p {
    font-size: 16px;
    line-height: 130%;
    margin: 5px 0px;
  }
}
.rs-about-block__desc .features-list {
  margin: 24px 0px;
}
@media (max-width: 991.98px) {
  .rs-about-block__desc .features-list {
    margin: 5px 0px;
  }
}
.rs-about-block__desc .features-list h5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 21.6px */
}
@media (max-width: 991.98px) {
  .rs-about-block__desc .features-list h5 {
    font-size: 16px;
    line-height: 130%;
  }
}
.rs-about-block__desc .features-list ul {
  margin-top: 2px;
}
@media (max-width: 991.98px) {
  .rs-about-block__desc .features-list ul {
    margin-top: 5px;
  }
}
.rs-about-block__desc .features-list ul li {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991.98px) {
  .rs-about-block__desc .features-list ul li {
    font-size: 16px;
    line-height: 130%;
  }
}
.rs-about-block__desc .features-list ul li::before {
  content: "";
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  margin-right: 8px;
  margin-top: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 991.98px) {
  .rs-about-block__desc .features-list ul li::before {
    min-width: 17px;
    min-height: 17px;
    max-width: 17px;
    max-height: 17px;
    margin-right: 5px;
    margin-top: 2px;
  }
}
.rs-about-block__desc .features-list ul li.plus::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 10H14M10 6V14M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z' stroke='%23A3DD34' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}
.rs-about-block__desc .features-list ul li.minus::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 10H14M19 10C19 14.9706 14.9706 19 10 19C5.02944 19 1 14.9706 1 10C1 5.02944 5.02944 1 10 1C14.9706 1 19 5.02944 19 10Z' stroke='%23FF9A38' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}
.rs-about-block__desc .features-list ul li:not(:last-child) {
  margin-bottom: 2px;
}
@media (max-width: 991.98px) {
  .rs-about-block__desc .features-list ul li:not(:last-child) {
    margin-bottom: 5px;
  }
}
.rs-about-block__desc blockquote {
  border-radius: 10px;
  border: 1px dashed #eff2ff;
  background: #eff2ff;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 24px 0px;
}
@media (max-width: 991.98px) {
  .rs-about-block__desc blockquote {
    margin: 15px 0px;
  }
}
@media (max-width: 767.98px) {
  .rs-about-block__desc blockquote {
    padding: 26px 15px;
    margin: 15px 0px;
  }
}
.rs-about-block__desc blockquote > *:first-child {
  margin-top: 0px;
}
.rs-about-block__desc blockquote > *:last-child {
  margin-bottom: 0px;
}
.rs-about-block__desc blockquote::before {
  font-size: 28px;
  padding: 7px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 16px;
  color: var(--primary-color);
}
@media (max-width: 991.98px) {
  .rs-about-block__desc blockquote::before {
    margin-right: 15px;
    font-size: 23px;
    padding: 9px;
  }
}
.rs-about-block__body {
  max-width: 705px;
}
.rs-about-block__img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.rs-about-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid var(--light-gray-border);
  border-radius: 10px;
}
.rs-about-block__img_label {
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid var(--light-gray-border);
  background: #fff;
}
@media (max-width: 991.98px) {
  .rs-about-block__img_label {
    font-size: 13px;
    padding: 11px 15px;
  }
}
@media (max-width: 767.98px) {
  .rs-about-block__img_label {
    bottom: 0;
    right: 0;
    position: relative;
    padding: 0px;
    border-radius: 0px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin-top: 5px;
  }
}