.rs-header {
  border-bottom: 1px solid transparent;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 0.3s ease 0s, top 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  transition: all 0.3s ease 0s, top 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}
@media (max-width: 991.98px) {
  .rs-header {
    padding: 14.5px 0px;
  }
}
@media (max-width: 767.98px) {
  .rs-header {
    padding: 13px 0px;
  }
}
.rs-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: -1;
}
@media (min-width: 991.98px) {
  .rs-header {
    margin-top: 22px;
  }
}
@media (min-width: 991.98px) and (max-width: 1440px) {
  .rs-header {
    margin-top: 10px;
  }
}
.rs-header._header-fixed {
  border-color: #f0f2fa;
  margin-top: 0px;
}
.rs-header._header-fixed::before {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.menu-open .rs-header {
  border-color: #f0f2fa;
}
.menu-open .rs-header::before {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.rs-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  .rs-header__wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 991.98px) {
  .rs-header .menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 31px;
  }
}
@media (max-width: 767.98px) {
  .rs-header .menu {
    margin-left: 20px;
  }
}
@media (min-width: 991.98px) {
  .rs-header .menu__icon {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .rs-header .menu__icon {
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .rs-header .menu__icon::before, .rs-header .menu__icon::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: #0d0e10;
  }
  .rs-header .menu__icon::before {
    top: 5.5px;
  }
  .rs-header .menu__icon::after {
    bottom: 5.5px;
  }
  .menu-open .rs-header .menu__icon::before {
    top: calc(50% - 0.5px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .rs-header .menu__icon::after {
    bottom: calc(50% - 0.5px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@media (max-width: 991.98px) {
  .rs-header .menu__body {
    position: absolute;
    width: 100%;
    max-height: calc(100vh - 48px);
    min-height: calc(100vh - 48px);
    top: 100%;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.8);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    border-top: 1px solid #f0f2fa;
    z-index: 99;
    padding: 30px 15px 30px;
  }
  .rs-header .menu__body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    background-color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: -1;
  }
  .menu-open .rs-header .menu__body {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@media (min-width: 991.98px) {
  .rs-header .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 991.98px) {
  .rs-header .menu__list {
    max-width: 696px;
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .rs-header .menu__list {
    max-width: 100%;
  }
}
@media (min-width: 991.98px) {
  .rs-header .menu__list > li:not(:last-child) {
    margin-right: 32px;
  }
}
@media (min-width: 991.98px) and (max-width: 1440px) {
  .rs-header .menu__list > li:not(:last-child) {
    margin-right: 24px;
  }
}
@media (min-width: 991.98px) and (max-width: 1170px) {
  .rs-header .menu__list > li:not(:last-child) {
    margin-right: 12px;
  }
}
@media (max-width: 991.98px) {
  .rs-header .menu__list > li:not(:last-child) {
    margin-bottom: 15px;
  }
}
.rs-header .menu__list > li > a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
}
@media (max-width: 1440px) and (min-width: 991.98px) {
  .rs-header .menu__list > li > a {
    font-size: 14px;
    line-height: 21.4px;
  }
}
@media (min-width: 991.98px) {
  .rs-header .menu__list > li > a {
    padding: 29.5px 0px;
  }
}
@media (max-width: 1440px) and (min-width: 991.98px) {
  .rs-header .menu__list > li > a {
    padding: 25px 0px;
    font-size: 14px;
    line-height: 21.4px;
  }
}
@media (max-width: 767.98px) {
  .rs-header .menu__list > li > a {
    font-size: 14px;
    line-height: 21.4px;
  }
}
.rs-header .menu__list > li > a > span.split-text-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 1px;
  background-color: var(--font-color);
  -webkit-transition: width 0.36s cubic-bezier(0.43, 0.05, 0.17, 1) 0s;
  transition: width 0.36s cubic-bezier(0.43, 0.05, 0.17, 1) 0s;
}
@media (any-hover: hover) and (min-width: 991.98px) {
  .rs-header .menu__list > li.dropdown-item:hover > .dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    pointer-events: all;
  }
}
@media (max-width: 991.98px) {
  .rs-header .menu__list li {
    width: 100%;
  }
}
.rs-header .menu__list li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}
@media (max-width: 991.98px) {
  .rs-header .menu__list li a {
    width: 100%;
  }
}
.rs-header .menu__list li a i {
  display: none;
}
@media (max-width: 991.98px) {
  .rs-header .menu__list li a i {
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 3px;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
  }
  .rs-header .menu__list li a i::before {
    content: "\e906";
    font-family: "icons" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
  }
}
.rs-header .menu__list li.dropdown-item._open-menu > a > i {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.rs-header .dropdown {
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .rs-header .dropdown {
    padding: 41px 0px 46px;
    position: absolute;
    border-top: 1px solid #f0f2fa;
    border-radius: 0px 0px 30px 30px;
    border-bottom: 1px solid #f0f2fa;
    -webkit-box-shadow: 0px 9px 33px 0px rgba(161, 169, 187, 0.1);
            box-shadow: 0px 9px 33px 0px rgba(161, 169, 187, 0.1);
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    overflow-y: auto;
    overflow-x: hidden;
    top: 100%;
    left: 0;
    display: block;
  }
}
@media (min-width: 991.98px) and (max-width: 1440px) {
  .rs-header .dropdown {
    padding: 35px 0px 35px;
  }
}
@media (min-width: 991.98px) and (max-width: 1170px) {
  .rs-header .dropdown {
    padding: 25px 0px 25px;
  }
}
@media (max-width: 991.98px) {
  .rs-header .dropdown {
    margin-top: 15px;
  }
}
@media (max-width: 991.98px) {
  .rs-header .dropdown__container {
    padding-left: 10px;
    padding-right: 0px;
  }
}
@media (min-width: 991.98px) {
  .rs-header .dropdown__columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 5px;
    gap: 85px;
  }
}
@media (min-width: 991.98px) and (max-width: 1440px) {
  .rs-header .dropdown__columns {
    gap: 50px;
  }
}
@media (min-width: 991.98px) and (max-width: 1170px) {
  .rs-header .dropdown__columns {
    gap: 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-header .dropdown__columns > li:not(:last-child) {
    margin-bottom: 15px;
  }
}
.rs-header .dropdown__columns > li > a {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.08px;
  letter-spacing: 0.16px;
}
@media (max-width: 1440px) and (min-width: 991.98px) {
  .rs-header .dropdown__columns > li > a {
    font-size: 14px;
    line-height: 26.08px;
  }
}
@media (max-width: 991.98px) {
  .rs-header .dropdown__columns > li > a {
    font-weight: 500;
  }
}
@media (max-width: 767.98px) {
  .rs-header .dropdown__columns > li > a {
    font-size: 14px;
    line-height: 26.08px;
  }
}
.rs-header .dropdown__list {
  margin-top: 5.5px;
}
@media (min-width: 991.98px) {
  .rs-header .dropdown__list {
    display: block;
  }
}
.rs-header .dropdown__list > li > a {
  color: var(--gray-font-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.16px;
  padding: 5.5px 0px;
}
@media (max-width: 1440px) and (min-width: 991.98px) {
  .rs-header .dropdown__list > li > a {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .rs-header .dropdown__list > li > a {
    font-size: 14px;
  }
}
.rs-header__logo {
  width: 100%;
  max-width: 140px;
}
@media (min-width: 991.98px) {
  .rs-header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (max-width: 1440px) {
  .rs-header__logo {
    max-width: 120px;
  }
}
@media (max-width: 1170px) {
  .rs-header__logo {
    max-width: 100px;
  }
}
@media (max-width: 991.98px) {
  .rs-header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0px auto 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .rs-header__logo {
    max-width: 75px;
  }
}
.rs-header__logo a {
  display: block;
}
.rs-header__logo a img {
  -o-object-fit: contain;
     object-fit: contain;
}
.rs-header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .rs-header__actions {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 991.98px) {
  .rs-header__actions_item.rs-header__contact a span {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .rs-header__actions_item.rs-header__location {
    margin-top: 50px;
  }
}
.rs-header__actions_item:not(:last-child) {
  margin-right: 32px;
}
@media (max-width: 1440px) {
  .rs-header__actions_item:not(:last-child) {
    margin-right: 24px;
  }
}
@media (max-width: 1170px) {
  .rs-header__actions_item:not(:last-child) {
    margin-right: 16px;
  }
}
@media (max-width: 991.98px) {
  .rs-header__actions_item:not(:last-child) {
    margin-right: 31px;
  }
}
@media (max-width: 767.98px) {
  .rs-header__actions_item:not(:last-child) {
    margin-right: 20px;
  }
}
.rs-header__actions_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.4px;
}
@media (max-width: 1440px) and (min-width: 991.98px) {
  .rs-header__actions_item a {
    font-size: 14px;
    line-height: 21.4px;
  }
}
@media (max-width: 767.98px) {
  .rs-header__actions_item a {
    font-size: 14px;
    line-height: 21.4px;
  }
}
.rs-header__actions_item a::before {
  font-size: 20px;
}
@media (max-width: 767.98px) {
  .rs-header__actions_item a::before {
    font-size: 18px;
  }
}
.rs-header__actions_item a > span {
  margin-left: 4px;
}
.rs-header__actions_item a > span.split-text-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 1px;
  background-color: var(--font-color);
  -webkit-transition: width 0.36s cubic-bezier(0.43, 0.05, 0.17, 1) 0s;
  transition: width 0.36s cubic-bezier(0.43, 0.05, 0.17, 1) 0s;
}
@media (any-hover: hover) {
  .rs-header__actions_item a:hover > span.split-text-wrapper::before {
    left: 0;
    width: 100%;
  }
}
.rs-header__call .rs-btn > .btn-text::before {
  color: #000;
}
@media (max-width: 991.98px) {
  .rs-header__call .rs-btn > .btn-text {
    padding: 0;
    border: none;
    opacity: 1;
    visibility: visible;
  }
  .rs-header__call .rs-btn > .btn-text::before {
    margin: 0;
  }
  .rs-header__call .rs-btn > .svg-wrapper {
    display: none;
  }
  .rs-header__call .rs-btn .split-text-wrapper {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .rs-header__call .rs-btn::before {
    font-size: 18px;
  }
}