.rs-info-block {
  padding: 0px 80px 0px;
  margin: 100px 0px 100px;
}
@media (max-width: 1750px) {
  .rs-info-block {
    padding-left: 40px;
    padding-right: 40px;
    margin: 75px 0px;
  }
}
@media (max-width: 1170px) {
  .rs-info-block {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 991.98px) {
  .rs-info-block {
    padding-left: 0px;
    padding-right: 0px;
    margin: 47px 0px;
  }
}
@media (max-width: 767.98px) {
  .rs-info-block {
    margin: 47px 0px 57px;
  }
}
.rs-info-block .section__wrapper {
  position: relative;
  padding: 95px 0px;
  min-height: 662px;
}
@media (max-width: 1750px) {
  .rs-info-block .section__wrapper {
    padding: 75px 0px;
  }
}
@media (max-width: 1170px) {
  .rs-info-block .section__wrapper {
    padding: 50px 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-info-block .section__wrapper {
    padding: 75px 0px;
  }
}
@media (max-width: 767.98px) {
  .rs-info-block .section__wrapper {
    padding: 60px 0px;
    min-height: 650px;
  }
}
.rs-info-block .section__bg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 30px;
  overflow: hidden;
}
.rs-info-block .section__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991.98px) {
  .rs-info-block .section__bg img:nth-child(1) {
    display: none;
  }
}
@media (min-width: 991.98px), (max-width: 767.98px) {
  .rs-info-block .section__bg img:nth-child(2) {
    display: none;
  }
}
@media (min-width: 767.98px) {
  .rs-info-block .section__bg img:nth-child(3) {
    display: none;
  }
}
.rs-info-block__desc {
  width: 100%;
  max-width: 56.3%;
}
@media (max-width: 991.98px) {
  .rs-info-block__desc {
    text-align: center;
    max-width: 100%;
  }
}
.rs-info-block__desc h2 {
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .rs-info-block__desc h2 {
    margin-bottom: 10px;
  }
}