.rs-list-block {
  padding: 0px 80px 0px;
  margin: 100px 0px 100px;
}
@media (max-width: 1750px) {
  .rs-list-block {
    padding-left: 40px;
    padding-right: 40px;
    margin: 75px 0px;
  }
}
@media (max-width: 1170px) {
  .rs-list-block {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 991.98px) {
  .rs-list-block {
    padding-left: 0px;
    padding-right: 0px;
    margin: 47px 0px;
  }
}
@media (max-width: 767.98px) {
  .rs-list-block {
    margin: 47px 0px 57px;
  }
}
.rs-list-block .section__wrapper {
  position: relative;
  padding: 97px 0px;
}
@media (max-width: 1749.98px) {
  .rs-list-block .section__wrapper {
    padding: 75px 0px;
  }
}
@media (max-width: 1169.98px) {
  .rs-list-block .section__wrapper {
    padding: 50px 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-list-block .section__wrapper {
    padding: 60px 0px 56px;
  }
}
@media (max-width: 767.98px) {
  .rs-list-block .section__wrapper {
    padding: 58px 0px 65px;
  }
}
.rs-list-block .section__container h2 {
  max-width: 100%;
}
.rs-list-block .section__container h5 {
  max-width: 1024px;
  margin-top: 7px;
}
.rs-list-block__list {
  margin-top: 45px;
}
@media (max-width: 1439.98px) {
  .rs-list-block__list {
    margin-top: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-list-block__list {
    margin-top: 20px;
  }
}
.rs-list-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1400px;
  margin: -7.5px;
}
@media (max-width: 991.98px) {
  .rs-list-block__body {
    margin: -4px;
  }
}
.rs-list-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7.5px;
  border-radius: 50px;
  border: 1px solid var(--primary-color);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rs-list-block__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 23px 35px;
}
@media (max-width: 991.98px) {
  .rs-list-block__item a {
    padding: 13px 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-list-block__item {
    margin: 4px;
  }
}
@media (any-hover: hover) {
  .rs-list-block__item:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
  .rs-list-block__item:hover svg path {
    stroke: #fff;
  }
}
.rs-list-block__icon {
  margin-right: 9px;
  width: 23px;
  height: 23px;
}
.rs-list-block__icon svg {
  width: 100%;
  height: 100%;
}
.rs-list-block__icon svg path {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 991.98px) {
  .rs-list-block__icon {
    width: 17px;
    height: 17px;
    margin-right: 7px;
  }
}
@media (max-width: 991.98px) {
  .rs-list-block__desc h6 {
    font-size: 13px;
  }
}