.rs-services {
  overflow: hidden;
  background-color: var(--bg-color);
  padding-bottom: 100px;
}
@media (max-width: 1440px) {
  .rs-services {
    padding-bottom: 75px;
  }
}
@media (max-width: 991.98px) {
  .rs-services {
    padding-bottom: 50px;
  }
}
.rs-services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rs-services__slider {
  margin-top: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  overflow: visible;
}
@media (max-width: 991.98px) {
  .rs-services__slider {
    margin-top: 20px;
  }
}
.rs-services__swiper {
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  transition: -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  -o-transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}
.rs-services__slide {
  min-height: 485px;
  height: auto;
}
@media (max-width: 991.98px) {
  .rs-services__slide {
    min-height: 401px;
  }
}
.rs-services__item {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.rs-services__item.rs-services--green {
  background-color: var(--item-green-bg);
}
.rs-services__item.rs-services--blue {
  background-color: var(--item-blue-bg);
}
.rs-services__item.rs-services--pink {
  background-color: var(--item-pink-bg);
}
.rs-services__item.rs-services--yellow {
  background-color: var(--item-yellow-bg);
}
.rs-services__item.rs-services--orange {
  background-color: var(--item-orange-bg);
}
.rs-services__item.rs-services--red {
  background-color: var(--item-red-bg);
}
.rs-services__img {
  height: 100%;
  position: relative;
  z-index: 2;
  width: 100%;
}
.rs-services__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-services__description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 45px;
  z-index: 3;
  width: 100%;
  height: 100%;
  text-align: center;
}
@media (max-width: 1440px) {
  .rs-services__description {
    padding: 35px 35px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__description {
    padding: 22px 20px;
  }
}
.rs-services__description h4 {
  margin-bottom: 15px;
}
@media (max-width: 767.98px) {
  .rs-services__description h4 {
    margin-bottom: 5px;
  }
  .rs-services__description h4:not(.mobile-title) {
    display: none;
  }
}
@media (min-width: 767.98px) {
  .rs-services__description h4.mobile-title {
    display: none;
  }
}
.rs-services__description p {
  max-width: 345px;
  margin: 0 auto;
}
@media (max-width: 991.98px) {
  .rs-services__description p {
    line-height: 130%;
  }
}
.rs-services__icons {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.rs-services__icon {
  position: absolute;
  z-index: 3;
}
.rs-services__icon.rs-services__line {
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
.rs-services__icon.rs-services__line svg {
  width: 100%;
  height: 100%;
}
.rs-services__icon.rs-services__icon-1 {
  top: 21.7%;
  right: 18.5%;
}
@media (max-width: 991.98px) {
  .rs-services__icon.rs-services__icon-1 {
    width: 80px;
    height: 80px;
    top: 25.7%;
    right: 12.5%;
  }
}
.rs-services__icon.rs-services__icon-3 {
  top: 16.2%;
  left: 1%;
}
@media (max-width: 991.98px) {
  .rs-services__icon.rs-services__icon-3 {
    width: 85px;
    height: 85px;
    top: 23.4%;
    left: 1.2%;
  }
}
.rs-services__icon.rs-services__icon-4 {
  bottom: -4%;
  right: 4%;
}
@media (max-width: 991.98px) {
  .rs-services__icon.rs-services__icon-4 {
    width: 85px;
    height: 85px;
    bottom: 0%;
    right: 9%;
  }
}
.rs-services__icon.rs-services__icon-6 {
  top: 27%;
  right: 4%;
}
@media (max-width: 991.98px) {
  .rs-services__icon.rs-services__icon-6 {
    width: 80px;
    height: 80px;
    top: 39%;
    right: -3%;
  }
}
.rs-services__icon.rs-services__icon-7 {
  bottom: 16%;
  left: 1.4%;
}
@media (max-width: 991.98px) {
  .rs-services__icon.rs-services__icon-7 {
    width: 75px;
    height: 75px;
    bottom: 19%;
    left: -0.6%;
  }
}
.rs-services__icon.rs-services__icon-8 {
  bottom: -1%;
  right: 4%;
}
@media (max-width: 991.98px) {
  .rs-services__icon.rs-services__icon-8 {
    width: 80px;
    height: 80px;
    bottom: 5%;
    right: -3%;
  }
}