.rs-steps {
  padding-bottom: 100px;
  position: relative;
}
@media (max-width: 1350px) {
  .rs-steps {
    padding-bottom: 75px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps {
    padding-bottom: 43px;
    padding-top: 50px;
  }
}
@media (min-width: 991.98px) {
  .rs-steps__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (min-width: 991.98px) {
  .rs-steps__navigation_body {
    position: sticky;
    top: 100px;
  }
  .rs-steps__navigation_body > h2 span {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .rs-steps__navigation_body > h2 span {
    display: block;
  }
}
.rs-steps__navigation_list {
  margin-top: 30px;
}
@media (max-width: 991.98px) {
  .rs-steps__navigation_list {
    display: none;
  }
}
.rs-steps__navigation_list li:not(:last-child) {
  margin-bottom: -9px;
}
.rs-steps__navigation_list li a {
  color: var(--gray-font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 277.778%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 1350px) {
  .rs-steps__navigation_list li a {
    font-size: 16px;
  }
}
@media (any-hover: hover) {
  .rs-steps__navigation_list li a:hover .split-text-origin > span {
    -webkit-transform: translateY(-100%) rotate(-10deg);
        -ms-transform: translateY(-100%) rotate(-10deg);
            transform: translateY(-100%) rotate(-10deg);
  }
  .rs-steps__navigation_list li a:hover .split-text-copy > span {
    -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  .rs-steps__navigation_list li a:hover span.count svg path.hover {
    stroke-dashoffset: 0px;
  }
}
.rs-steps__navigation_list li a._active-step {
  color: var(--primary-color);
}
.rs-steps__navigation_list li a._active-step span.count svg path.hover {
  stroke-dashoffset: 0px;
}
.rs-steps__navigation_list li a span.count {
  min-width: 73px;
  min-height: 74px;
  max-width: 73px;
  max-height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-right: 20px;
  position: relative;
  color: var(--primary-color);
}
.rs-steps__navigation_list li a span.count svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.rs-steps__navigation_list li a span.count svg path.hover {
  stroke: var(--primary-color);
  stroke-dasharray: 250px;
  stroke-dashoffset: 250px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (max-width: 991.98px) {
  .rs-steps__spollers {
    margin-top: 30px;
    border-top: 1px solid #d9dce8;
    padding-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .rs-steps__spollers {
    margin-top: 28px;
  }
}
.rs-steps__spollers_item:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 1350px) {
  .rs-steps__spollers_item:not(:last-child) {
    margin-bottom: 75px;
  }
}
@media (max-width: 1170px) {
  .rs-steps__spollers_item:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__spollers_item:not(:last-child) {
    margin-bottom: 21px;
  }
}
.rs-steps__spollers_title {
  cursor: text;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}
.rs-steps__spollers_title i {
  position: relative;
  max-width: 12px;
  max-height: 12px;
  min-width: 12px;
  min-height: 12px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 991.98px) {
  .rs-steps__spollers_title i {
    display: none;
  }
}
.rs-steps__spollers_title i::before, .rs-steps__spollers_title i::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      -ms-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  width: 2px;
  height: 12px;
  background-color: var(--primary-color);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rs-steps__spollers_title i::before {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      -ms-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
}
.rs-steps__spollers_title._spoller-active i::before {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      -ms-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
}
.rs-steps__spollers_body {
  margin-top: 11px;
}
@media (max-width: 991.98px) {
  .rs-steps__spollers_body {
    margin-top: 5px;
  }
}
.rs-steps__footer {
  padding-top: 20px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .rs-steps__footer {
    padding-bottom: 20px;
  }
}
@media (min-width: 991.98px) {
  .rs-steps__footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.rs-steps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -4px;
  width: 100%;
}
@media (min-width: 991.98px) {
  .rs-steps__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.rs-steps__list li {
  color: var(--gray-font-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  padding: 11px 21px;
  border-radius: 40px;
  background: #f5f7fe;
  margin: 4px;
}
@media (max-width: 991.98px) {
  .rs-steps__list li {
    padding: 11px 15px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.rs-steps__list li.rs-steps__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 991.98px) {
  .rs-steps__list li.rs-steps__time {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 146.25%;
    white-space: nowrap;
    background-color: transparent;
    padding: 0;
    margin: 0px auto 0px 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__list li.rs-steps__time {
    color: var(--gray-font-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 11px 15px;
    border-radius: 40px;
    background: #f5f7fe;
    margin: 4px;
  }
}
.rs-steps__list li.rs-steps__time::before {
  content: "\e902";
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  color: var(--primary-color);
  margin-right: 7px;
}
@media (max-width: 991.98px) {
  .rs-steps__list li.rs-steps__time::before {
    font-size: 13px;
    margin-right: 5px;
  }
}
.rs-steps__picture {
  height: 435px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1350px) {
  .rs-steps__picture {
    height: 350px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__picture {
    display: none;
  }
}
.rs-steps__picture--prototype {
  background-color: var(--item-blue-bg);
}
.rs-steps__picture--prototype .rs-steps__gallery {
  left: -214px;
  top: -185px;
}
.rs-steps__picture--prototype .rs-steps__gallery .rs-steps__column:nth-child(1) {
  margin-top: 116px;
}
.rs-steps__picture--prototype .rs-steps__gallery .rs-steps__column:nth-child(2) {
  margin-top: 182px;
}
.rs-steps__picture--prototype .rs-steps__gallery .rs-steps__column:nth-child(4) {
  margin-top: 138px;
}
.rs-steps__picture--prototype .rs-steps__gallery .rs-steps__column .rs-steps__img {
  width: 253px;
  height: 447px;
}
.rs-steps__picture--prototype .rs-steps__gallery .rs-steps__column .rs-steps__img img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-steps__picture--design {
  background-color: var(--primary-color);
}
.rs-steps__picture--design .rs-steps__gallery {
  left: -76px;
  top: 33px;
}
.rs-steps__picture--design .rs-steps__column {
  -webkit-transform: rotate(8.096deg);
      -ms-transform: rotate(8.096deg);
          transform: rotate(8.096deg);
  z-index: 1;
}
.rs-steps__picture--design .rs-steps__column:nth-child(2) {
  margin-left: -146px;
  margin-top: -331px;
  z-index: 0;
}
.rs-steps__picture--design .rs-steps__column .rs-steps__img {
  width: 564px;
  height: 1662px;
  -webkit-box-shadow: 0px 0px 97px 4px rgba(47, 49, 115, 0.5);
          box-shadow: 0px 0px 97px 4px rgba(47, 49, 115, 0.5);
}
.rs-steps__picture--design .rs-steps__column .rs-steps__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-steps__picture--style-inner {
  background-color: var(--item-blue-bg);
}
.rs-steps__picture--style-inner .rs-steps__gallery {
  -webkit-transform: rotate(30.52deg);
      -ms-transform: rotate(30.52deg);
          transform: rotate(30.52deg);
  left: -55px;
  top: -125px;
}
.rs-steps__picture--style-inner .rs-steps__column:nth-child(1) {
  margin-top: 97px;
}
.rs-steps__picture--style-inner .rs-steps__column:nth-child(2) {
  margin-top: -26px;
}
.rs-steps__picture--style-inner .rs-steps__column .rs-steps__img {
  width: 292px;
  height: 190px;
}
.rs-steps__picture--style-inner .rs-steps__column .rs-steps__img img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-steps__picture--develop {
  background-color: var(--primary-color);
}
.rs-steps__picture--develop .rs-steps__gallery {
  margin: 0;
}
.rs-steps__picture--develop .rs-steps__column {
  width: 100%;
  height: 100%;
}
.rs-steps__picture--develop .rs-steps__column .rs-steps__img {
  width: 100%;
  height: 100%;
  margin: 0;
}
.rs-steps__picture--develop .rs-steps__column .rs-steps__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-steps__gallery {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: -10px;
}
.rs-steps__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.rs-steps__img {
  margin: 10px;
}