.rs-slider-block {
  margin: 100px 0px;
}
@media (max-width: 1439.98px) {
  .rs-slider-block {
    margin: 75px 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-slider-block {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .rs-slider-block {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}
.rs-slider-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rs-slider-block__head {
  width: 100%;
  max-width: 995px;
}
.rs-slider-block__head h2 {
  margin-bottom: 16px;
}
.rs-slider-block__slider {
  overflow: visible;
  width: 100%;
  margin-top: 35px;
}
@media (max-width: 991.98px) {
  .rs-slider-block__slider {
    margin-top: 24px;
  }
}
@media (max-width: 767.98px) {
  .rs-slider-block__slider {
    margin-top: 20px;
  }
}
.rs-slider-block__slider .swiper-horizontal > .swiper-pagination-progressbar,
.rs-slider-block__slider .swiper-pagination-progressbar.swiper-pagination-horizontal,
.rs-slider-block__slider .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.rs-slider-block__slider .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 2px;
  left: 0;
  margin-top: 34px;
}