@charset "UTF-8";
.rs-task {
  margin: 100px 0px;
}
@media (max-width: 1439.98px) {
  .rs-task {
    margin: 75px 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-task {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
@media (max-width: 767.98px) {
  .rs-task {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}
@media (min-width: 991.98px) {
  .rs-task__container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 34px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-task__container {
    gap: 20px;
  }
}
.rs-task__container > h5 {
  margin-top: 16px;
}
@media (max-width: 991.98px) {
  .rs-task__container > h5 {
    margin-top: 20px;
  }
}
@media (min-width: 991.98px) {
  .rs-task__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-task__list {
    gap: 20px;
  }
}
.rs-task__item {
  padding: 45px 50px;
  border-radius: 15px;
  background: #f5f7fe;
}
.rs-task-features .rs-task__item {
  padding: 50px;
}
@media (max-width: 1439.98px) {
  .rs-task-features .rs-task__item {
    padding: 30px;
  }
}
.rs-task-features .rs-task__item:first-child {
  background-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
}
.rs-task-features .rs-task__item:first-child .rs-task__features_icon {
  background-color: #f1faea;
}
@media (max-width: 991.98px) {
  .rs-task-features .rs-task__item:first-child {
    padding: 0;
    margin-bottom: 50px;
  }
}
.rs-task-features .rs-task__item:last-child {
  background-color: #f1faea;
}
@media (max-width: 991.98px) {
  .rs-task-features .rs-task__item:last-child {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767.98px) {
  .rs-task-features .rs-task__item:last-child {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: -20px;
    margin-left: -20px;
  }
}
@media (max-width: 1439.98px) {
  .rs-task__item {
    padding: 25px 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-task__item {
    padding: 22px 24px;
    margin-top: 15px;
  }
}
@media (max-width: 767.98px) {
  .rs-task__item {
    padding: 22px 20px;
  }
}
.rs-task__item h4 {
  margin-bottom: 6px;
  line-height: 140%; /* 35px */
}
.rs-task__item ul li {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991.98px) {
  .rs-task__item ul li {
    font-size: 16px;
    line-height: 130%;
  }
}
.rs-task__item ul li::before {
  content: "·";
  font-size: 30px;
  display: block;
  font-weight: 900;
  margin-right: 10px;
  margin-left: 10px;
  color: inherit;
}
.rs-task__features {
  width: 100%;
  max-width: 686px;
}
.rs-task__features_list {
  margin-top: 33px;
}
@media (max-width: 991.98px) {
  .rs-task__features_list {
    margin-top: 24px;
  }
}
.rs-task__features_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.rs-task__features_item:not(:last-child) {
  margin-bottom: 33px;
}
@media (max-width: 991.98px) {
  .rs-task__features_item:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (max-width: 767.98px) {
  .rs-task__features_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.rs-task__features_icon {
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 10px;
  background: #fff;
  margin-right: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #25c16f;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 141.9%; /* 25.542px */
}
@media (max-width: 991.98px) {
  .rs-task__features_icon {
    margin-right: 15px;
  }
}
@media (max-width: 767.98px) {
  .rs-task__features_icon {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
.rs-task__features_desc p {
  margin-top: 5px;
}
.rs-task__note {
  color: #9397ad;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  margin-top: 90px;
}
@media (max-width: 1439.98px) {
  .rs-task__note {
    margin-top: 60px;
  }
}
@media (max-width: 991.98px) {
  .rs-task__note {
    font-size: 16px;
    line-height: 130%;
    margin-top: 30px;
  }
}
.rs-task__block {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .rs-task__block {
    margin-top: 15px;
  }
}
@media (max-width: 767.98px) {
  .rs-task__block {
    height: 401px;
  }
}
.rs-task__block.rs-task__block--green {
  background-color: var(--item-green-bg);
}
.rs-task__block.rs-task__block--blue {
  background-color: var(--item-blue-bg);
}
.rs-task__block.rs-task__block--pink {
  background-color: var(--item-pink-bg);
}
.rs-task__block.rs-task__block--yellow {
  background-color: var(--item-yellow-bg);
}
.rs-task__block.rs-task__block--orange {
  background-color: var(--item-orange-bg);
}
.rs-task__block.rs-task__block--red {
  background-color: var(--item-red-bg);
}
.rs-task__img {
  height: 100%;
  position: relative;
  z-index: 2;
  width: 100%;
}
.rs-task__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 541px;
}
@media (max-width: 991.98px) {
  .rs-task__img img {
    max-height: 401px;
  }
}
@media (max-width: 991.98px) {
  .rs-task__img img:nth-child(1) {
    display: none;
  }
}
@media (min-width: 991.98px), (max-width: 767.98px) {
  .rs-task__img img:nth-child(2) {
    display: none;
  }
}
@media (min-width: 767.98px) {
  .rs-task__img img:nth-child(3) {
    display: none;
  }
}
.rs-task__description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 45px;
  z-index: 3;
  width: 100%;
  height: 100%;
}
@media (max-width: 1439.98px) {
  .rs-task__description {
    padding: 35px 35px;
  }
}
@media (max-width: 991.98px) {
  .rs-task__description {
    padding: 22px 20px;
  }
}
.rs-task__description h4 {
  margin-bottom: 14px;
}
@media (max-width: 991.98px) {
  .rs-task__description h4 {
    margin-bottom: 8px;
  }
}
.rs-task__icons {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.rs-task__icon {
  position: absolute;
  z-index: 3;
}
.rs-task__icon img {
  -o-object-fit: contain;
     object-fit: contain;
}
.rs-task__icon-1 {
  bottom: 27.7%;
  left: 17%;
}
@media (max-width: 991.98px) {
  .rs-task__icon-1 {
    width: 95px;
    height: 95px;
    bottom: 23.7%;
    left: 17.3%;
  }
}
.rs-task__icon-2 {
  bottom: 7%;
  right: 1%;
}
@media (max-width: 991.98px) {
  .rs-task__icon-2 {
    width: 95px;
    height: 95px;
    right: -1.8%;
    bottom: -1.4%;
  }
}
.rs-task__line {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.rs-task__line svg {
  width: 100%;
  height: 100%;
}