.popup-show .popup::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 5px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
	z-index: 1000;

	&::after {
		content: "";
		background-color: rgba(4, 4, 34, 0.5);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
		pointer-events: none;
		z-index: -1;
	}
}
.popup_show {
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
}
.popup__close {
	position: absolute;
	right: 19px;
	top: 16px;
	z-index: 10;
	width: 46px;
	height: 46px;
	background-color: #f5f7fe;
	border-radius: 50%;

	@media (max-width: 991.98px) {
		top: 25px;
		height: 25px;
		width: 40px;
		height: 40px;
	}

	@media (max-width: 767.98px) {
		top: 5px;
		right: 5px;
	}

	&::before {
		font-size: 14px;
		color: #383b56;

		@media (max-width: 991.98px) {
			font-size: 12px;
		}
	}
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #fff;
	padding: 40px;
	width: 100%;
	max-width: 580px;
	border-radius: 20px;
	position: relative;

	@media (max-width: 1439.98px) {
		padding: 20px;
	}

	@media (max-width: 991.98px) {
		max-width: 505px;
		padding: 45px;
	}

	@media (max-width: 767.98px) {
		padding: 25px;
	}

	.lock & {
		visibility: visible;
	}
}
.popup__text {
	h4 {
		font-size: 25px;
		font-style: normal;
		font-weight: 500;
		line-height: 140%;
		text-align: center;

		@media (max-width: 991.98px) {
			font-size: 21px;
			text-align: left;
		}

		@media (max-width: 767.98px) {
			font-size: 19px;
		}
	}

	p {
		margin-top: 4px;
		max-width: 458px;
		font-weight: 400;
		font-size: 16px;
		// line-height: 26px;
		line-height: 160%;
		text-align: center;
		color: #1d1e21;

		@media (max-width: 991.98px) {
			font-size: 15px;
			line-height: 130%;
			margin-top: 4px;
			text-align: left;
		}

		@media (max-width: 767.98px) {
			font-size: 13px;
			margin-top: 5px;
		}
	}

	.form {
		margin-top: 23px;

		@media (max-width: 991.98px) {
			margin-top: 11px;
		}

		@media (max-width: 767.98px) {
			margin-top: 13px;
		}
	}

	.rs-input {
		padding-top: 26px;
		padding-bottom: 12px;

		@media (max-width: 991.98px) {
			font-size: 15px;
		}

		@media (max-width: 767.98px) {
			padding: 22px 15px 7px;
			font-size: 14px;
		}
	}
}

.popup-right {
	@media (min-width: 991.98px) {
		padding-top: 85px;
		padding-right: 175px;

		@media (max-width: 1611.98px) {
			padding-right: 20px;
		}

		.popup__content {
			box-shadow: 3px 11px 29px 0 rgba(125, 138, 152, 0.25);
			background: #fff;
		}

		.popup__wrapper {
			justify-content: flex-start;
			align-items: flex-end;
		}

		&::after {
			display: none;
		}
	}
}

.popup {
	&.popup-contact {
		.popup__content {
			max-width: 615px;
		}
	}
	// .popup__contact
	&__contact {
		// .popup__contact_wrapper
		&_wrapper {
		}

		// .popup__contact_item
		&_item {
			padding: 20px 0px;

			h5 {
				font-weight: 500;
				font-size: 19px;
				// line-height: 25px;
				line-height: 130%;
				color: #141517;
				margin-bottom: 10px;
			}

			&:first-child {
				padding: 0px 0px 20px;
			}

			&:last-child {
				padding: 20px 0px 0px;

				.popup__contact_list {
					li {
						width: 100%;
					}
				}
			}

			&:not(:last-child) {
				border-bottom: 1px solid #d4d7e5;
			}
		}

		// .popup__contact_list
		&_list {
			display: flex;
			flex-wrap: wrap;
			margin: -1.5px -15px;

			li {
				padding: 1.5px 15px;
				font-weight: 400;
				font-size: 16px;
				// line-height: 21px;
				line-height: 130%;
				color: #1d1e21;

				&.popup__contact_email {
					a {
						text-decoration: underline;
						text-decoration-skip-ink: none;
						color: #6366f1;
					}
				}
			}
		}

		&_green,
		&_red {
			&::before {
				content: "";
				position: relative;
				display: inline-block;
				min-width: 15px;
				min-height: 15px;
				max-width: 15px;
				max-height: 15px;
				margin-right: 4px;
				margin-top: 3px;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
		}

		// .popup__contact_green
		&_green {
			&::before {
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.51976 4.52546C4.2949 3.7637 3.68456 3.84719 3.26726 4.20198C2.23929 5.15154 0.900789 7.1446 1.75744 10.0145C2.47487 12.4458 5.46011 14.0006 5.46011 14.0006H1.98011C1.98011 14.0006 0.183242 11.9867 0.0226128 9.61799C-0.180832 6.62322 1.01856 4.73449 2.4106 3.50322C3.71697 2.34495 4.95911 2.00061 4.95911 2.00061L7.49998 10.3256L10.0409 2.00061C10.0409 2.00061 11.283 2.34495 12.5894 3.50322C13.9814 4.73449 15.1808 6.62322 14.9773 9.61799C14.8167 11.9867 13.0198 14.0006 13.0198 14.0006H9.53985C9.53985 14.0006 12.5248 12.4458 13.2425 10.0145C14.0992 7.14493 12.7607 5.15186 11.7327 4.20198C11.3151 3.84719 10.7047 3.7637 10.4802 4.52546C9.70923 6.95676 7.5003 13.923 7.5003 13.923C7.5003 13.923 5.29137 6.95443 4.52039 4.52546H4.51976Z' fill='%2325C16F'/%3e%3c/svg%3e ");
			}
			span {
				color: #25c16f;
			}
		}

		// .popup__contact_red
		&_red {
			&::before {
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.51976 4.52546C4.2949 3.7637 3.68456 3.84719 3.26726 4.20198C2.23929 5.15154 0.900789 7.1446 1.75744 10.0145C2.47487 12.4458 5.46011 14.0006 5.46011 14.0006H1.98011C1.98011 14.0006 0.183242 11.9867 0.0226128 9.61799C-0.180832 6.62322 1.01856 4.73449 2.4106 3.50322C3.71697 2.34495 4.95911 2.00061 4.95911 2.00061L7.49998 10.3256L10.0409 2.00061C10.0409 2.00061 11.283 2.34495 12.5894 3.50322C13.9814 4.73449 15.1808 6.62322 14.9773 9.61799C14.8167 11.9867 13.0198 14.0006 13.0198 14.0006H9.53985C9.53985 14.0006 12.5248 12.4458 13.2425 10.0145C14.0992 7.14493 12.7607 5.15186 11.7327 4.20198C11.3151 3.84719 10.7047 3.7637 10.4802 4.52546C9.70923 6.95676 7.5003 13.923 7.5003 13.923C7.5003 13.923 5.29137 6.95443 4.52039 4.52546H4.51976Z' fill='%23FF8A8A'/%3e%3c/svg%3e ");
			}

			span {
				color: #ff8a8a;
			}
		}

		// .popup__contact_map
		&_map {
			margin-top: 15px;
			height: 315px;

			.map {
				height: 100%;
				width: 100%;
			}
		}

		// .popup__contact_btn
		&_btn {
			display: flex;
			align-items: center;
			margin-top: 15px;

			.rs-btn {
				margin-right: 30px;
			}
		}
	}
}
