.rs-calc {
	@media (min-width: 1439.98px) {
		margin-bottom: 104px;
	}

	@media (max-width: 991.98px) {
		display: none;
	}

	// .rs-calc__content
	&__content {
	}

	// .rs-calc__container
	&__container {
	}

	// .rs-calc__body
	&__body {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: -15px;

		@media (max-width: 1170px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 0;
		}
	}

	// .rs-calc__settings
	&__settings {
		width: 100%;
		margin: 15px;
		max-width: 865px;

		@media (max-width: 1170px) {
			max-width: 100%;
			margin: 0;
		}

		& > h2 {
			margin-bottom: 15px;
		}

		// .rs-calc__settings_wrapper
		&_wrapper {
			margin-top: 54px;
			padding: 66px 56px 70px 60px;
			border-radius: 25px;
			background: #fff;

			@media (max-width: 1750px) {
				margin-top: 40px;
				padding: 40px 30px 40px 30px;
			}

			@media (max-width: 1170px) {
				margin-top: 30px;
				padding: 30px 25px 30px 25px;
			}

			@media (max-width: 991.98px) {
				padding: 25px 15px 25px 15px;
			}
		}

		// .rs-calc__settings_block
		&_block {
			&:not(:last-child) {
				margin-bottom: 75px;
			}
		}

		// .rs-calc__settings_item
		&_item {
			&:not(:last-child) {
				margin-top: 27px;
				margin-bottom: 65px;

				@media (max-width: 1750px) {
					margin-top: 20px;
					margin-bottom: 50px;
				}
			}
		}

		// .rs-calc__settings_list
		&_list {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: 15px -5px -5px;
		}

		.radio {
			margin: 5px;
			display: flex;
			align-items: center;
			border-radius: 30px;
			background: #f5f7fe;

			label {
				display: flex;
				align-items: center;
				cursor: pointer;
				position: relative;
				text-align: left;
				padding: 11px 18px;
			}

			label input {
				position: absolute;
				height: 100%;
				width: 100%;
				opacity: 0;
				font-size: 0px;
				visibility: hidden;
			}

			label .radio__pseudo {
				display: block;
				transition: all 0.3s ease 0s;
				position: relative;
				min-height: 20px;
				min-width: 20px;
				max-height: 20px;
				max-width: 20px;
				background-color: transparent;
				border: 1.35px solid var(--primary-color-btn);
				border-radius: 50%;
				margin-right: 9px;
				transition: all 0.3s ease 0s;

				@media (max-width: 1170px) {
					min-height: 16px;
					min-width: 16px;
					max-height: 16px;
					max-width: 16px;
				}

				&::before {
					content: "";
					display: block;
					position: absolute;
					background-color: var(--primary-color-btn);
					top: 50%;
					left: 50%;
					opacity: 0;
					width: 8px;
					height: 8px;
					z-index: 1;
					border-radius: inherit;
					transform: translate(-50%, -50%) scale(1.5);
					transition: ease-out 0.15s;
				}
			}

			label input:checked ~ .radio__pseudo::before {
				transform: translate(-50%, -50%) scale(1);
				opacity: 1;
			}

			.radio__label {
				color: var(--gray-font-color);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 130%;
			}
		}

		.range {
			// .range__header
			&__header {
				display: flex;
				align-items: center;
				margin-bottom: 20px;

				@media (max-width: 1170px) {
					margin-bottom: 10px;
				}
			}

			// .range__tooltip
			&__tooltip {
				display: inline-flex;
				position: relative;

				@media (any-hover: hover) {
					&:hover {
						.range__tooltip_modal {
							animation: shake 500ms ease-in-out forwards;
							opacity: 1;
							visibility: visible;
						}
					}
				}

				// .range__tooltip_btn
				&_btn {
					font-size: 24px;
					color: var(--primary-color-btn);
					margin-left: 8px;

					@media (max-width: 1750px) {
						font-size: 20px;
					}
					@media (max-width: 1170px) {
						font-size: 16px;
					}
				}

				// .range__tooltip_modal
				&_modal {
					position: absolute;
					left: calc(100% + 12px);
					top: 50%;
					padding: 16px 12px;
					background-color: #fff;
					border-radius: 8px;
					transform: translateY(-50%);
					opacity: 0;
					visibility: hidden;
					box-shadow: 0px 8px 16px -2px rgba(27, 33, 44, 0.12);
					z-index: 100;
					max-width: 292px;
					white-space: nowrap;
					color: var(--gray-font-color);
					font-size: 13px;
					font-style: normal;
					font-weight: 400;
					line-height: 107.692%;
					transition: all 0.3s ease 0s;

					@keyframes shake {
						0% {
							transform: translateY(-50%) translateX(30px) rotate(2deg);
						}
						50% {
							transform: translateY(-50%) rotate(-3deg);
						}
						70% {
							transform: translateY(-50%) rotate(3deg);
						}

						100% {
							transform: translateY(-50%) translateX(0px) rotate(0deg);
						}
					}

					&::before {
						content: "";
						position: absolute;
						right: 100%;
						top: 50%;
						transform: translateY(-50%);
						background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='16' viewBox='0 0 8 16' fill='none'%3e%3cpath d='M8 16L8 0L1.41421 6.58579C0.633165 7.36684 0.633165 8.63317 1.41421 9.41421L8 16Z' fill='white'/%3e%3c/svg%3e");
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
						height: 16px;
						width: 8px;
					}
				}
			}

			// .range__count
			&__count {
				margin: 0px 0px 0px auto;
			}

			.range__input {
				height: 5px;
				border: none;
				box-shadow: none;
				background: var(--light-gray-border);
				border-radius: 6px;

				&.active-pip-1 {
					*:nth-child(2) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-2 {
					*:nth-child(2),
					*:nth-child(4) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-3 {
					*:nth-child(2),
					*:nth-child(4),
					*:nth-child(6) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-4 {
					*:nth-child(2),
					*:nth-child(4),
					*:nth-child(6),
					*:nth-child(8) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-5 {
					*:nth-child(2),
					*:nth-child(4),
					*:nth-child(6),
					*:nth-child(8),
					*:nth-child(10) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-6 {
					*:nth-child(2),
					*:nth-child(4),
					*:nth-child(6),
					*:nth-child(8),
					*:nth-child(10),
					*:nth-child(12) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-7 {
					*:nth-child(2),
					*:nth-child(4),
					*:nth-child(6),
					*:nth-child(8),
					*:nth-child(10),
					*:nth-child(12),
					*:nth-child(14) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-8 {
					*:nth-child(2),
					*:nth-child(4),
					*:nth-child(6),
					*:nth-child(8),
					*:nth-child(10),
					*:nth-child(12),
					*:nth-child(14),
					*:nth-child(16) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-9 {
					*:nth-child(2),
					*:nth-child(4),
					*:nth-child(6),
					*:nth-child(8),
					*:nth-child(10),
					*:nth-child(12),
					*:nth-child(14),
					*:nth-child(16),
					*:nth-child(18) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-10 {
					*:nth-child(2),
					*:nth-child(4),
					*:nth-child(6),
					*:nth-child(8),
					*:nth-child(10),
					*:nth-child(12),
					*:nth-child(14),
					*:nth-child(16),
					*:nth-child(18),
					*:nth-child(20) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-11 {
					*:nth-child(2),
					*:nth-child(4),
					*:nth-child(6),
					*:nth-child(8),
					*:nth-child(10),
					*:nth-child(12),
					*:nth-child(14),
					*:nth-child(16),
					*:nth-child(18),
					*:nth-child(20),
					*:nth-child(22) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-12 {
					*:nth-child(2),
					*:nth-child(4),
					*:nth-child(6),
					*:nth-child(8),
					*:nth-child(10),
					*:nth-child(12),
					*:nth-child(14),
					*:nth-child(16),
					*:nth-child(18),
					*:nth-child(20),
					*:nth-child(22),
					*:nth-child(24) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-13 {
					*:nth-child(2),
					*:nth-child(4),
					*:nth-child(6),
					*:nth-child(8),
					*:nth-child(10),
					*:nth-child(12),
					*:nth-child(14),
					*:nth-child(16),
					*:nth-child(18),
					*:nth-child(20),
					*:nth-child(22),
					*:nth-child(24),
					*:nth-child(26) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-14 {
					*:nth-child(2),
					*:nth-child(4),
					*:nth-child(6),
					*:nth-child(8),
					*:nth-child(10),
					*:nth-child(12),
					*:nth-child(14),
					*:nth-child(16),
					*:nth-child(18),
					*:nth-child(20),
					*:nth-child(22),
					*:nth-child(24),
					*:nth-child(26),
					*:nth-child(28) {
						color: var(--primary-color-btn);
					}
				}

				&.active-pip-15 {
					*:nth-child(2),
					*:nth-child(4),
					*:nth-child(6),
					*:nth-child(8),
					*:nth-child(10),
					*:nth-child(12),
					*:nth-child(14),
					*:nth-child(16),
					*:nth-child(18),
					*:nth-child(20),
					*:nth-child(22),
					*:nth-child(24),
					*:nth-child(26),
					*:nth-child(28),
					*:nth-child(30) {
						color: var(--primary-color-btn);
					}
				}
			}

			.range__input .noUi-connect {
				background: var(--primary-color-btn);
				cursor: pointer;
			}

			.range__input .noUi-handle {
				height: 20px;
				width: 20px;
				right: -10px;
				top: -7px;
				border-radius: 50%;
				border: none;
				box-shadow: none;
				background: var(--primary-color-btn);
				cursor: ew-resize;

				&::before,
				&::after {
					display: none;
				}
			}

			.range__input .noUi-marker {
				display: none;
			}

			.range__input .noUi-pips-horizontal {
				padding: 0px 0;
				margin-top: 16px;
				height: auto;
				top: 0;
				left: 0;
				width: 100%;
			}

			.range__input .noUi-pips {
				position: relative;
				color: var(--light-gray-border);
			}

			.range__input .noUi-value {
				color: var(--light-gray-border);
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 87.5%;
				transition: color 0.3s ease 0s;

				@media (max-width: 1170px) {
					font-size: 14px;
				}

				&.active-pip {
					color: var(--primary-color-btn);
				}
			}
		}
	}

	// .rs-calc__cost
	&__cost {
		max-width: 610px;
		width: 100%;
		margin: 15px;

		@media (max-width: 1170px) {
			max-width: 100%;
			margin: 0;
			margin-top: 50px;
		}

		// .rs-calc__cost_img
		&_img {
			margin: -5px -50px 0px;

			@media (max-width: 1750px) {
				margin: -5px -15px 0px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		// .rs-calc__cost_list
		&_list {
			margin-top: 40px;

			@media (max-width: 1170px) {
				margin-top: 30px;
			}

			ul {
				margin-top: 14px;

				li {
					display: flex;
					align-items: center;
					justify-content: space-between;
					color: var(--gray-font-color);
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 256%;

					@media (max-width: 1170px) {
						font-size: 16px;
						line-height: 256%;
					}

					@media (max-width: 991.98px) {
						font-size: 14px;
						line-height: 256%;
					}

					span {
						flex-grow: 1;
						display: flex;
						align-items: flex-end;
						justify-content: flex-end;

						&::before {
							content: "";
							flex-grow: 1;
							border-bottom: 1px solid var(--light-gray-border);
							margin: 0px 10px 15px;
						}
					}
				}
			}
		}

		// .rs-calc__cost_footer
		&_footer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 40px;
			position: relative;

			@media (max-width: 539.98px) {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
			}
		}

		// .rs-calc__cost_total
		&_total {
			p {
				margin-top: -5px;
				color: var(--gray-font-color);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 170%;
			}
		}

		// .rs-calc__cost_submit
		&_submit {
			@media (max-width: 539.98px) {
				margin-top: 15px;
				display: inline-flex;
				position: relative;
			}
			& > svg {
				position: absolute;
				top: calc(100% - 30px);
				left: calc(100% - 10px);
			}
		}
	}
}
