.rs-document {
	padding: 210px 0px 120px;
	margin: 0  !important;
	color: #fff;

	@media (max-width: 991.98px) {
		padding: 102px 0px 300px;
	}

	@media (max-width: 767.98px) {
		padding: 73px 0px 271px;
	}

	// .rs-document__bg

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .rs-document__container
	&__container {
		& > h1 {
			max-width: 1250px;
			margin: 0 auto;

			@media (min-width: 991.98px) {
				text-align: center;
			}
		}

		& > h5 {
			color: #fff;
			max-width: 1007px;
			margin: 30px auto 0px;

			@media (min-width: 991.98px) {
				text-align: center;
			}

			@media (max-width: 991.98px) {
				margin-top: 16px;
			}
		}
	}

	// .rs-document__wrapper
	&__wrapper {
		margin-top: 127px;

		@media (max-width: 1439.98px) {
			margin-top: 70px;
		}

		@media (max-width: 991.98px) {
			margin-top: 46px;
			border-top: 1px solid rgba(217, 220, 232, 0.2);
			padding-top: 15px;
		}

		@media (max-width: 767.98px) {
			margin-top: 57px;
		}
	}

	// .rs-document__spollers
	&__spollers {
		display: flex;
		flex-wrap: wrap;
		margin: -24px;

		@media (max-width: 1439.98px) {
			margin: -15px;
		}

		@media (max-width: 1169.98px) {
			margin: -7.5px;
		}

		@media (max-width: 991.98px) {
			margin: 0;
		}

		&_block {
			padding: 24px;
			flex: 1 1 100%;

			@media (max-width: 1439.98px) {
				padding: 15px;
			}

			@media (max-width: 1169.98px) {
				padding: 7.5px;
			}

			@media (min-width: 1169.98px) {
				&:nth-child(2),
				&:nth-child(3) {
					flex: 1 1 50%;

					.rs-document__spollers_title {
						font-size: 35px;
						font-style: normal;
						font-weight: 500;
						line-height: 110%; /* 38.5px */
					}
				}
			}

			@media (min-width: 991.98px) {
				&:nth-child(1) {
					.rs-document__spollers_body {
						margin: 8px -15px -15px;
					}

					.rs-document__list {
						ul {
							padding: 35px;
							border-radius: 15px;
							background: rgba(255, 255, 255, 0.05);
						}
					}
				}
			}

			@media (max-width: 991.98px) {
				padding: 0;

				&:not(:last-child) {
					margin-bottom: 16px;

					@media (max-width: 767.98px) {
						margin-bottom: 15px;
					}
				}
			}
		}

		// .rs-document__spollers_item
		&_item {
			@media (min-width: 991.98px) {
				padding: 80px 85px;
				border-radius: 30px;
				background: rgba(255, 255, 255, 0.1);

				@media (max-width: 1439.98px) {
					padding: 40px 45px;
				}

				@media (max-width: 1169.98px) {
					padding: 20px 25px;
				}
			}

			@media (max-width: 991.98px) {
				&:not(:last-child) {
					margin-bottom: 25px;
				}
			}
		}

		// .rs-document__spollers_title
		&_title {
			width: 100%;
			text-align: left;
			cursor: default;
			font-size: 45px;
			font-style: normal;
			font-weight: 500;
			line-height: 130%; /* 58.5px */
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			position: relative;

			@media (max-width: 1439.98px) {
				font-size: 35px;
			}

			@media (max-width: 1170px) {
				font-size: 30px;
			}

			@media (max-width: 991.98px) {
				font-size: 19px;
				padding-right: 20px;
				align-items: center;
				flex-direction: row;
				padding-right: 25px;
			}

			@media (max-width: 767.98px) {
				display: block;
			}

			span {
				margin-top: 10px;
				font-size: 25px;
				font-style: normal;
				font-weight: 500;
				line-height: 140%; /* 35px */

				@media (max-width: 991.98px) {
					font-size: 19px;
					line-height: 130%;
					margin-top: 0px;
					margin-left: 7px;
				}

				@media (max-width: 767.98px) {
					margin: 0;
				}
			}

			i {
				@media (min-width: 991.98px) {
					display: none;
				}

				position: absolute;
				top: 5px;
				right: 0;
				max-width: 14px;
				max-height: 14px;
				min-width: 14px;
				min-height: 14px;
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				&::before,
				&::after {
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) rotate(-90deg);
					width: 2px;
					height: 12px;
					background-color: #fff;
					border-radius: 2px;
					transition: all 0.3s ease 0s;
				}

				&::before {
					transform: translate(-50%, -50%) rotate(0deg);
				}
			}

			&._spoller-active {
				& > i:before {
					transform: translate(-50%, -50%) rotate(-90deg);
				}
			}
		}

		// .rs-document__spollers_body
		&_body {
			margin: 15px -15px -15px;

			@media (min-width: 991.98px) {
				display: flex;
			}

			@media (max-width: 991.98px) {
				width: 100%;
				margin-top: 15px;
				margin-left: 0px;
				margin-right: 0px;
				margin-bottom: 0px;
				padding-bottom: 20px;
			}
		}
	}

	// .rs-document__format
	&__format {
		padding: 3px 11px;
		border-radius: 10px;
		display: inline-block;
		border: 2px solid #fff;
		font-size: 15px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
		margin-bottom: 7px;

		@media (max-width: 991.98px) {
			display: none;
		}
	}

	// .rs-document__list
	&__list {
		flex: 1 1 33.3333%;
		padding: 15px;

		@media (max-width: 1439.98px) {
			padding: 10px;
		}

		@media (max-width: 1169.98px) {
			flex: 1 1 50%;
		}

		@media (max-width: 991.98px) {
			padding-top: 0px;
			padding-bottom: 0px;
			padding-left: 0px;
			padding-right: 0px;
			flex: 1 1 100%;

			&:not(:last-child) {
				margin-bottom: 17px;
			}
		}

		ul {
			height: 100%;

			@media (max-width: 1169.98px) {
				padding-left: 17px;
				position: relative;

				&::before {
					content: "";
					position: absolute;
					top: 5px;
					left: 0;
					width: 7px;
					height: 7px;
					background-color: var(--primary-color);
					border-radius: 50%;
				}
			}

			li {
				&:not(:last-child) {
					margin-bottom: 10px;

					@media (max-width: 1169.98px) {
						margin-bottom: 20px;
					}

					@media (max-width: 991.98px) {
						margin-bottom: 14px;
					}
				}

				a {
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 160%; /* 28.8px */
					transition: all 0.3s ease 0s;
					position: relative;

					display: inline;
					text-decoration: none;
					background-image: linear-gradient(transparent, transparent),
						linear-gradient(transparent, transparent), linear-gradient(to right, #fff, #fff);
					background-repeat: no-repeat;
					background-position: bottom left;
					background-size: 0% 1px;

					@media (max-width: 1169.98px) {
						font-size: 16px;
						line-height: 130%;
					}

					@media (any-hover: hover) {
						&:hover {
							background-size: 100% 1px;
						}
					}
				}
			}
		}
	}
}
