.rs-logo {
	// .rs-logo__container
	&__container {
	}

	// .tabs__navigation
	&__filters {
		display: flex;
		align-items: center;

		@media (max-width: 991.98px) {
			display: flex;
			overflow-y: hidden;
			overflow-x: auto;
			padding: 20px 15px 10px;
			margin: -10px -15px;
			max-width: calc(100% + 30px);
			width: calc(100% + 30px);

			&::-webkit-scrollbar {
				width: 0px;
				height: 0px;
			}
		}
	}

	// .tabs__title
	&__filter {
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 23.4px; /* 146.25% */
		padding: 11px 25px;
		border-radius: 40px;
		background-color: #f5f7fe;
		transition: all 0.3s ease 0s;

		@media (max-width: 1439.98px) {
			font-size: 14px;
			padding: 10px 24px;
		}

		@media (max-width: 1169.98px) {
			padding: 5px 12px;
			font-size: 13px;
			border-radius: 20px;
		}

		@media (max-width: 991.98px) {
			flex: 1 1 auto;
			min-width: 90px;
			white-space: nowrap;
		}

		&:not(:last-child) {
			margin-right: 9px;
		}

		&._filter-active {
			color: #fff;
			background-color: var(--primary-color);
		}
	}

	// .rs-logo__head
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 991.98px) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
	}

	// .rs-logo__slider
	&__slider {
		margin-top: 20px;

		@media (max-width: 991.98px) {
			margin-top: 20px;
			overflow: visible;
		}
	}

	// .rs-logo__swiper
	&__swiper {
	}

	// .rs-logo__slide
	&__slide {
		border-radius: 10px;
		border: 1px solid var(--light-gray-border);
		overflow: hidden;
		min-height: 100px;
		height: auto;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .rs-logo__action
	&__action {
		display: flex;
		align-items: center;
		margin-top: 20px;

		@media (max-width: 991.98px) {
			display: none;
		}
	}

	// .rs-logo__pagination
	&__pagination {
		margin-top: 0px !important;
	}

	// .rs-logo__navigation
	&__navigation {
		margin-left: 32px;
		display: flex;
		align-items: center;

		@media (max-width: 1439.98px) {
			margin-left: 24px;
		}
	}

	// .rs-logo__button-prev
	&__button-prev {
	}

	// .rs-logo__button-next
	&__button-next {
	}
}
