.rs-main {
	margin: 0 !important;

	// .rs-main__wrapper
	&__wrapper {
	}

	// .rs-main__pins
	&__pins {
	}

	// .rs-main__pin
	&__pin {
	}

	&__project-all {
		position: fixed;
		z-index: 100;
		left: 50%;
		bottom: 18px;
		transform: translateX(-50%) translateY(100px);
		transition: transform 0.5s ease 0s;
		width: 100%;
		max-width: 287px;
		border-radius: 10px;
		background: #6366f1;
		font-weight: 500;
		font-size: 16px;
		line-height: 146%;
		color: #fff;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;
		padding: 15px 25px;

		@media (min-width: 991.98px) {
			display: none;
		}

		&._show {
			transform: translateX(-50%) translateY(0%);
		}

		&::after {
			content: "";
			position: absolute;
			top: -6px;
			bottom: -6px;
			right: -6px;
			left: -6px;
			background: rgba(99, 102, 241, 0.5);
			width: calc(100% + 12px);
			height: calc(100% + 12px);
			border-radius: inherit;
			z-index: -1;
		}

		&::before {
			margin-left: 5px;
			font-size: 20px;
		}
	}

	// .rs-main__title
	&__title {
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		padding: 100px 0px;
		overflow: hidden;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 100svh !important;
		min-height: 100svh !important;
		max-height: 100svh !important;

		@supports (-webkit-touch-callout: none) {
			height: 100svh !important;
			min-height: 100svh !important;
			max-height: 100svh !important;
		}

		&_video {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 5;
			}
		}

		img,
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
		}

		&_body {
			position: relative;
			z-index: 10;
		}

		h1 {
			max-width: 1144px;
			position: relative;
			z-index: 10;
			color: #fff;
			font-size: 82px;
			font-style: normal;
			font-weight: 500;
			line-height: 105%; /* 86.1px */

			@media (max-width: 1439.98px) {
				font-size: 65px;
			}

			@media (max-width: 1169.98px) {
				font-size: 50px;
			}

			@media (max-width: 991.98px) {
				font-size: 38px;
			}

			@media (max-width: 767.98px) {
				font-size: 26px;
			}

			span {
				color: #fff;
				font-family: "Playfair Display";
				font-size: 87px;
				font-style: italic;
				font-weight: 500;
				line-height: 98%; /* 85.26px */
				letter-spacing: 4.119px;

				@media (max-width: 1439.98px) {
					font-size: 70px;
				}

				@media (max-width: 1169.98px) {
					font-size: 55px;
				}

				@media (max-width: 991.98px) {
					font-size: 43px;
				}

				@media (max-width: 767.98px) {
					font-size: 31px;
				}
			}
		}
	}

	// .rs-main__project
	&__project {
		position: relative;
		overflow: hidden;
		z-index: 2;
		padding: 13vh 0px 8.9vh;
		top: 0 !important;
		bottom: 0 !important;
		border-radius: 80px 80px 0px 0px;

		@media (min-width: 991.98px) {
			height: 100vh !important;
			max-height: 100vh !important;

			@supports (-webkit-touch-callout: none) {
				height: 100svh !important;
				max-height: 100svh !important;
			}
		}

		@media (max-width: 991.98px) {
			padding: 36px 0px 0px;
			border-radius: 20px 20px 0px 0px;

			@media (max-width: 767.98px) {
				padding-top: 15px;
			}
		}

		&_block {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			height: 100%;
			width: 100%;
			justify-content: space-between;
		}

		&_wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			height: 100%;
			width: 100%;
			justify-content: space-between;
		}

		&_bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		// .rs-main__project_body
		&_body {
			width: 100%;

			@media (min-width: 991.98px) {
				display: flex;
				justify-content: space-between;
			}
		}

		// .rs-main__project_nav
		&_nav {
			width: 100%;

			@media (min-width: 991.98px) {
				margin-right: 30px;
				max-width: 22.3%;
			}

			@media (max-width: 1439.98px) {
				margin-top: 15px;
			}

			@media (max-width: 991.98px) {
				margin-top: 0px;
				margin-bottom: 24px;
			}
		}

		// .rs-main__project_nav
		&_nav_body {
			margin-top: 8.6vh;
			max-height: 42vh;
			overflow: hidden;

			@media (max-width: 991.98px) {
				display: none;
			}

			ul {
				li {
					a {
						font-size: 21px;
						font-style: normal;
						font-weight: 400;
						line-height: 217%;
						position: relative;
						transition: color 0.3s ease 0s;
						display: flex;

						@media (max-width: 1439.98px) {
							font-size: 18px;
						}

						@media (max-width: 1169.98px) {
							font-size: 14px;
						}

						&::before {
							content: "";
							position: relative;
							display: block;
							flex-shrink: 0;
							margin-top: 13px;
							width: 18px;
							height: 18px;
							background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_f_2668_4302)'%3e%3ccircle cx='9.00006' cy='9.00006' r='4.76471' fill='%236366F1'/%3e%3c/g%3e%3ccircle cx='8.99995' cy='8.99995' r='3.70588' fill='%236366F1'/%3e%3cdefs%3e%3cfilter id='filter0_f_2668_4302' x='2.1177' y='2.1177' width='13.7647' height='13.7647' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3e%3cfeGaussianBlur stdDeviation='1.05882' result='effect1_foregroundBlur_2668_4302'/%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e ");
							background-repeat: no-repeat;
							background-position: center;
							background-size: contain;
							transition: all 0.3s ease 0s;
							opacity: 0;
							visibility: hidden;
							margin-right: 6px;
						}

						&._active {
							color: var(--primary-color);

							&::before {
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
		}

		// .rs-main__project_list
		&_list {
			max-width: 72.3%;
			width: 100%;
			max-height: 61vh;

			@media (min-width: 991.98px) {
				position: relative;
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: 1fr;
				grid-column-gap: 0px;
				grid-row-gap: 0px;
				align-items: center;
				justify-items: center;

				> * {
					grid-area: 1 / 1 / 2 / 2;
				}
			}

			@media (max-width: 991.98px) {
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}

		// .rs-main__project_item
		&_item {
			// position: absolute;
			// height: 61vh;
			height: 100%;
			// top: 0;
			// left: 0;
			width: 100%;
			border-radius: 10px;
			overflow: hidden;

			@media (max-width: 991.98px) {
				position: relative;
				top: 0;
				left: 0;
				height: auto;

				&:not(:last-child) {
					margin-bottom: 24px;
				}
			}

			@media (max-width: 767.98px) {
				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}
		}

		// .rs-main__project_picture
		&_picture {
			width: 100%;
			height: 100%;
			position: relative;
			border-radius: 10px;
			overflow: hidden;

			@media (max-width: 767.98px) {
				border-radius: 10px 10px 0px 0px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__img {
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__logo {
			position: absolute;
			top: 40px;
			left: 45px;

			@media (max-width: 1439.98px) {
				top: 20px;
				left: 25px;
				transform: scale(0.8);
				transform-origin: left top;
			}

			@media (max-width: 767.98px) {
				top: 10px;
				left: 10px;
				transform: scale(0.5);
				transform-origin: left top;
			}
		}

		// .rs-main__project_desc
		&_desc {
			@media (min-width: 767.98px) {
				position: absolute;
				padding: 30px 45px;
				bottom: 0;
				right: 0;
				width: 100%;
				z-index: 10;

				@media (max-width: 991.98px) {
					padding: 22px 25px;
				}

				h6,
				span {
					display: none;
				}

				.tag-list {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-end;
					gap: 8px;

					li {
						font-size: 12px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						padding: 11px 21px;
						border-radius: 40px;
						background: #eff2ff;

						@media (max-width: 991.98px) {
							font-size: 14px;
						}
					}
				}
			}

			@media (max-width: 767.98px) {
				border: 1px solid var(--light-gray-border);
				border-radius: 0px 0px 10px 10px;
				border-top: none;
				padding: 10px 20px 20px;
				width: 100%;

				h6 {
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 170%; /* 23.8px */
				}

				span {
					color: var(--primary-color);
					font-size: 13px;
					font-style: normal;
					font-weight: 600;
					line-height: 170%; /* 22.1px */
				}

				ul {
					margin: 8px -5px -5px;
					display: flex;
					flex-wrap: wrap;

					li {
						display: inline-block;
						margin: 7px 5px;
						border-radius: 30px;
						font-size: 12px;
						font-style: normal;
						font-weight: 500;
						padding: 2px 11px;

						@media (max-width: 1439.98px) {
							padding: 7px 10.5px;
							margin: 3px 4px;
						}

						&:nth-child(1),
						&:nth-child(5n) {
							background-color: var(--item-orange-bg);
						}

						&:nth-child(2),
						&:nth-child(6n) {
							background-color: var(--item-green-bg);
						}

						&:nth-child(3),
						&:nth-child(7n) {
							background-color: var(--item-pink-bg);
						}

						&:nth-child(4),
						&:nth-child(8n) {
							background-color: var(--item-blue-bg);
						}
					}
				}
			}
		}

		// .rs-main__project_footer
		&_footer {
			margin-top: 30px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (max-width: 991.98px) {
				display: none;
			}
		}
	}

	// .rs-main__container
	&__container {
		height: 100%;
	}

	// .rs-main__logo
	&__logo {
		width: 100%;
		max-width: 82.2%;
		margin-right: -9.5%;
		margin-left: 15px;
		height: 55px;

		// .rs-main__logo_slider
		&_slider {
			position: relative;
			overflow: hidden;
			height: 100%;

			&::before,
			&::after {
				content: "";
				position: absolute;
				top: -10px;
				bottom: -10px;
				height: calc(100% + 20px);
				width: 360px;
				display: block;
				z-index: 10;
				pointer-events: none;
			}

			&::before {
				left: 0;
				background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
				transform: rotate(180deg);
			}

			&::after {
				right: 0;
				background: linear-gradient(270deg, #fff 41.05%, rgba(255, 255, 255, 0) 100%);
			}

			&[data-direction="left"] {
				ul {
					li {
						&:not(:first-child) {
							margin-left: 24px;
						}
					}
				}
			}

			&[data-direction="right"] {
				ul {
					li {
						&:not(:last-child) {
							margin-right: 24px;
						}
					}
				}
			}
		}

		// .rs-main__logo_swiper
		&_swiper {
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}

		// .rs-main__logo_slide
		&_slide {
			height: 100%;
			min-width: 96px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			padding: 10px;
			border-radius: 7px;
			border: 1px solid #c2c7dd;

			img {
				max-width: auto;
				object-fit: contain;
			}
		}
	}
}
