.rs-other-project {
	h2 {
		font-weight: 300;
		font-size: 100px;
		// line-height: 95px;
		line-height: 95%;
		letter-spacing: -0.03em;

		@media (max-width: 1439.98px) {
			font-size: 80px;
		}

		@media (max-width: 1169.98px) {
			font-size: 60px;
		}

		@media (max-width: 991.98px) {
			font-weight: 500;
			font-size: 30px;
			// line-height: 37px;
			line-height: 122%;
		}
	}

	// .rs-other-project__slider
	&__slider {
		margin-top: 44px;

		@media (max-width: 1439.98px) {
			margin-top: 34px;
		}

		@media (max-width: 1169.98px) {
			margin-top: 24px;
		}

		@media (max-width: 991.98px) {
			overflow: visible;
		}
	}

	// .rs-other-project__swiper
	&__swiper {
	}

	// .rs-other-project__slide
	&__slide {
		min-height: 1px;
		height: auto;
	}

	// .rs-other-project__item
	&__item {
	}

	// .rs-other-project__img
	&__img {
		width: 100%;
		padding-bottom: 82.134%;
		border-radius: 30px;
		overflow: hidden;
		position: relative;

		@media (max-width: 991.98px) {
			border-radius: 19px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	// .rs-other-project__description
	&__description {
		margin-top: 20px;

		@media (max-width: 1439.98px) {
			margin-top: 10px;
		}

		h4 {
			font-weight: 400;
			font-size: 30px;
			// line-height: 36px;
			line-height: 120%;

			@media (max-width: 1439.98px) {
				font-size: 28px;
			}

			@media (max-width: 1169.98px) {
				font-size: 24px;
			}

			@media (max-width: 991.98px) {
				font-weight: 500;
				font-size: 21px;
			}
		}
	}

	.cursor {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 99999;
		display: block;
		pointer-events: none;

		&__point-zero {
			position: relative;
		}

		&__circle {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transition:
				transform 0s linear 0s,
				opacity 0.3s cubic-bezier(0.339, -0.18, 0.228, 1.656);
		}

		&__text {
			color: #fff;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 146.25%;
			padding: 5px 15px;
			border-radius: 30px;
			background: var(--primary-color);
			transform: scale(0);
			transition: transform 0.3s ease-in-out;
		}

		&.cursor__active .cursor__circle {
			opacity: 1;
		}
		&.cursor__active .cursor__text {
			transform: scale(1);
		}
	}
}
