.rs-project {
	overflow: hidden;
	z-index: 10;

	@media (max-width: 991.98px) {
		padding-bottom: 54px;
		padding-top: 48px;
		background: var(--item-gray-bg);

		._open-filter & {
			z-index: 10000;
		}
	}

	@media (max-width: 767.98px) {
		padding-bottom: 60px;
		padding-top: 63px;
	}

	&.rs-case {
		margin-top: 140px;
		min-height: 60vh;
		padding-top: 0px;

		@media (max-width: 1439.98px) {
			margin-top: 110px;
		}

		@media (max-width: 991.98px) {
			background-color: #fff;
			margin-top: 85px;
		}

		@media (max-width: 767.98px) {
			margin-top: 63px;
		}
	}

	// .rs-project__container
	.section__container {
		& > h2 {
			@media (max-width: 991.98px) {
				&:not(.mobile-title) {
					display: none;
				}
			}

			&.mobile-title {
				max-width: 550px;

				@media (min-width: 991.98px) {
					display: none;
				}

				@media (max-width: 767.98px) {
					br {
						display: none;
					}
				}
			}
		}
	}

	&__wrapper {
		position: relative;
	}

	&__head {
		& > h2 {
			margin-bottom: 16px;

			@media (min-width: 991.98px), (max-width: 767.98px) {
				display: none;
			}
		}
	}

	// .rs-project__slider
	&__slider {
		width: 100%;
		margin-top: 23px;
		overflow: visible;

		@media (max-width: 767.98px) {
			margin-top: 40px;
		}
	}

	// .rs-project__swiper
	&__swiper {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;

		@media (max-width: 1439.98px) {
			grid-template-columns: repeat(3, 1fr);
			gap: 20px;
		}

		@media (max-width: 991.98px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 24px;
		}

		@media (max-width: 767.98px) {
			grid-template-columns: repeat(1, 1fr);
			gap: 20px;
		}
	}

	// .rs-project__slide
	&__slide {
		.rs-case & {
			box-shadow: 0px 0px 50px 4px rgba(47, 49, 115, 0);
			border-radius: 10px;
			height: auto;
			min-height: 1px;

			@media (any-hover: hover) {
				&:hover {
					box-shadow: 0px 0px 50px 4px rgba(47, 49, 115, 0.15);
					transform: translateY(-12px);

					.rs-project__img img {
						transform: scale(1.1);
					}
				}
			}
		}

		@media (min-width: 991.98px) {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			transform: translateY(30px);
			transition: 0.3s ease 0.1s;
			transition-property: opacity, visibility, transform, box-shadow;
			pointer-events: none;
			user-select: none;

			&._open-project,
			&:nth-child(-n + 3) {
				position: relative;
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
				pointer-events: all;
				user-select: all;
			}

			$i: 1;
			@while $i < 30 {
				&:nth-child(#{$i}) {
					transition-delay: $i * 0.02 + s;
				}
				$i: $i + 1;
			}
		}
	}

	// .rs-project__item
	&__item {
		height: 100%;
		width: 100%;
		border: 1px solid var(--light-gray-border);
		border-radius: 10px;

		@media (any-hover: hover) {
			&:hover {
				.rs-project__img img {
					transform: scale(1.1);
				}
			}
		}

		& > a {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
		}
	}

	// .rs-project__img
	&__img {
		width: 100%;
		height: 100%;
		position: relative;
		max-height: 617px;
		overflow: hidden;
		border-radius: 10px;

		@media (min-width: 767.98px) {
			border: 1px solid var(--light-gray-border);
		}

		.rs-case & {
			max-height: 300px;
			border-radius: 10px 10px 0px 0px;
			border-bottom: 1px solid var(--light-gray-border);

			img {
				height: auto;
			}
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			// height: 100%;
			object-fit: cover;
			transition: transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
		}
	}

	&__description {
		.rs-case & {
			padding: 10px 20px 20px;
			flex-grow: 1;

			@media (max-width: 1439.98px) {
				padding: 20px;
			}

			@media (max-width: 991.98px) {
				padding: 14px 20px 20px 20px;
			}

			h6 {
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 170%; /* 23.8px */
			}

			span {
				color: var(--primary-color);
				font-size: 13px;
				font-style: normal;
				font-weight: 600;
				line-height: 170%; /* 22.1px */

				@media (max-width: 991.98px) {
					display: block;
					margin-top: -3px;
				}
			}

			ul {
				margin: 8px -5px -5px;
				display: flex;
				flex-wrap: wrap;

				@media (max-width: 991.98px) {
					margin: 5px -5px -5px;
				}

				li {
					display: inline-block;
					margin: 7.5px 5px;
					border-radius: 30px;
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					padding: 2px 11px;

					@media (max-width: 1439.98px) {
						padding: 7px 10.5px;
						margin: 5px 4px;
					}

					@media (max-width: 991.98px) {
						padding: 6px 10.5px;
						margin: 4px;
					}

					&:nth-child(1),
					&:nth-child(5n) {
						background-color: var(--item-orange-bg);
					}

					&:nth-child(2),
					&:nth-child(6n) {
						background-color: var(--item-green-bg);
					}

					&:nth-child(3),
					&:nth-child(7n) {
						background-color: var(--item-pink-bg);
					}

					&:nth-child(4),
					&:nth-child(8n) {
						background-color: var(--item-blue-bg);
					}
				}
			}
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;
		width: 100%;

		@media (max-width: 991.98px) {
			display: none;
		}

		.rs-project__add {
			margin-top: 0px;
		}

		.pagging {
			margin: 0px 0px 0px auto;
		}
	}

	// .rs-project__add
	&__add {
		@media (min-width: 991.98px) {
			margin-top: 27px;

			&._close-btn {
				display: none;
			}
		}
		@media (max-width: 991.98px) {
			display: none;
		}
	}

	.cursor {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 99999;
		display: block;
		pointer-events: none;

		&__point-zero {
			position: relative;
		}

		&__circle {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transition:
				transform 0s linear 0s,
				opacity 0.3s cubic-bezier(0.339, -0.18, 0.228, 1.656);
		}

		&__text {
			color: #fff;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 146.25%;
			padding: 5px 15px;
			border-radius: 30px;
			background: var(--primary-color);
			transform: scale(0);
			transition: transform 0.3s ease-in-out;
		}

		&.cursor__active .cursor__circle {
			opacity: 1;
		}
		&.cursor__active .cursor__text {
			transform: scale(1);
		}
	}
}

.filter {
	margin-top: 26px;
	display: flex;
	border-radius: 10px;
	border: 1px solid var(--light-gray-border);
	z-index: 998;
	position: relative;

	@media (max-width: 991.98px) {
		display: none;
	}

	.rs-case & {
		display: flex;
		align-items: flex-start;
		border: none;
		margin-top: 0px;
		margin-bottom: 20px;

		@media (max-width: 991.98px) {
			margin: 0;
		}
	}

	// .filter__text
	&__text {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 912px;
		padding: 14px 28px;
		color: var(--gray-font-color);

		@media (max-width: 1439.98px) {
			padding: 14px 20px;
			align-items: flex-start;
		}

		.rs-case & {
			max-width: 605px;
			padding: 9px 16px;
			border-radius: 10px;
			border: 1px dashed var(--light-gray-border);
			margin: 0px 0px 0px auto;

			@media (max-width: 991.98px) {
				max-width: 100%;
				padding: 24px 24px 21px 24px;
			}

			@media (max-width: 767.98px) {
				display: none;
			}
		}

		p {
			@media (max-width: 991.98px) {
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 130%; /* 20.8px */
			}

			.rs-case & {
				&:first-child {
					@media (max-width: 991.98px) {
						display: none;
					}
				}

				&:last-child {
					@media (min-width: 991.98px) {
						display: none;
					}
				}
			}
		}

		&::before {
			font-size: 28px;
			margin-right: 14px;
			color: var(--primary-color);
			border-radius: 50%;
			background-color: rgba(99, 102, 241, 0.1);

			@media (max-width: 1439.98px) {
				font-size: 24px;
				margin-right: 10px;
			}

			.rs-case & {
				@media (max-width: 1439.98px) {
					margin-top: 5px;
				}

				@media (max-width: 991.98px) {
					margin-right: 24px;
					margin-top: 0px;
				}
			}
		}

		p {
			max-width: 762px;

			@media (max-width: 1169.98px) {
				font-size: 16px;
			}
		}
	}

	&__block {
		border: 6px solid rgba($color: #6366f1, $alpha: 0.5);
		border-radius: 16px;
		position: relative;
		padding: 15px 45px;
		margin-right: 20px;
		max-width: 201px;
		height: 66px;
		width: 100%;

		&::before {
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
			top: 0px;
			background-color: var(--primary-color);
			width: 100%;
			height: 100%;
			z-index: -1;
			border-radius: 10px;
		}

		@media (max-width: 1439.98px) {
			padding: 15px 25px;
		}

		@media (min-width: 991.98px) {
			&._open-filter {
				max-width: 100%;
				width: auto;
				transition: all 0.3s ease 0s;

				.filter__list {
					position: static;
					opacity: 1;
					visibility: visible;
					pointer-events: unset;
					transition: all 0.3s ease 0.3s;
				}
			}
		}

		@media (max-width: 991.98px) {
			position: fixed;
			margin: 0px;
			z-index: 100;
			bottom: 3%;
			left: 50%;
			transform: translateX(-50%);
			transition: all 0.3s ease 0.3s;
		}

		@media (max-width: 991.98px) {
			max-width: 201px;
			padding: 0;

			&._open-filter {
				max-width: calc(100% - 20px);
				transition: all 0.3s ease 0s;

				.filter__list {
					transform: translateX(-50%) translateY(0px);
					opacity: 1;
					visibility: visible;
					pointer-events: unset;
					transition: all 0.3s ease 0.3s;
				}
			}
		}
	}

	&__btn {
		height: 100%;
		width: 100%;
		display: inline-flex;
		align-items: center;
		flex-direction: row-reverse;
		color: #fff;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 23.4px; /* 146.25% */
		padding: 15px 45px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		transition: all 0.3s ease 0s;

		&._output-count {
			padding: 15px 25px;
		}

		&::before {
			transition: all 0.3s ease 0s;
			font-size: 12px;
			font-weight: normal;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		span {
			display: inline-block;
			margin: 0px auto 0px 0px;
		}

		.filter__count {
			display: none;
			margin: 0 10px 0px 10px;
		}

		@media (min-width: 991.98px) {
			._open-filter & {
				opacity: 0;
				visibility: hidden;
				pointer-events: none;
				transition: all 0.3s ease 0s;

				&::before {
					content: "\e906";
					background-image: unset;
				}
			}
		}

		@media (max-width: 991.98px) {
			._open-filter & {
				padding-right: 24px;
				padding-left: 24px;
				transition: all 0.3s ease 0s;

				&::before {
					content: "\e906";
					background-image: unset;
				}
			}
		}
	}

	// .filter__list
	&__list {
		flex-grow: 1;
		display: flex;
		position: relative;

		.rs-case & {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			z-index: 99;

			@media (max-width: 991.98px) {
				position: absolute;
				top: auto;
				bottom: 55px;
				left: 50%;
				transform: translateX(-50%) translateY(-30px);
				min-height: calc(100vh - 88px);
				max-height: calc(100vh - 88px);
				width: calc(100% + 12px);
				border-radius: 10px;
				background: #fff;
				overflow-y: scroll;
				overflow-x: hidden;
				border-color: rgba(99, 102, 241, 0.5);
				border-width: 6px;
				border-style: solid;
				display: block;
				transition: all 0.3s ease 0s;
				padding: 13px 29px;
			}

			@media (max-width: 374.98px) {
				padding: 13px 20px;
			}
		}

		& > * {
			width: 100%;
			border-left: 1px solid var(--light-gray-border);

			.rs-case & {
				border: none;
			}
		}
	}

	&__reset {
		.filter__title {
			.rs-case & {
				flex-direction: row-reverse;

				&::before {
					color: #fff;
				}
			}
		}
	}

	// .filter__item
	&__item {
		.rs-case & {
			@media (max-width: 991.98px) {
				position: relative;

				&:after {
					content: "";
					position: absolute;
					top: 8px;
					left: -11px;
					height: 100%;
					width: 1px;
					border: 1px dashed rgba($color: #6366f1, $alpha: 0.5);
				}
			}

			&:not(:last-child) {
				margin-right: 24px;

				@media (max-width: 1439.98px) {
					margin-right: 16px;
				}

				@media (max-width: 991.98px) {
					margin-right: 0px;
				}
			}

			&:not(:nth-last-child(-n + 2)) {
				@media (max-width: 991.98px) {
					padding-bottom: 26px;
				}
			}
		}

		.filter__title {
			&::after {
				content: "\e904";
				font-family: "icons" !important;
				speak: never;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				color: #9397ad;
				font-size: 21px;
				transition: transform 0.3s ease 0s;

				.rs-case & {
					color: #fff;
				}
			}
		}

		&._open-filter {
			.filter__modal {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
				transform: translateY(0px);

				&_list {
					li {
						opacity: 1;
						visibility: visible;

						$i: 1;
						@while $i < 30 {
							&:nth-child(#{$i}) {
								transition-delay: $i * 0.05 + s;
							}
							$i: $i + 1;
						}
					}
				}
			}

			.filter__title {
				background-color: var(--gray-color-btn);

				&::after {
					transform: rotate(180deg);
				}

				.rs-case & {
					background-color: transparent;
				}
			}
		}
	}

	// .filter__title
	&__title {
		padding: 0px 30px;
		width: 100%;
		height: 100%;
		cursor: pointer;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 146.25%;
		transition: all 0.3s ease 0s;
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap;

		@media (max-width: 1439.98px) {
			padding: 0px 25px;
		}

		@media (max-width: 1170px) {
			padding: 0px 15px;
			font-size: 14px;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--gray-color-btn);
			}
		}

		.rs-case & {
			padding: 0;
			color: #fff;

			@media (any-hover: hover) {
				&:hover {
					background-color: transparent;
				}
			}

			@media (max-width: 991.98px) {
				display: none;
			}
		}
	}

	&__count {
		min-width: 23px;
		min-height: 23px;
		margin-right: 4px;
		border-radius: 50%;
		background-color: #fff;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		display: none;
		align-items: center;
		justify-content: center;
		color: var(--font-color);
	}

	// .filter__modal
	&__modal {
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
		z-index: 100;
		border-radius: 0px 0px 10px 10px;
		border: 1px solid var(--light-gray-border);
		background: #fff;
		padding: 20px 30px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transform: translateY(30px);
		transition: all 0.3s ease 0s;

		@media (max-width: 1439.98px) {
			padding: 20px 15px;
		}

		.rs-case & {
			top: calc(100% + 8px);
			left: -6px;
			right: -6px;
			width: calc(100% + 12px);
			border-radius: 16px;
			border-color: rgba(99, 102, 241, 0.5);
			border-width: 6px;
			padding: 24px 16px 24px 24px;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			@media (max-width: 1439.98px) {
				padding: 20px 15px;
			}

			@media (max-width: 991.98px) {
				top: auto;
				bottom: calc(100% + 8px);
			}

			@media (max-width: 991.98px) {
				opacity: 1;
				position: relative;
				top: 0;
				left: 0;
				border: none;
				visibility: visible;
				pointer-events: unset;
				transform: translateY(0px);
				padding: 0;

				&_list {
					display: block;

					li {
						opacity: 1;
						visibility: visible;

						$i: 1;
						@while $i < 30 {
							&:nth-child(#{$i}) {
								transition-delay: $i * 0.05 + s;
							}
							$i: $i + 1;
						}
					}
				}
			}
		}

		&_select {
			margin-bottom: 15px;

			@media (max-width: 991.98px) {
				margin-bottom: 8px;
			}

			&_item {
				display: flex;
				align-items: flex-start;

				h6 {
					color: rgba($color: #9397ad, $alpha: 0.5);
					font-size: 13px;
					font-style: normal;
					font-weight: 600;
					line-height: 170%; /* 22.1px */
					margin-right: 5px;

					@media (max-width: 991.98px) {
						margin-right: 0px;
						position: relative;

						&::before {
							content: " ";
							position: absolute;
							top: 6px;
							left: -13px;
							width: 6px;
							height: 6px;
							border-radius: 50%;
							background-color: #6366f1;
						}
					}
				}

				ul {
					margin: -2.5px;
					display: flex;
					flex-wrap: wrap;

					@media (max-width: 991.98px) {
						display: none;
					}

					li {
						margin: 2.5px;
						color: var(--gray-font-color);
						font-size: 13px;
						font-style: normal;
						font-weight: 600;
						line-height: 170%; /* 22.1px */
					}
				}
			}
		}

		&_list {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			margin: -5px;

			@media (max-width: 991.98px) {
				margin: 0;
			}

			li {
				margin: 3.8px 4.9px;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease;

				@media (max-width: 991.98px) {
					margin: 0;

					&:not(:last-child) {
						margin: 0px 0px 8px 0px;
					}
				}

				label {
					display: flex;
					align-items: center;
					cursor: pointer;
					position: relative;
					text-align: left;

					@media (any-hover: hover) {
						&:hover {
							.checkbox-label {
								background-color: var(--gray-color-btn);
							}
						}
					}

					input {
						position: absolute;
						height: 100%;
						width: 100%;
						opacity: 0;
						font-size: 0px;
						cursor: pointer;

						&:checked ~ .checkbox-label {
							background-color: var(--gray-color-btn);
						}

						&:checked ~ .checkbox:after {
							opacity: 1;
						}
					}

					@media (max-width: 991.98px) {
						.checkbox {
							display: block;
							transition: all 0.3s ease 0s;
							position: relative;
							min-height: 20px;
							min-width: 20px;
							max-height: 20px;
							max-width: 20px;
							border-radius: 50%;
							background-color: transparent;
							transition: all 0.3s ease 0s;
							border: 2px solid #7e5ddd;
							margin-right: 8px;

							&::after {
								content: "";
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								min-height: 20px;
								min-width: 20px;
								max-height: 20px;
								max-width: 20px;
								background-repeat: no-repeat;
								background-position: center;
								background-size: cover;
								background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='20' height='20' rx='10' fill='%236366F1'/%3e%3cpath d='M13.5187 6L8.32625 11.25L5.73125 8.62625L4 10.375L8.32625 14.75L15.25 7.75L13.5187 6Z' fill='white'/%3e%3c/svg%3e ");
								opacity: 0;
								transition: all 0.3s ease 0s;
							}
						}
					}

					.checkbox-label {
						padding: 11px 20px;
						border-radius: 30px;
						border: 1px solid var(--light-gray-border);
						background: #fff;
						transition: all 0.3s ease 0s;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 130%; /* 18.2px */

						@media (max-width: 991.98px) {
							padding: 0px;
							border: none;
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: 130%; /* 18.2px */
							background-color: transparent !important;
						}
					}
				}

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					color: var(--gray-font-color);
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 130%;
					padding: 11px 18px;
					border-radius: 30px;
					border: 1px solid var(--light-gray-border);
					transition: background-color 0.3s ease 0s;

					&._flt-active {
						background-color: #f5f7fe;

						@media (any-hover: hover) {
							&:hover {
								background-color: #fff;
							}
						}
					}

					@media (any-hover: hover) {
						&:hover {
							background-color: #f5f7fe;
						}
					}
				}
			}
		}
	}

	// .filter__close
	&__close {
		margin-left: 30px;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: var(--primary-color);
		color: #fff;

		&::before,
		&::after {
			content: "\e906";
			position: absolute;
			font-size: 10px;
			/* use !important to prevent issues with browser extensions that change fonts */
			font-family: "icons" !important;
			speak: never;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			transition: all 0.15s ease 0s;
		}

		&::after {
			opacity: 0;
			transform: translateX(-100%);
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translateX(100%);
					opacity: 0;
				}
				&::after {
					transform: translateX(0%);
					opacity: 1;
				}
			}
		}
	}

	// .filter__reset
	&__reset {
		@media (max-width: 991.98px) {
			display: none;
		}

		.filter__title {
			border-radius: 0px 10px 10px 0px;

			&::before {
				font-size: 20px;
				color: #9397ad;
				margin-right: 5px;
			}
		}
	}
}
