.rs-partners {
	@media (min-width: 1439.98px) {
		margin: 56px 0px 100px;
	}

	@media (max-width: 767.98px) {
		margin: 47px 0px 57px;
	}

	// .rs-calc__wrapper
	.section__wrapper {
		position: relative;
		padding: 123px 0px;

		@media (max-width: 1750px) {
			padding: 75px 0px;
		}

		@media (max-width: 1170px) {
			padding: 50px 0px;
		}

		@media (max-width: 991.98px) {
			padding: 43px 0px 58px;
		}

		@media (max-width: 767.98px) {
			padding: 58px 0px 65px;
		}
	}

	// .rs-calc__bg
	&__bg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		z-index: -1;
		border-radius: 30px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .rs-partners__container
	&__container {
	}

	// .rs-partners__slider
	&__slider {
		margin-top: 35px;
		overflow: visible;

		@media (max-width: 991.98px) {
			margin-top: 25px;
		}

		@media (max-width: 767.98px) {
			margin-top: 28px;
		}
	}

	// .rs-partners__swiper
	&__swiper {
		@media (min-width: 767.98px) {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: repeat(3, 123px);
			gap: 30px 30px;

			@media (max-width: 1439.98px) {
				gap: 28px 24px;
				grid-template-rows: repeat(3, 100px);
			}

			@media (max-width: 991.98px) {
				gap: 25px 24px;
				grid-template-rows: repeat(3, 54px);
			}
		}
	}

	// .rs-partners__slide
	&__slide {
		width: 100%;
		height: 100%;

		@media (max-width: 767.98px) {
			min-height: 69.11px;
			height: auto;
		}
	}

	// .rs-partners__img
	&__img {
		width: 100%;
		height: 100%;
		border: 1px solid var(--light-gray-border);
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 991.98px) {
			border-radius: 5px;
		}

		img {
			max-width: 100%;
			transition: all 0.3s ease 0s;
			filter: grayscale(1);
		}

		@media (any-hover: hover) {
			&:hover {
				img {
					filter: grayscale(0);
				}
			}
		}
	}
}
