.rs-result {
	padding: 10px 0px;
	// .rs-result__container
	&__container {
	}

	// .rs-result__wrapper
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 10;
	}

	// .rs-result__img
	&__img {
		&:not(:last-child) {
			margin-right: 24px;
		}

		img {
			max-width: 100%;
			object-fit: contain;
			border-radius: 30px;

			@media (max-width: 991.98px) {
				border-radius: 22px;
			}
		}
	}
}
