.rs-services-price {
	@media (max-width: 767.98px) {
		margin-top: 60px;
	}

	// .rs-services-price__container
	&__container {
		& > h2 {
			text-align: center;
			margin-bottom: 18px;

			@media (max-width: 991.98px) {
				margin-bottom: 20px;
				text-align: left;
			}

			@media (max-width: 767.98px) {
				margin-bottom: 35px;
			}
		}
	}

	// .rs-services-price__wrapper
	&__wrapper {
		padding: 0px 93px;

		@media (max-width: 1439.98px) {
			padding: 0px;
		}

		@media (max-width: 991.98px) {
			padding: 0;
		}
	}

	// .rs-services-price__list
	&__list {
	}

	// .rs-services-price__item
	&__item {
		padding: 64px 80px 57px;
		border-radius: 30px;
		background: #f5f7fe;

		@media (min-width: 991.98px) {
			display: flex;
			justify-content: space-between;
		}

		@media (max-width: 1439.98px) {
			padding: 30px 40px;
		}

		@media (max-width: 991.98px) {
			padding: 20px 24px 13px;
			border-radius: 10px;
		}

		@media (max-width: 767.98px) {
			padding: 20px 20px 13px;
		}

		&:not(:last-child) {
			margin-bottom: 25.5px;

			@media (max-width: 1439.98px) {
				margin-bottom: 20px;
			}

			@media (max-width: 991.98px) {
				margin-bottom: 15px;
			}
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 13px;
		border-top: 1px solid var(--light-gray-border);

		@media (min-width: 991.98px) {
			display: none;
		}

		@media (max-width: 539.98px) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		text-align: center;

		@media (max-width: 539.98px) {
			margin-bottom: 20px;
		}

		span {
			display: block;
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;

			&:last-child {
				display: none;
			}
		}

		&::before {
			font-size: 20px;
			margin-right: 5px;
		}
	}

	&__body {
		@media (max-width: 991.98px) {
			margin: 0px 0px 20px;
		}
	}

	// .rs-services-price__desc
	&__desc {
		width: 100%;
		max-width: 860px;
		margin-right: 32px;

		@media (max-width: 991.98px) {
			margin-right: 0px;
		}

		& > h4 {
			font-size: 25px;
			font-style: normal;
			font-weight: 500;
			line-height: 140%; /* 35px */
			margin: 0px 0px 8px 0px;

			@media (max-width: 991.98px) {
				font-size: 19px;
				line-height: 130%;
				margin: 0px 0px 5px 0px;
			}
		}

		& > p {
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%; /* 28.8px */
			margin: 8px 0px;

			@media (max-width: 991.98px) {
				font-size: 16px;
				line-height: 130%;
				margin: 5px 0px;
			}
		}

		& > ul {
			display: flex;
			flex-wrap: wrap;
			margin: 16.5px -7.5px;

			@media (max-width: 991.98px) {
				margin: 16px -2px;
			}

			@media (max-width: 767.98px) {
				margin: 16px -2.5px;
			}

			li {
				margin: 7.5px;
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: 160%; /* 28.8px */
				padding: 4px 20px;
				border-radius: 30px;
				background: #fff;

				@media (max-width: 991.98px) {
					margin: 2px;
					font-size: 12px;
					padding: 11px 15px;
					border-radius: 40px;
				}

				@media (max-width: 767.98px) {
					margin: 2.5px;
				}
			}
		}
	}

	// .rs-services-price__block
	&__block {
		.rs-services-price__total {
			text-align: left;
			margin-bottom: 16px;

			@media (min-width: 991.98px) {
				display: none;
			}
		}

		// .rs-services-price__block_content
		&_content {
			display: block;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 75px;
				background: linear-gradient(180deg, rgba(245, 247, 254, 0) 0%, #f5f7fe 86.54%);

				._showmore-active & {
					display: none;
				}
			}
		}
	}

	&__body {
		margin-top: 21px;
	}

	// .rs-services-price__about
	&__about {
		// .rs-services-price__about_item
		&_item {
			&:not(:last-child) {
				margin-bottom: 24px;

				@media (max-width: 991.98px) {
					margin-bottom: 15px;
				}
			}

			h6 {
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: 130%; /* 23.4px */

				@media (max-width: 991.98px) {
					font-size: 16px;
					line-height: 130%;
				}
			}

			ul {
				margin-top: 2px;

				li {
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 160%; /* 28.8px */
					display: flex;
					align-items: flex-start;

					@media (max-width: 991.98px) {
						font-size: 16px;
						line-height: 130%;
					}

					&::before {
						content: "·";
						font-size: 30px;
						display: block;
						font-weight: 900;
						margin-right: 10px;
						margin-left: 10px;
						color: inherit;
					}
				}
			}
		}
	}

	// .rs-services-price__more
	&__more {
		&._showmore-active {
			span {
				display: none;
				&:last-child {
					display: block;
				}
			}
		}

		span {
			display: block;
			margin-top: 24px;
			color: var(--primary-color);
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 160%; /* 28.8px */
			text-decoration-line: underline;
			text-underline-offset: 5px;
			-webkit-text-decoration-skip-ink: none;
			text-decoration-skip-ink: none;

			@media (max-width: 991.98px) {
				font-size: 16px;
				line-height: 130%;
			}

			&:last-child {
				display: none;
			}
		}
	}

	// .rs-services-price__action
	&__action {
		width: 100%;
		position: relative;
		max-width: 289px;

		@media (max-width: 991.98px) {
			display: none;
		}

		&_body {
		}
	}

	// .rs-services-price__total
	&__total {
		text-align: center;
		font-size: 25px;
		font-style: normal;
		font-weight: 500;
		line-height: 140%; /* 35px */
		margin-bottom: 24px;

		@media (max-width: 991.98px) {
			font-size: 19px;
			line-height: 130%;
			margin-bottom: 0px;
		}
	}

	// .rs-services-price__buttons
	&__buttons {
		@media (max-width: 991.98px) {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
		}

		@media (max-width: 539.98px) {
			width: 100%;
		}

		@media (max-width: 479.98px) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}

		.rs-btn {
			width: 100%;

			@media (max-width: 991.98px) {
				width: auto;

				.btn-text {
					font-size: 13px;
					padding: 10px 23px;
				}
			}

			@media (max-width: 539.98px) {
				width: 100%;
			}

			&:not(:last-child) {
				margin-bottom: 14px;

				@media (max-width: 991.98px) {
					margin-bottom: 0px;
					margin-left: 24px;
				}

				@media (max-width: 539.98px) {
					margin-left: 15px;
				}

				@media (max-width: 479.98px) {
					margin: 0px 0px 10px 0px;
				}
			}
		}
	}

	// .rs-services-price__hit
	&__hit {
		border: 1px dashed var(--primary-color);
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: -22px;
			left: 22px;
			width: 53px;
			height: 86px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='53' height='86' viewBox='0 0 53 86' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2565_8100)'%3e%3cpath d='M38 22L53 22V3.69401C53 1.65374 51.3307 0 49.2713 0L38.0007 0L38 22Z' fill='url(%23paint0_linear_2565_8100)'/%3e%3cpath d='M3.97078 0C1.77753 0 -0.000100295 1.75195 -0.000100295 3.91351L-0.000100295 83.5312C-0.000100295 85.1318 1.57038 86.2766 3.123 85.8082L21.6194 77.9453L42.3818 85.9119C43.9211 86.3333 45.4446 85.1925 45.4446 83.618L45.4446 16.6324L45.4102 3.97482C45.4102 1.81326 47.1879 0.0613116 49.3811 0.0613116L3.97078 0Z' fill='url(%23paint1_linear_2565_8100)'/%3e%3cpath d='M28.9941 62.8062L22.1691 57.6437L15.4941 62.6937V60.0437L20.4441 56.3437L15.4941 52.6812V50.0312L22.1691 55.0812L28.9941 49.9062L28.9941 52.5687L23.8941 56.3437L28.9941 60.1437V62.8062ZM15.4941 36.8528H28.9941V39.0028H19.0441L28.9941 46.0778V47.9153H15.4941L15.4941 45.7653H25.3066L15.4941 38.6778V36.8528ZM28.9941 29.7771L17.5191 29.7771V34.4771H15.4941L15.4941 22.8521H17.5191V27.5521L28.9941 27.5521V29.7771Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3clinearGradient id='paint0_linear_2565_8100' x1='45.5' y1='-1.54986' x2='45.5' y2='34.3253' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%237069F6'/%3e%3cstop offset='0.9935' stop-color='%23D9122A'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_2565_8100' x1='24.6902' y1='1.95721' x2='24.6902' y2='76.8749' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23F645F3'/%3e%3cstop offset='1' stop-color='%236266F4'/%3e%3c/linearGradient%3e%3cclipPath id='clip0_2565_8100'%3e%3crect width='53' height='86' fill='white' transform='matrix(-1 0 0 1 53 0)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;

			@media (max-width: 1439.98px) {
				left: 10px;
				width: 30px;
				height: 63px;
			}

			@media (max-width: 991.98px) {
				left: auto;
				right: 26px;
				top: -13px;
				width: 34px;
				height: 56px;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='56' viewBox='0 0 35 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2558_7020)'%3e%3cpath d='M9.50315 14.0694L1.22994e-06 14.0694L2.06519e-07 2.36279C9.24546e-08 1.05805 1.05756 0.000488189 2.3623 0.000488075L9.50273 0.00048745L9.50315 14.0694Z' fill='url(%23paint0_linear_2558_7020)'/%3e%3cpath d='M31.4647 -2.5477e-06C32.8722 -2.67075e-06 34.013 1.1408 34.013 2.54833L34.013 54.3924C34.013 55.4347 33.0051 56.1801 32.0087 55.8751L20.1386 50.7551L6.81425 55.9427C5.82635 56.217 4.84864 55.4742 4.84864 54.4489L4.84863 10.8304L4.87072 2.58825C4.87072 1.18073 3.72992 0.0399237 2.32239 0.0399239L31.4647 -2.5477e-06Z' fill='url(%23paint1_linear_2558_7020)'/%3e%3cpath d='M23.4891 40.8998L19.1211 37.5958L14.8491 40.8278L14.8491 39.1318L18.0171 36.7638L14.8491 34.4198L14.8491 32.7238L19.1211 35.9558L23.4891 32.6438L23.4891 34.3478L20.2251 36.7638L23.4891 39.1958L23.4891 40.8998ZM14.8491 24.2897L23.4891 24.2897L23.4891 25.6657L17.1211 25.6657L23.4891 30.1937L23.4891 31.3697L14.8491 31.3697L14.8491 29.9937L21.1291 29.9937L14.8491 25.4577L14.8491 24.2897ZM23.4891 19.7612L16.1451 19.7612L16.1451 22.7692L14.8491 22.7692L14.8491 15.3292L16.1451 15.3292L16.1451 18.3372L23.4891 18.3372L23.4891 19.7612Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3clinearGradient id='paint0_linear_2558_7020' x1='4.75158' y1='-0.990643' x2='4.75158' y2='21.9514' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%237069F6'/%3e%3cstop offset='0.9935' stop-color='%23D9122A'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_2558_7020' x1='18.1679' y1='1.27446' x2='18.1679' y2='50.0581' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23F645F3'/%3e%3cstop offset='1' stop-color='%236266F4'/%3e%3c/linearGradient%3e%3cclipPath id='clip0_2558_7020'%3e%3crect width='34.013' height='56' fill='white' transform='matrix(-1 8.74228e-08 8.74228e-08 1 34.0129 0)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
			}
		}
	}
}
