.rs-task {
	// .rs-task__container
	&__container {
	}

	&__head {
		margin-bottom: 34px;
		position: relative;
		z-index: 11;

		@media (max-width: 1439.98px) {
			margin-bottom: 20px;
		}

		& > h5 {
			margin-top: 15px;

			@media (max-width: 991.98px) {
				margin-top: 20px;
			}
		}

		.tooltip {
			@media (min-width: 991.98px) {
				&__btn {
					font-size: 28px;

					&::before {
						min-width: 28px;
						max-width: 28px;
						min-height: 28px;
						max-height: 28px;
					}
				}
			}

			@media (max-width: 991.98px) {
				&:hover {
					.tooltip__modal {
						&._arrow-left {
							animation: shakeTop 500ms ease-in-out forwards;
						}
					}
				}
			}

			// .range__tooltip_modal
			&__modal {
				min-width: 320px;
				max-width: 320px;
				color: #1d1e21;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 130%; /* 18.2px */
				text-align: center;

				@media (max-width: 767.98px) {
					min-width: 260px;
					max-width: 260px;
				}

				@media (max-width: 991.98px) {
					&._arrow-left {
						top: calc(100% + 12px);
						bottom: auto;
						left: auto;
						right: -10px;
						transform: translateX(0%) !important;

						&::before {
							top: auto;
							bottom: calc(100% - 4px);
							left: auto;
							right: 12.5px;
							transform: translateX(0%) rotate(90deg);
						}
					}
				}
			}
		}
	}

	// .rs-task__list
	&__list {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;

			.rs-task-price & {
				grid-template-columns: repeat(3, 1fr);
			}

			@media (max-width: 1439.98px) {
				gap: 20px;
			}
		}
	}

	&__button {
		margin: auto 0px 0px 0px;

		.rs-btn {
			margin-top: 80px;

			@media (max-width: 1439.98px) {
				margin-top: 50px;
			}

			@media (max-width: 991.98px) {
				margin-top: 30px;
			}

			&:first-child {
				@media (max-width: 991.98px) {
					display: none;
				}
			}

			&:last-child {
				@media (min-width: 991.98px) {
					display: none;
				}
			}
		}
	}

	// .rs-task__item
	&__item {
		padding: 45px 50px 82px;
		border-radius: 15px;
		background: #f5f7fe;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (max-width: 1439.98px) {
			padding: 30px;
		}

		@media (max-width: 991.98px) {
			padding: 20px;
		}

		.rs-task-price & {
			padding: 50px 54px 76px;

			@media (max-width: 1439.98px) {
				padding: 30px;
			}

			@media (max-width: 991.98px) {
				padding: 20px;
			}
		}

		.rs-task-features & {
			padding: 50px;

			@media (max-width: 1439.98px) {
				padding: 30px;
			}

			&:first-child {
				background-color: transparent;
				padding-left: 0px;
				padding-right: 0px;

				.rs-task__features_icon {
					background-color: var(--item-green-bg);
				}

				@media (max-width: 991.98px) {
					padding: 0;
					margin-bottom: 50px;
				}
			}

			&:last-child {
				background-color: var(--item-green-bg);

				@media (max-width: 991.98px) {
					padding-left: 20px;
					padding-right: 20px;
				}

				@media (max-width: 767.98px) {
					padding-left: 20px;
					padding-right: 20px;
					margin-right: -20px;
					margin-left: -20px;
				}
			}
		}

		@media (max-width: 1439.98px) {
			padding: 25px 20px;
		}

		@media (max-width: 991.98px) {
			padding: 22px 24px;
			margin-top: 15px;
		}

		@media (max-width: 767.98px) {
			padding: 22px 20px;
		}

		h4 {
			margin-bottom: 6px;
			line-height: 140%; /* 35px */
		}

		ul {
			li {
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 160%; /* 28.8px */
				display: flex;
				align-items: flex-start;

				@media (max-width: 991.98px) {
					font-size: 16px;
					line-height: 130%;
				}

				&::before {
					content: "·";
					font-size: 30px;
					display: block;
					font-weight: 900;
					margin-right: 10px;
					margin-left: 10px;
					color: inherit;
				}
			}
		}
	}
	// .rs-services-price__hit
	&__hit {
		border: 1px dashed var(--primary-color);
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: -22px;
			right: 36px;
			width: 53px;
			height: 86px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='53' height='86' viewBox='0 0 53 86' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2791_10752)'%3e%3cpath d='M15 22L0 22L0 3.69401C0 1.65374 1.66927 0 3.72872 0L14.9993 0L15 22Z' fill='url(%23paint0_linear_2791_10752)'/%3e%3cpath d='M48.3208 0C50.4823 0 52.2343 1.75195 52.2343 3.91351L52.2343 83.5312C52.2343 85.1318 50.6865 86.2766 49.1563 85.8082L30.9272 77.9453L10.4647 85.9119C8.9476 86.3333 7.44612 85.1925 7.44612 83.618L7.44612 16.6324L7.48004 3.97482C7.48004 1.81326 5.72809 0.0613116 3.56653 0.0613116L48.3208 0Z' fill='url(%23paint1_linear_2791_10752)'/%3e%3cpath d='M36.9653 62.8061L30.1403 57.6436L23.4653 62.6936V60.0436L28.4153 56.3436L23.4653 52.6811V50.0311L30.1403 55.0811L36.9653 49.9061V52.5686L31.8653 56.3436L36.9653 60.1436V62.8061ZM23.4653 36.8528H36.9653V39.0028H27.0153L36.9653 46.0778V47.9153H23.4653L23.4653 45.7653H33.2778L23.4653 38.6778V36.8528ZM36.9653 29.777L25.4903 29.777V34.477H23.4653V22.852H25.4903V27.552L36.9653 27.552V29.777Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3clinearGradient id='paint0_linear_2791_10752' x1='7.5' y1='-1.54986' x2='7.5' y2='34.3253' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%237069F6'/%3e%3cstop offset='0.9935' stop-color='%23D9122A'/%3e%3c/linearGradient%3e%3clinearGradient id='paint1_linear_2791_10752' x1='27.9007' y1='1.95721' x2='27.9007' y2='76.8749' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23F645F3'/%3e%3cstop offset='1' stop-color='%236266F4'/%3e%3c/linearGradient%3e%3cclipPath id='clip0_2791_10752'%3e%3crect width='52.2342' height='86' fill='white' transform='matrix(-1 0 0 1 52.2343 0)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;

			@media (max-width: 1439.98px) {
				right: 10px;
				width: 30px;
				height: 63px;
			}

			@media (max-width: 991.98px) {
				left: auto;
				right: 26px;
				top: -13px;
				width: 34px;
				height: 56px;
			}
		}
	}

	&__features {
		width: 100%;
		max-width: 686px;

		&_list {
			margin-top: 33px;

			@media (max-width: 991.98px) {
				margin-top: 24px;
			}
		}

		&_item {
			display: flex;
			align-items: flex-start;

			&:not(:last-child) {
				margin-bottom: 33px;

				@media (max-width: 991.98px) {
					margin-bottom: 24px;
				}
			}

			@media (max-width: 767.98px) {
				flex-direction: column;
			}
		}
		&_icon {
			min-width: 60px;
			min-height: 60px;
			max-width: 60px;
			max-height: 60px;
			border-radius: 10px;
			background: #fff;
			margin-right: 22px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #25c16f;
			text-align: center;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 141.9%; /* 25.542px */

			@media (max-width: 991.98px) {
				margin-right: 15px;
			}

			@media (max-width: 767.98px) {
				margin-right: 0px;
				margin-bottom: 10px;
			}
		}

		&_desc {
			p {
				margin-top: 5px;
			}
		}
	}

	&__note {
		color: #9397ad;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 170%; /* 30.6px */
		margin-top: 90px;

		@media (max-width: 1439.98px) {
			margin-top: 60px;
		}

		@media (max-width: 991.98px) {
			font-size: 16px;
			line-height: 130%;
			margin-top: 30px;
		}
	}

	// .rs-task__block
	&__block {
		height: 100%;
		width: 100%;
		position: relative;
		border-radius: 15px;
		overflow: hidden;

		@media (max-width: 991.98px) {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}

		@media (max-width: 767.98px) {
			height: 401px;
		}
	}

	// .rs-task__img
	&__img {
		height: 100%;
		position: relative;
		z-index: 2;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			max-height: 541px;

			@media (max-width: 991.98px) {
				max-height: 401px;
			}

			&:nth-child(3) {
				@media (min-width: 767.98px) {
					display: none;
				}
			}

			&:nth-child(2) {
				@media (min-width: 991.98px), (max-width: 767.98px) {
					display: none;
				}
			}

			&:nth-child(1) {
				@media (max-width: 991.98px) {
					display: none;
				}
			}
		}
	}

	// .rs-task__description
	&__description {
		position: absolute;
		top: 0;
		left: 0;
		padding: 50px 45px;
		z-index: 3;
		width: 100%;
		height: 100%;

		@media (max-width: 1439.98px) {
			padding: 35px 35px;
		}

		@media (max-width: 991.98px) {
			padding: 30px 20px;
		}

		h4 {
			margin-bottom: 14px;

			@media (max-width: 991.98px) {
				margin-bottom: 8px;
			}
		}
	}

	// .rs-task__icons
	&__icons {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	// .rs-task__icon
	&__icon {
		position: absolute;
		z-index: 3;

		img {
			object-fit: contain;
		}
	}

	// .rs-task__icon-1
	&__icon-1 {
		bottom: 27.7%;
		left: 17%;

		@media (max-width: 991.98px) {
			width: 95px;
			height: 95px;
			bottom: 23.7%;
			left: 17.3%;
		}

		@media (max-width: 767.98px) {
			width: 70px;
			height: 70px;
			bottom: 29.7%;
			left: -0.7%;
		}
	}

	// .rs-task__icon-2
	&__icon-2 {
		bottom: 7%;
		right: 1%;

		@media (max-width: 991.98px) {
			width: 95px;
			height: 95px;
			right: -1.8%;
			bottom: -1.4%;
		}

		@media (max-width: 767.98px) {
			width: 55px;
			height: 55px;
			right: 0.2%;
			bottom: 3.6%;
		}
	}

	// .rs-task__icon-3
	&__icon-3 {
		top: 40%;
		right: -2%;

		@media (max-width: 991.98px) {
			width: 95px;
			height: 95px;
		}

		@media (max-width: 767.98px) {
			width: 55px;
			height: 55px;
		}
	}

	// .rs-task__icon-4
	&__icon-4 {
		left: 1%;
		bottom: -7%;

		@media (max-width: 991.98px) {
			width: 95px;
			height: 95px;
			right: -1.8%;
			bottom: -1.4%;
		}

		@media (max-width: 767.98px) {
			width: 55px;
			height: 55px;
			right: 0.2%;
			bottom: 3.6%;
		}
	}

	// .rs-task__line
	&__line {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 0;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	// .rs-task__spollers
	&__spollers {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;

			@media (max-width: 1439.98px) {
				gap: 20px;
			}
		}

		.rs-task__img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			img {
				max-height: 100%;
			}

			@media (max-width: 991.98px) {
				display: none;
			}
		}

		.rs-task__icons {
			@media (max-width: 991.98px) {
				display: none;
			}
		}

		// .rs-task__spollers_column
		&_column {
			@media (min-width: 991.98px) {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
			}

			@media (max-width: 991.98px) {
				&:not(:last-child) {
					margin-bottom: 30px;
				}
			}
		}

		// .rs-task__spollers_item
		&_item {
			background: #f5f7fe;
			z-index: 10;
			position: relative;

			@media (min-width: 991.98px) {
				overflow: hidden;
				padding: 30px;
				border-radius: 15px;
				flex-grow: 1;
				width: 100%;

				@media (max-width: 1439.98px) {
					padding: 20px;
				}
			}

			&:not(:last-child) {
				margin-bottom: 30px;
			}

			@media (max-width: 991.98px) {
				background-color: transparent !important;
			}
		}

		// .rs-task__spollers_title
		&_title {
			cursor: text;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			z-index: 10;
			text-align: left;

			i {
				position: relative;
				max-width: 14px;
				max-height: 14px;
				min-width: 14px;
				min-height: 14px;
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				@media (min-width: 991.98px) {
					display: none;
				}

				&::before,
				&::after {
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) rotate(-90deg);
					width: 2px;
					height: 100%;
					border-radius: 1px;
					background-color: var(--primary-color);
					transition: all 0.3s ease 0s;
				}

				&::before {
					transform: translate(-50%, -50%) rotate(0deg);
				}
			}

			&._spoller-active {
				i {
					&::before {
						transform: translate(-50%, -50%) rotate(-90deg);
					}
				}
			}
		}

		// .rs-task__spollers_icon
		&_icon {
		}

		// .rs-task__spollers_body
		&_body {
			position: relative;
			z-index: 10;
			margin-top: 5px;

			ul {
				li {
					font-weight: 400;
					font-size: 16px;
					color: #565973;
					font-style: normal;
					line-height: 170%; /* 28.8px */
					display: flex;
					align-items: flex-start;

					@media (max-width: 991.98px) {
						line-height: 130%;
					}

					&::before {
						content: "·";
						font-size: 30px;
						display: block;
						font-weight: 900;
						margin-right: 10px;
						margin-left: 10px;
						color: inherit;
					}
				}
			}
		}
	}

	&__block--green {
		background-color: var(--item-green-bg);
	}

	&__block--blue {
		background-color: var(--item-blue-bg);
	}

	&__block--pink {
		background-color: var(--item-pink-bg);
	}

	&__block--yellow {
		background-color: var(--item-yellow-bg);
	}

	&__block--orange {
		background-color: var(--item-orange-bg);
	}

	&__block--red {
		background-color: var(--item-red-bg);
	}
}
