.rs-text {
	position: relative;
	overflow: visible;

	&__bg {
		position: absolute;
		z-index: -1;
		pointer-events: none;

		img {
			animation: rotate 20s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
		}
	}

	&__bg-1 {
		top: 4.792vw;
		left: -17.292vw;
		width: 70.729vw;
		aspect-ratio: 1;
	}

	// .rs-text__container
	&__container {
	}

	// .rs-text__wrapper
	&__wrapper {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			gap: 30px;
		}
	}

	// .rs-text__left
	&__left {
		@media (min-width: 991.98px) {
			grid-column: 3 span;
		}

		h2 {
			font-family: "Manrope", sans-serif;
			font-weight: 600;
			font-size: 30px;
			// line-height: 35px;
			line-height: 116%;
			letter-spacing: -0.03em;

			@media (max-width: 991.98px) {
				font-weight: 300;
				font-size: 35px;
				// line-height: 37px;
				line-height: 106%;
				text-align: center;
				margin-bottom: 18px;
			}
		}

		h3 {
			font-family: "Manrope", sans-serif;
			font-weight: 600;
			font-size: 30px;
			// line-height: 35px;
			line-height: 116%;
			letter-spacing: -0.03em;

			@media (max-width: 1439.98px) {
				font-size: 26px;
			}

			@media (max-width: 1169.98px) {
				font-size: 22px;
			}

			@media (max-width: 991.98px) {
				font-weight: 600;
				font-size: 18px;
				letter-spacing: -0.06em;
				margin-bottom: 36px;
			}
		}
	}

	// .rs-text__right
	&__right {
		@media (min-width: 991.98px) {
			grid-column: 7 span;
		}

		h2 {
			font-family: "Manrope", sans-serif;
			font-weight: 400;
			font-size: 55px;
			// line-height: 64px;
			line-height: 116%;
			letter-spacing: -0.02em;

			@media (max-width: 1439.98px) {
				font-size: 45px;
			}

			@media (max-width: 1169.98px) {
				font-size: 35px;
			}

			@media (max-width: 991.98px) {
				font-size: 26px;
				letter-spacing: -0.04em;
			}
		}

		ul {
			counter-reset: list-count;
			list-style: none;
			position: relative;

			@media (max-width: 991.98px) {
				&::after {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					width: calc(100% - 54px);
					height: 1px;
					background-color: #d4d7e5;

					@media (max-width: 1439.98px) {
						width: calc(100% - 40px);
					}

					@media (max-width: 1169.98px) {
						width: calc(100% - 30px);
					}

					@media (max-width: 991.98px) {
						width: calc(100% - 20px);
					}
				}
			}

			li {
				position: relative;
				padding-left: 54px;
				padding-top: 40px;
				padding-bottom: 40px;

				@media (max-width: 1439.98px) {
					padding-top: 36px;
					padding-bottom: 36px;
					padding-left: 40px;
				}

				@media (max-width: 1169.98px) {
					padding-top: 30px;
					padding-bottom: 30px;
					padding-left: 30px;
				}

				@media (max-width: 991.98px) {
					padding-top: 24px;
					padding-bottom: 24px;
					padding-left: 20px;
				}

				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					right: 0;
					width: calc(100% - 54px);
					height: 1px;
					background-color: #d4d7e5;

					@media (max-width: 1439.98px) {
						width: calc(100% - 40px);
					}

					@media (max-width: 1169.98px) {
						width: calc(100% - 30px);
					}

					@media (max-width: 991.98px) {
						width: calc(100% - 20px);
					}
				}

				&:first-child {
					@media (min-width: 991.98px) {
						padding-top: 0px;

						&::before {
							top: 0px;
						}
					}
				}

				&::before {
					counter-increment: list-count;
					content: counter(list-count, decimal-leading-zero) ".";
					position: absolute;
					top: 40px;
					left: 0;
					font-weight: 700;
					font-size: 18px;
					// line-height: 31px;
					line-height: 170%;
					color: #25c16f;

					@media (max-width: 1439.98px) {
						top: 36px;
						font-size: 14px;
					}

					@media (max-width: 1169.98px) {
						top: 30px;
						font-size: 12px;
					}

					@media (max-width: 991.98px) {
						top: 24px;
						font-size: 10px;
					}
				}

				h3 {
					font-weight: 400;
					font-size: 36px;
					// line-height: 42px;
					line-height: 116%;
					letter-spacing: -0.03em;

					@media (max-width: 1439.98px) {
						font-size: 30px;
					}

					@media (max-width: 1169.98px) {
						font-size: 24px;
					}

					@media (max-width: 991.98px) {
						font-weight: 600;
						font-size: 20px;
						// line-height: 23px;
						line-height: 116%;
						letter-spacing: -0.05em;
					}
				}

				p {
					font-weight: 400;
					font-size: 23px;
					// line-height: 37px;
					line-height: 160%;
					margin-top: 11px;

					@media (max-width: 1439.98px) {
						font-size: 20px;
					}

					@media (max-width: 1169.98px) {
						font-size: 18px;
					}

					@media (max-width: 991.98px) {
						font-weight: 400;
						font-size: 16px;
						// line-height: 25px;
						line-height: 155%;
						margin-top: 8px;
					}
				}
			}
		}
	}
}
