.rs-banner {
	padding: 20px 80px 0px;
	margin-top: 0px;

	@media (max-width: 1439.98px) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media (max-width: 1170px) {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
	}

	@media (max-width: 991.98px) {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
	}

	&__wrapper {
		min-height: 655px;
		padding-top: 77px;
		height: 100%;
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;

		@media (max-width: 1439.98px) {
			min-height: 550px;
		}

		@media (max-width: 991.98px) {
			padding-top: 50px;
			min-height: 472px;
		}

		@media (max-width: 767.98px) {
			padding-top: 48px;
			min-height: 647px;
		}
	}

	// .rs-banner__bg
	&__bg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		z-index: -1;
		border-radius: 30px;
		overflow: hidden;

		@media (max-width: 991.98px) {
			border-radius: 0px 0px 30px 30px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			&.rs-banner__bg--desktop {
				@media (max-width: 991.98px) {
					display: none;
				}
			}
			&.rs-banner__bg--tablet {
				@media (min-width: 991.98px), (max-width: 767.98px) {
					display: none;
				}
			}
			&.rs-banner__bg--mobile {
				@media (min-width: 767.98px) {
					display: none;
				}
			}
		}
	}

	// .rs-banner__container
	&__container {
		height: 100%;
		flex: 1;
	}

	// .rs-banner__content
	&__content {
		padding: 0px 0px 53px;
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;
		height: 100%;
		flex: 1;

		@media (max-width: 991.98px) {
			padding: 34px 0px 60px;
		}

		@media (max-width: 767.98px) {
			padding: 43px 0px 263px;
			align-items: flex-start;
		}
	}

	// .rs-banner__body
	&__body {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (max-width: 767.98px) {
			text-align: center;
			align-items: center;
		}

		& > h1 {
			max-width: 730px;

			@media (max-width: 991.98px) {
				max-width: 360px;
				font-size: 34px;
				font-weight: 400;
				line-height: 115%;
			}

			@media (max-width: 767.98px) {
				max-width: 100%;
				font-size: 25px;
				font-weight: 400;
			}
		}

		& > .mrp-med-45 {
			line-height: 110%;
		}

		& > .mrp-med-50 {
			letter-spacing: 2.8px;

			@media (max-width: 991.98px) {
				letter-spacing: 0px;
			}
		}

		& > ul {
			margin-top: 15px;

			@media (max-width: 767.98px) {
				margin-top: 8px;
			}

			@media (max-width: 767.98px) {
				margin-top: 10px;
			}

			li {
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 160%; /* 28.8px */
				display: flex;
				align-items: flex-start;
				text-align: left;

				@media (max-width: 991.98px) {
					font-size: 16px;
					line-height: 130%;
				}

				&::before {
					content: "·";
					font-size: 30px;
					display: block;
					font-weight: 900;
					margin-right: 10px;
					margin-left: 10px;
					color: inherit;
				}
			}
		}

		& > h5 {
			margin-top: 15px;
			max-width: 705px;

			@media (max-width: 991.98px) {
				margin-top: 8px;
				max-width: 355px;
			}

			@media (max-width: 767.98px) {
				margin: 8px auto 0px;
			}
		}
	}

	// .rs-banner__buttons
	&__buttons {
		margin-top: 40px;
		display: flex;
		width: 100%;
		align-items: center;

		@media (max-width: 991.98px) {
			margin-top: 24px;
		}

		@media (max-width: 767.98px) {
			margin-top: 20px;
			justify-content: center;

			.rs-btn:nth-child(2) {
				display: none;
			}
		}

		@media (min-width: 767.98px) {
			.rs-btn {
				&:not(:last-child) {
					margin-right: 25px;
				}
			}
		}
	}
}
