.rs-project {
	padding-bottom: 100px;
	overflow: hidden;

	@media (max-width: 1440px) {
		padding-bottom: 75px;
	}

	@media (max-width: 991.98px) {
		padding-bottom: 64px;
		padding-top: 61px;
		background: var(--item-gray-bg);
	}

	@media (max-width: 767.98px) {
		padding-bottom: 60px;
		padding-top: 60px;
		background: var(--item-gray-bg);
	}

	// .rs-project__container
	&__container {
		& > h2 {
			@media (max-width: 991.98px) {
				&:not(.mobile-title) {
					display: none;
				}
			}

			&.mobile-title {
				max-width: 550px;

				@media (min-width: 991.98px) {
					display: none;
				}

				@media (max-width: 767.98px) {
					br {
						display: none;
					}
				}
			}
		}
	}

	.filter {
		margin-top: 26px;
		display: flex;
		border-radius: 10px;
		border: 1px solid var(--unnamed, var(--light-gray-border));
		z-index: 100;
		position: relative;

		@media (max-width: 991.98px) {
			display: none;
		}

		// .filter__text
		&__text {
			display: flex;
			align-items: center;
			width: 100%;
			max-width: 912px;
			padding: 14px 28px;
			color: var(--gray-font-color);

			@media (max-width: 1440px) {
				padding: 14px 20px;
			}

			&::before {
				font-size: 28px;
				margin-right: 14px;

				@media (max-width: 1440px) {
					font-size: 24px;
					margin-right: 10px;
				}
			}

			p {
				max-width: 762px;

				@media (max-width: 1170px) {
					font-size: 14px;
				}
			}
		}

		// .filter__list
		&__list {
			flex-grow: 1;
			display: flex;
			position: relative;

			& > * {
				width: 100%;
				border-left: 1px solid var(--gray-btn-color);
			}
		}

		// .filter__item
		&__item {
			.filter__title {
				&::after {
					content: "\e904";
					font-family: "icons" !important;
					speak: never;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					color: #9397ad;
					font-size: 18px;
					transition: transform 0.3s ease 0s;
				}
			}

			&._open-filter {
				.filter__modal {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
					transform: translateY(0px);

					&_list {
						li {
							opacity: 1;
							visibility: visible;

							$i: 1;
							@while $i < 30 {
								&:nth-child(#{$i}) {
									transition-delay: $i * 0.05 + s;
								}
								$i: $i + 1;
							}
						}
					}
				}

				.filter__title {
					background-color: var(--gray-btn-color);

					&::after {
						transform: rotate(180deg);
					}
				}
			}
		}

		// .filter__title
		&__title {
			padding: 0px 31px;
			width: 100%;
			height: 100%;
			cursor: pointer;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 146.25%;
			transition: all 0.3s ease 0s;
			display: flex;
			align-items: center;
			justify-content: center;
			white-space: nowrap;

			@media (max-width: 1440px) {
				padding: 0px 25px;
			}

			@media (max-width: 1170px) {
				padding: 0px 15px;
				font-size: 14px;
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: var(--gray-btn-color);
				}
			}
		}

		// .filter__modal
		&__modal {
			position: absolute;
			top: 100%;
			right: 0;
			width: 100%;
			z-index: 100;
			border-radius: 0px 0px 10px 10px;
			border: 1px solid var(--light-gray-border);
			background: #fff;
			padding: 20px 30px;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transform: translateY(30px);
			transition: all 0.3s ease 0s;

			@media (max-width: 1440px) {
				padding: 20px 15px;
			}

			&_list {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				margin: -5px;

				li {
					margin: 5px;
					opacity: 0;
					visibility: hidden;
					transition: all 0.3s ease;

					a {
						display: flex;
						align-items: center;
						justify-content: center;
						color: var(--gray-font-color);
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 130%;
						padding: 11px 18px;
						border-radius: 30px;
						border: 1px solid var(--light-gray-border);
						transition: background-color 0.3s ease 0s;

						&._flt-active {
							background-color: #f5f7fe;

							@media (any-hover: hover) {
								&:hover {
									background-color: #fff;
								}
							}
						}

						@media (any-hover: hover) {
							&:hover {
								background-color: #f5f7fe;
							}
						}
					}
				}
			}
		}

		// .filter__close
		&__close {
			margin-left: 30px;
			padding: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			background-color: var(--primary-color);
			color: #fff;

			&::before,
			&::after {
				content: "\e906";
				position: absolute;
				font-size: 10px;
				/* use !important to prevent issues with browser extensions that change fonts */
				font-family: "icons" !important;
				speak: never;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				transition: all 0.15s ease 0s;
			}

			&::after {
				opacity: 0;
				transform: translateX(-100%);
			}

			@media (any-hover: hover) {
				&:hover {
					&::before {
						transform: translateX(100%);
						opacity: 0;
					}
					&::after {
						transform: translateX(0%);
						opacity: 1;
					}
				}
			}
		}

		// .filter__reset
		&__reset {
			.filter__title {
				border-radius: 0px 10px 10px 0px;

				&::before {
					font-size: 20px;
					color: #9397ad;
					margin-right: 5px;
				}
			}
		}
	}

	// .rs-project__slider
	&__slider {
		width: 100%;
		margin-top: 23px;
		overflow: visible;

		@media (max-width: 767.98px) {
			margin-top: 40px;
		}
	}

	// .rs-project__swiper
	&__swiper {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;
		}
	}

	// .rs-project__slide
	&__slide {
		@media (min-width: 991.98px) {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
			transform: translateY(30px);
			transition: 0.3s ease 0.1s;
			transition-property: opacity, visibility, transform;
			pointer-events: none;
			user-select: none;

			&._open-project {
				position: relative;
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
				pointer-events: all;
				user-select: all;
			}

			$i: 1;
			@while $i < 30 {
				&:nth-child(#{$i}) {
					transition-delay: $i * 0.02 + s;
				}
				$i: $i + 1;
			}
		}
	}

	// .rs-project__item
	&__item {
		@media (any-hover: hover) {
			&:hover {
				.rs-project__img {
					&::after {
						opacity: 1;
					}
				}
			}
		}

		a {
			cursor: none;
		}
	}

	// .rs-project__img
	&__img {
		width: 100%;
		height: 100%;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(2px);
			z-index: 1;
			opacity: 0;
			transition: opacity 0.3s ease 0s;
			border-radius: 10px;
		}

		img {
			border-radius: 10px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			max-height: 617px;

			@media (min-width: 767.98px) {
				border: 1px solid var(--light-gray-border);
			}

			@media (max-width: 767.98px) {
				border-radius: 0px;
			}

			&.rs-project__img--desktop {
				@media (max-width: 767.98px) {
					display: none;
				}
			}

			&.rs-project__img--mobile {
				@media (min-width: 767.98px) {
					display: none;
				}
			}
		}
	}

	// .rs-project__add
	&__add {
		@media (min-width: 991.98px) {
			margin-top: 27px;

			&._close-btn {
				display: none;
			}
		}
		@media (max-width: 991.98px) {
			display: none;
		}
	}

	.cursor {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 99999;
		display: block;
		pointer-events: none;

		&__point-zero {
			position: relative;
		}

		&__circle {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transition: opacity 0.3s cubic-bezier(0.339, -0.18, 0.228, 1.656);
		}

		&__text {
			color: #fff;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 146.25%;
			padding: 5px 15px;
			border-radius: 30px;
			background: var(--primary-color);
			transform: scale(0);
			transition: transform 0.3s ease-in-out;
		}

		&.cursor__active .cursor__circle {
			opacity: 1;
		}
		&.cursor__active .cursor__text {
			transform: scale(1);
		}
	}
}
