.rs-partners {
	padding: 0px 80px 0px;
	margin: 56px 0px 100px;
	overflow: hidden;

	@media (max-width: 1750px) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media (max-width: 1750px) {
		margin: 75px 0px;
	}

	@media (max-width: 1170px) {
		padding-left: 10px;
		padding-right: 10px;
	}

	@media (max-width: 991.98px) {
		padding-left: 0px;
		padding-right: 0px;
		margin: 47px 0px;
	}

	@media (max-width: 767.98px) {
		margin: 47px 0px 57px;
	}

	// .rs-calc__wrapper
	&__wrapper {
		position: relative;
		padding: 123px 0px;

		@media (max-width: 1750px) {
			padding: 75px 0px;
		}

		@media (max-width: 1170px) {
			padding: 50px 0px;
		}

		@media (max-width: 991.98px) {
			padding: 43px 0px 65px;
		}

		@media (max-width: 767.98px) {
			padding: 58px 0px 65px;
		}
	}

	// .rs-calc__bg
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 30px;
		}
	}

	// .rs-partners__container
	&__container {
	}

	// .rs-partners__slider
	&__slider {
		margin-top: 35px;
		overflow: visible;

		@media (max-width: 991.98px) {
			margin-top: 25px;
		}

		@media (max-width: 767.98px) {
			margin-top: 28px;
		}
	}

	// .rs-partners__swiper
	&__swiper {
		@media (min-width: 767.98px) {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: 30px;

			@media (max-width: 1440px) {
				gap: 28px 24px;
			}
		}
	}

	// .rs-partners__slide
	&__slide {
		width: 100%;
		height: 100%;
	}

	// .rs-partners__img
	&__img {
		width: 100%;
		height: 100%;
		border: 1px solid #d4d7e5;
		border-radius: 10px;
		overflow: hidden;
		position: relative;

		@media (max-width: 991.98px) {
			border-radius: 5px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.3s ease 0s;

			&:nth-child(2) {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				img {
					&:nth-child(1) {
						opacity: 0;
						visibility: hidden;
					}

					&:nth-child(2) {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
