.rs-reviews {
	// .rs-reviews__sticker
	&__sticker {
		position: absolute;
		right: 40px;
		bottom: 32px;
		z-index: 2;

		@media (max-width: 991.98px) {
			display: none;
		}

		@media (max-width: 1439.98px) {
			right: 10px;
			bottom: 10px;
		}
	}

	.section__wrapper {
		@media (max-width: 991.98px) {
			// padding: 42px 0px 53px;
			padding: 64px 0px 69px;
		}

		@media (max-width: 767.98px) {
			padding: 56px 0px 62px;
		}
	}

	// .rs-reviews__line
	&__line {
		position: absolute;
		top: -14px;
		right: 6px;
		z-index: 1;

		@media (max-width: 991.98px) {
			display: none;
		}
	}

	// .rs-reviews__content
	&__content {
		position: relative;
		z-index: 3;
	}

	// .rs-reviews__container
	&__container {
	}

	// .rs-reviews__body
	&__body {
		max-width: 820px;
		width: 100%;

		@media (max-width: 1439.98px) {
			max-width: 650px;
		}

		@media (max-width: 1170px) {
			max-width: 550px;
		}

		@media (max-width: 991.98px) {
			max-width: 100%;
		}
	}

	// .rs-reviews__block
	&__block {
		@media (min-width: 991.98px) {
			border-radius: 25px;
			background: var(--unnamed, #fff);
			padding: 50px;
			margin-top: 38px;

			@media (max-width: 1439.98px) {
				margin-top: 30px;
				padding: 40px;
			}

			@media (max-width: 1170px) {
				margin-top: 20px;
				padding: 25px;
			}
		}
	}

	// .rs-reviews__slider
	&__slider {
		@media (max-width: 991.98px) {
			margin-top: 20px;
			overflow: visible;
		}
	}

	// .rs-reviews__swiper
	&__swiper {
	}

	// .rs-reviews__slide
	&__slide {
	}

	// .rs-reviews__item
	&__item {
		@media (max-width: 991.98px) {
			border-radius: 20px;
			border: 1px solid var(--unnamed, #d4d7e5);
			background: #fff;
			padding: 25px 25px 30px;
		}
	}

	// .rs-reviews__header
	&__header {
		display: flex;
		align-items: center;
	}

	// .rs-reviews__avatar
	&__avatar {
		max-width: 67px;
		max-height: 67px;
		width: 100%;
		height: 100%;
		margin-right: 20px;

		@media (max-width: 991.98px) {
			margin-right: 11px;
			width: 49px;
			height: 49px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
	}

	// .rs-reviews__title
	&__title {
		// .rs-reviews__title_name
		&_name {
		}

		// .rs-reviews__title_bottom
		&_bottom {
			display: flex;
			align-items: center;

			@media (max-width: 1439.98px) {
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}

	// .rs-reviews__product
	&__product {
		color: #9397ad;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		margin-left: 16px;

		@media (max-width: 1439.98px) {
			margin-left: 0px;
			margin-top: 5px;
		}

		@media (max-width: 991.98px) {
			display: none;
		}

		p {
			@media (max-width: 1439.98px) {
				font-size: 16px;
				line-height: 130%;
			}
		}
	}

	// .rs-reviews__description
	&__description {
		margin-top: 12px;
		color: var(--gray-font-color);
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;

		@media (max-width: 1439.98px) {
			font-size: 16px;
			line-height: 130%;
		}

		@media (max-width: 991.98px) {
			margin-top: 23px;
		}

		@media (max-width: 767.98px) {
			margin-top: 21px;
		}

		a {
			color: var(--primary-color);
		}

		@media (max-width: 991.98px) {
			p {
				display: -webkit-box;
				-webkit-line-clamp: 9;
				-webkit-box-orient: vertical;
				overflow-y: hidden;
			}
		}
	}

	// .rs-reviews__read-more
	&__read-more {
		@media (min-width: 991.98px) {
			display: none;
		}
	}

	// .rs-reviews__footer
	&__footer {
		margin-top: 18px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		p {
			margin-bottom: -10px;

			@media (max-width: 1439.98px) {
				font-size: 16px;
				line-height: 130%;
				margin: 0px;
			}
		}

		@media (max-width: 991.98px) {
			margin-top: 20px;
		}

		@media (max-width: 767.98px) {
			margin-top: 28px;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		min-width: 43px;
		min-height: 43px;
		max-width: 43px;
		max-height: 43px;
	}
}

//========================================================================================================================================================
.rating {
	display: flex;
	align-items: center;
	font-size: 25px;
	line-height: 0.75;
	transition: opacity 0.3s ease 0s;

	.rating_sending {
		opacity: 0.2;
	}

	.rating_set .rating__active,
	.rating_set .rating__item {
		cursor: pointer;
	}

	.rating__body {
		position: relative;
	}

	.rating__body::before {
		content: "★★★★★";
		display: block;
		color: #f6f7f9;
	}

	.rating__active {
		position: absolute;
		width: 0%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
	}
	.rating__active::before {
		content: "★★★★★";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		color: #ffe219;
	}

	.rating__items {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.rating__item {
		flex: 0 0 20%;
		height: 100%;
		opacity: 0;
	}

	.rating__value {
		font-size: 50%;
		line-height: 1;
		padding: 0px 0px 0px 10px;
		display: none;
	}
}
