.rs-steps {
	padding-bottom: 100px;
	position: relative;

	@media (max-width: 1350px) {
		padding-bottom: 75px;
	}

	@media (max-width: 991.98px) {
		padding-bottom: 43px;
		padding-top: 50px;
	}

	// .rs-steps__container
	&__container {
	}

	// .rs-steps__wrapper
	&__wrapper {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
		}
	}

	// .rs-steps__navigation
	&__navigation {
		&_body {
			@media (min-width: 991.98px) {
				position: sticky;
				top: 100px;

				& > h2 {
					span {
						display: block;
					}
				}
			}

			@media (max-width: 767.98px) {
				& > h2 {
					span {
						display: block;
					}
				}
			}
		}

		// .rs-steps__navigation_list
		&_list {
			margin-top: 30px;

			@media (max-width: 991.98px) {
				display: none;
			}

			li {
				&:not(:last-child) {
					margin-bottom: -9px;
				}

				a {
					color: var(--gray-font-color);
					font-size: 18px;
					font-style: normal;
					font-weight: 500;
					line-height: 277.778%;
					display: inline-flex;
					align-items: center;
					transition: color 0.3s ease 0s;

					@media (max-width: 1350px) {
						font-size: 16px;
					}

					@media (any-hover: hover) {
						&:hover {
							.split-text-origin > span {
								transform: translateY(-100%) rotate(-10deg);
							}
							.split-text-copy > span {
								transform: translateY(0) rotate(0);
							}

							span.count {
								svg {
									path.hover {
										stroke-dashoffset: 0px;
									}
								}
							}
						}
					}

					&._active-step {
						color: var(--primary-color);

						span.count {
							svg {
								path.hover {
									stroke-dashoffset: 0px;
								}
							}
						}
					}

					span.count {
						min-width: 73px;
						min-height: 74px;
						max-width: 73px;
						max-height: 74px;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						width: 100%;
						height: 100%;
						margin-right: 20px;
						position: relative;
						color: var(--primary-color);

						svg {
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							width: 100%;
							height: 100%;

							path.hover {
								stroke: var(--primary-color);
								stroke-dasharray: 250px;
								stroke-dashoffset: 250px;
								transition: all 0.5s ease 0s;
							}
						}
					}
				}
			}
		}
	}

	// .rs-steps__spollers
	&__spollers {
		@media (max-width: 991.98px) {
			margin-top: 30px;
			border-top: 1px solid #d9dce8;
			padding-top: 30px;
		}

		@media (max-width: 767.98px) {
			margin-top: 28px;
		}

		&_item {
			&:not(:last-child) {
				margin-bottom: 100px;

				@media (max-width: 1350px) {
					margin-bottom: 75px;
				}

				@media (max-width: 1170px) {
					margin-bottom: 50px;
				}

				@media (max-width: 991.98px) {
					margin-bottom: 21px;
				}
			}
		}

		&_title {
			cursor: text;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-align: left;

			i {
				position: relative;
				max-width: 12px;
				max-height: 12px;
				min-width: 12px;
				min-height: 12px;
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				@media (min-width: 991.98px) {
					display: none;
				}

				&::before,
				&::after {
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) rotate(-90deg);
					width: 2px;
					height: 12px;
					background-color: var(--primary-color);
					transition: all 0.3s ease 0s;
				}

				&::before {
					transform: translate(-50%, -50%) rotate(0deg);
				}
			}

			&._spoller-active {
				i {
					&::before {
						transform: translate(-50%, -50%) rotate(-90deg);
					}
				}
			}
		}

		&_body {
			margin-top: 11px;

			@media (max-width: 991.98px) {
				margin-top: 5px;
			}
		}
	}

	// .rs-steps__footer
	&__footer {
		padding-top: 20px;
		padding-bottom: 30px;
		display: flex;
		align-items: center;

		@media (max-width: 991.98px) {
			padding-bottom: 20px;
		}

		@media (min-width: 991.98px) {
			justify-content: space-between;
		}
	}

	// .rs-steps__list
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: -4px;
		width: 100%;

		@media (min-width: 991.98px) {
			justify-content: flex-end;
		}

		li {
			color: var(--gray-font-color);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 130%;
			padding: 11px 21px;
			border-radius: 40px;
			background: #f5f7fe;
			margin: 4px;

			@media (max-width: 991.98px) {
				padding: 11px 15px;
				font-size: 12px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}

			&.rs-steps__time {
				display: flex;
				align-items: center;

				@media (min-width: 991.98px) {
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 146.25%;
					white-space: nowrap;
					background-color: transparent;
					padding: 0;
					margin: 0px auto 0px 0px;
				}

				@media (max-width: 991.98px) {
					color: var(--gray-font-color);
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					padding: 11px 15px;
					border-radius: 40px;
					background: #f5f7fe;
					margin: 4px;
				}

				&::before {
					content: "\e902";
					/* use !important to prevent issues with browser extensions that change fonts */
					font-family: "icons" !important;
					speak: never;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					/* Better Font Rendering =========== */
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					font-size: 20px;
					color: var(--primary-color);
					margin-right: 7px;

					@media (max-width: 991.98px) {
						font-size: 13px;
						margin-right: 5px;
					}
				}
			}
		}
	}

	// .rs-steps__picture
	&__picture {
		height: 435px;
		border-radius: 10px;
		overflow: hidden;
		position: relative;

		@media (max-width: 1350px) {
			height: 350px;
		}

		@media (max-width: 991.98px) {
			display: none;
		}

		&--prototype {
			background-color: var(--item-blue-bg);

			.rs-steps__gallery {
				left: -214px;
				top: -185px;

				.rs-steps__column {
					&:nth-child(1) {
						margin-top: 116px;
					}

					&:nth-child(2) {
						margin-top: 182px;
					}

					&:nth-child(4) {
						margin-top: 138px;
					}

					.rs-steps__img {
						width: 253px;
						height: 447px;

						img {
							border-radius: 15px;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}

		&--design {
			background-color: var(--primary-color);

			.rs-steps__gallery {
				left: -76px;
				top: 33px;
			}

			.rs-steps__column {
				transform: rotate(8.096deg);
				z-index: 1;

				&:nth-child(2) {
					margin-left: -146px;
					margin-top: -331px;
					z-index: 0;
				}

				.rs-steps__img {
					width: 564px;
					height: 1662px;
					box-shadow: 0px 0px 97px 4px rgba(47, 49, 115, 0.5);

					img {
						border-radius: 10px;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}

		&--style-inner {
			background-color: var(--item-blue-bg);

			.rs-steps__gallery {
				transform: rotate(30.52deg);
				left: -55px;
				top: -125px;
			}

			.rs-steps__column {
				&:nth-child(1) {
					margin-top: 97px;
				}

				&:nth-child(2) {
					margin-top: -26px;
				}

				.rs-steps__img {
					width: 292px;
					height: 190px;

					img {
						border-radius: 15px;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}

		&--develop {
			background-color: var(--primary-color);

			.rs-steps__gallery {
				margin: 0;
			}

			.rs-steps__column {
				width: 100%;
				height: 100%;

				.rs-steps__img {
					width: 100%;
					height: 100%;
					margin: 0;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}

	&__gallery {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: flex-start;
		margin: -10px;
	}

	&__column {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__img {
		margin: 10px;
	}
}
