.rs-task {
	margin: 100px 0px;

	@media (max-width: 1439.98px) {
		margin: 75px 0px;
	}

	@media (max-width: 991.98px) {
		margin-bottom: 50px;
		margin-top: 50px;
	}

	@media (max-width: 767.98px) {
		margin-bottom: 60px;
		margin-top: 60px;
	}

	// .rs-task__container
	&__container {
		& > h5 {
			margin-top: 16px;

			@media (max-width: 991.98px) {
				margin-top: 20px;
			}
		}
	}

	// .rs-task__list
	&__list {
		@media (min-width: 991.98px) {
			margin-top: 34px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;

			@media (max-width: 1439.98px) {
				margin-top: 20px;
				gap: 20px;
			}
		}
	}

	// .rs-task__item
	&__item {
		@media (min-width: 991.98px) {
			padding: 45px 50px;
			border-radius: 15px;
			background: #f5f7fe;

			@media (max-width: 1439.98px) {
				padding: 25px 20px;
			}
		}

		ul {
			li {
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 160%; /* 28.8px */
				display: flex;
				align-items: flex-start;

				@media (max-width: 991.98px) {
					font-size: 16px;
					line-height: 130%;
				}

				@media (min-width: 991.98px) {
					&::before {
						content: "·";
						font-size: 30px;
						display: block;
						font-weight: 900;
						margin-right: 10px;
						margin-left: 10px;
						color: inherit;
					}
				}
			}
		}
	}
}
