// Курсор на популярных товарах
.cursor {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: block;
	pointer-events: none;

	@media (max-width: 992px) {
		display: none;
	}

	&__point-zero {
		position: relative;
		width: 0;
		height: 0;
	}

	&__circle {
		display: flex;
		overflow: hidden;
		width: 0px;
		height: 0px;
		opacity: 0;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		background-color: rgba(248, 238, 238, 0.4);
		opacity: 1;
		transition: opacity 0.3s ease-in-out, height 0.4s cubic-bezier(0.339, -0.18, 0.228, 1.656),
			width 0.4s cubic-bezier(0.339, -0.18, 0.228, 1.656);
	}

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: normal;
		display: flex;
		align-items: center;
		letter-spacing: 2.64px;
		text-transform: uppercase;
		color: #542433;

		@media (max-width: 1920px) {
			font-size: calc(8px + (13 - 8) * ((100vw - 320px) / (1920 - 320)));
		}
	}

	&__arrow {
		width: 10px;
		height: 19px;
		margin: 0 17.5px;
		transition: margin 0.4s cubic-bezier(0.339, -0.18, 0.228, 1.656);
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 1920px) {
			margin: 0px calc(5px + (17.5 - 5) * ((100vw - 320px) / (1920 - 320)));
		}

		&::before {
			font-size: 20px;
			color: #fff;

			@media (max-width: 1920px) {
				font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
			}
		}
	}

	&.cursor__active .cursor__circle {
		width: 128px;
		height: 128px;
		opacity: 1;

		@media (max-width: 1920px) {
			width: calc(90px + (128 - 90) * ((100vw - 320px) / (1920 - 320)));
			height: calc(90px + (128 - 90) * ((100vw - 320px) / (1920 - 320)));
		}
	}

	&.cursor__active .cursor__circle.cursor__circle__drag {
		width: 110px;
		height: 110px;

		@media (max-width: 1920px) {
			width: calc(80px + (110 - 80) * ((100vw - 320px) / (1920 - 320)));
			height: calc(80px + (110 - 80) * ((100vw - 320px) / (1920 - 320)));
		}
	}

	&.cursor__active .cursor__circle.cursor__circle__drag .cursor__arrow {
		margin: 0 13px;

		@media (max-width: 1920px) {
			margin: 0px calc(2px + (13 - 2) * ((100vw - 320px) / (1920 - 320)));
		}
	}
}
