.lg-backdrop {
	background-color: rgba($color: #000000, $alpha: 0.5);
}

.lg-toolbar .lg-icon {
	color: #e3ebff;
}

[data-gallery-item] {
	cursor: pointer;
}

//========================================================================================================================================================
.lg-show-in .lg-next,
.lg-show-in .lg-pager-outer,
.lg-show-in .lg-prev,
.lg-show-in .lg-toolbar {
	opacity: 1;
}

.lg-outer * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.lg-hide-sub-html .lg-sub-html,
.lg-next,
.lg-pager-outer,
.lg-prev,
.lg-toolbar {
	opacity: 0;
	will-change: transform, opacity;
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s,
		opacity 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
	-moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
	-o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
	transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
}

.lg-prev {
	left: 20px;
}

.lg-next {
	right: 20px;
}

.lg-next,
.lg-prev {
	font-size: 24px;
	margin-top: 0px;
	padding: 0px;
	z-index: 1080;
	outline: 0;
	border: none;
	position: absolute;
	top: 50%;
	width: 56px;
	height: 56px;
	margin-top: 0px;
	transform: translateY(-50%);
	border-radius: 100%;
	z-index: 1080;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #353e44;
	background-color: #fff;
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			color: #fff;
			background-color: $accentColor;
		}
	}
}

.lg-icon {
	font-family: lg !important;
	speak: never;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
