.mg-loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	z-index: 10000;
	transform: translateZ(0);
	pointer-events: none;
}

.mg-loader-fill {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--primary-color);
}

.mg-loader-fill:nth-child(even) {
	background: #fff;
}

// .mg-loader-percent {
// 	position: absolute;
// 	right: 2rem;
// 	bottom: 15rem;
// 	padding: 0.15em;
// 	margin: -0.15em;
// 	overflow: hidden;
// 	contain: content;
// 	opacity: 0;
// 	font-weight: 320;
// 	font-size: 6rem;
// 	line-height: 100%;
// 	letter-spacing: -0.04rem;
// 	text-align: right;
// }

// @media (min-width: 768px) {
// 	.mg-loader-percent {
// 		right: 4rem;
// 		font-size: 8rem;
// 	}
// }

// @media (min-width: 1024px) {
// 	.mg-loader-percent {
// 		right: 12rem;
// 		bottom: 22.2rem;
// 		font-size: 12rem;
// 	}
// }

// @media (min-width: 1200px) {
// 	.mg-loader-percent {
// 		right: 17rem;
// 	}
// }

// .mg-loader-text {
// 	position: absolute;
// 	top: 32%;
// 	left: 2rem;
// 	opacity: 0;
// 	font-weight: 320;
// 	font-size: 6rem;
// 	line-height: 100%;
// 	letter-spacing: -0.04rem;
// }

// @media (min-width: 768px) {
// 	.mg-loader-text {
// 		left: 4rem;
// 		font-size: 8rem;
// 	}
// }

// @media (min-width: 1024px) {
// 	.mg-loader-text {
// 		top: auto;
// 		left: 12rem;
// 		bottom: 22.2rem;
// 		max-width: 50%;
// 		font-size: 12rem;
// 	}
// }

// @media (min-width: 1200px) {
// 	.mg-loader-text {
// 		left: 17rem;
// 	}
// }

// @media (min-width: 768px) {
// 	.mg-loader-text:lang(fr) {
// 		font-size: 7.5rem;
// 	}
// }

// @media (min-width: 1024px) {
// 	.mg-loader-text:lang(fr) {
// 		max-width: 60%;
// 		font-size: 11rem;
// 	}
// }
