.mg-loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	z-index: 99999999;
	transform: translateZ(0);
	pointer-events: none;
}

.mg-loader-fill {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--primary-color);
}

.mg-loader-fill:nth-child(even) {
	background: #fff;
}
