// Заголовки, общие БЄМ блоки и проче...
.hidden {
	display: none !important;
}

section {
	position: relative;
	z-index: 1;
	margin: 100px 0px;

	@media (max-width: 1439.98px) {
		margin: 75px 0px;
	}

	@media (max-width: 991.98px) {
		margin: 47px 0px;
	}

	&.section-bg {
		overflow: hidden;
		padding-left: 80px;
		padding-right: 80px;

		@media (max-width: 1749.98px) {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

.section {
	&__head {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		&-title {
			max-width: 1009px;

			p {
				margin-top: 10px;

				@media (max-width: 767.98px) {
					margin-top: 16px;
				}
			}
		}
	}

	&__wrapper {
		position: relative;
		padding: 100px 75px;

		@media (max-width: 1749.98px) {
			padding: 75px 40px;
		}

		@media (max-width: 1169.98px) {
			padding: 50px 10px;
		}

		@media (max-width: 991.98px) {
			padding: 30px 0px;
		}
	}

	&__bg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		z-index: -1;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 30px;

			&.section__bg--desktop {
				@media (max-width: 991.98px) {
					display: none;
				}
			}
			&.section__bg--mobile {
				@media (min-width: 991.98px) {
					display: none;
				}
			}
		}
	}
}

.progress-bar {
	position: fixed;
	left: 0;
	top: 0;
	height: 5px;
	width: 0;
	border-radius: 0px 2px 2px 0px;
	background: var(--primary-color);
	z-index: 1000;
}

[class*="mrp-"] {
	font-family: "Manrope";
}

// Text   ========================================================================================================================================================
.mrp-semibold-18 {
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	letter-spacing: 0.16px;
}

.mrp-med-18 {
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 21.6px */
}

.mrp-med-65 {
	font-size: 65px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%; /* 71.5px */

	@media (max-width: 1439.98px) {
		font-size: 50px;
	}

	@media (max-width: 1170px) {
		font-size: 35px;
	}

	@media (max-width: 991.98px) {
		font-size: 24px;
		line-height: 111%;
	}
}

.mrp-med-50 {
	font-size: 50px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%;

	@media (max-width: 1439.98px) {
		font-size: 45px;
	}

	@media (max-width: 1170px) {
		font-size: 40px;
	}

	@media (max-width: 991.98px) {
		font-size: 34px;
		font-weight: 400;
		line-height: 115%;
	}

	@media (max-width: 767.98px) {
		font-size: 25px;
		font-weight: 400;
	}
}

.mrp-med-45 {
	font-size: 45px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;

	@media (max-width: 1439.98px) {
		font-size: 35px;
	}

	@media (max-width: 1170px) {
		font-size: 30px;
	}

	@media (max-width: 991.98px) {
		font-size: 24px;
		line-height: 122%;
	}
}

.mrp-med-40 {
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 48px */

	@media (max-width: 1439.98px) {
		font-size: 35px;
	}

	@media (max-width: 1170px) {
		font-size: 30px;
	}

	@media (max-width: 991.98px) {
		font-size: 24px;
		line-height: 122%;
	}

	@media (max-width: 767.98px) {
		line-height: 122%;
	}
}

.mrp-med-25 {
	font-size: 25px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;

	@media (max-width: 991.98px) {
		font-size: 19px;
		line-height: 130%;
	}
}

.mrp-med-22 {
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%; /* 28.6px */

	@media (max-width: 991.98px) {
		font-size: 19px;
		line-height: 130%;
	}
}

.mrp-med-21 {
	font-size: 21px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	@media (max-width: 991.98px) {
		font-size: 19px;
		line-height: 130%;
	}
}

.mrp-med-20 {
	font-weight: 500;
	font-size: 20px;
	// line-height: 34px;
	line-height: 170%;

	@media (max-width: 991.98px) {
		font-size: 19px;
		line-height: 130%;
	}
}

.mrp-reg-25 {
	color: var(--gray-font-color);
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;

	@media (max-width: 991.98px) {
		font-size: 19px;
		line-height: 130%;
	}
}

.mrp-reg-21 {
	color: var(--gray-font-color);
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	line-height: 170%;

	@media (max-width: 1439.98px) {
		font-size: 18px;
	}

	@media (max-width: 991.98px) {
		font-size: 16px;
		line-height: 130%;
	}
}

.mrp-reg-18 {
	color: var(--gray-font-color);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;

	a {
		color: var(--primary-color);
	}

	@media (max-width: 991.98px) {
		font-size: 16px;
		line-height: 130%;
	}
}

.mrp-reg-16 {
	color: var(--gray-font-color);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 170%;
}

.mrp-reg-14 {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 170%; /* 23.8px */
}

// Button ========================================================================================================================================================
.rs-btn {
	position: relative;
	display: inline-block;
	border-radius: 100px;
	z-index: 10;
	border: 1px solid transparent;
	background-color: transparent;
	transition: all 0.5s cubic-bezier(0.9, 0, 0.2, 1);

	.btn-hover {
		position: absolute;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		overflow: hidden;
		left: -1px;
		top: -1px;
		border-radius: calc(58px + 1px);
		z-index: 1;

		&:after {
			content: "";
			background-color: var(--primary-color-hover);
			width: max(100%, 100px);
			height: 0;
			padding-top: max(100%, 100px);
			border-radius: 100%;
			top: 50%;
			left: 50%;
			opacity: 0;
			z-index: 0;
			position: absolute;
			pointer-events: none;
			touch-action: none;
			transition:
				background-color 0.3s,
				transform 0.5s ease-in-out,
				opacity 0.35s ease-in-out;
			transform: translate(-50%, 50%) scale(0.5);
		}
	}

	.btn-text {
		width: 100%;
		justify-content: center;
		text-align: left;
		align-items: center;
		display: inline-flex;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 130%;
		border-radius: 30px;
		position: relative;
		z-index: 10;
		padding: 16.2px 28px;
		color: #fff;
		transition: color 0.5s cubic-bezier(0.9, 0, 0.2, 1);

		@media (max-width: 1439.98px) {
			font-size: 14px;
			padding: 14px 20px;
		}

		@media (max-width: 991.98px) {
			font-size: 13px;
			padding: 15px 23px;
		}

		@media (max-width: 767.98px) {
			padding: 13px 20px;
		}

		&::before {
			font-size: 20px;
			margin-right: 9px;
			color: #fff;
			transition: color 0.5s cubic-bezier(0.9, 0, 0.2, 1);

			@media (max-width: 991.98px) {
				font-size: 17px;
				margin-right: 7px;
			}
		}

		svg {
			width: 20px;
			height: 20px;
			margin-right: 9px;

			@media (max-width: 991.98px) {
				width: 17px;
				height: 17px;
				margin-right: 7px;
			}

			path,
			rect {
				stroke: #fff;
				transition: stroke 0.5s cubic-bezier(0.9, 0, 0.2, 1);
			}
		}
	}

	@media (any-hover: hover) {
		&:hover {
			.btn-hover {
				&:after {
					opacity: 1;
					transform: translate(-50%, -50%) scale(1);
					transition:
						background-color 0.3s,
						transform 0.4s ease-out,
						opacity 0.4s 0.1s;
				}
			}
		}
	}

	&._btn-primary {
		background-color: var(--primary-color);

		.btn-text {
			color: var(--primary-color-text);

			&::before {
				color: var(--primary-color-text);
			}

			svg {
				path,
				rect {
					stroke: var(--primary-color-text);
				}
			}
		}
	}

	&._btn-primary-border {
		border-color: var(--primary-color);

		.btn-text {
			color: #0d0e10;

			&::before {
				color: var(--primary-color);
			}

			svg {
				path,
				rect {
					stroke: var(--primary-color);
				}
			}
		}

		@media (any-hover: hover) {
			&:hover {
				border-color: transparent;

				.btn-text {
					color: #fff;

					&::before {
						color: #fff;
					}

					svg {
						path,
						rect {
							stroke: #fff;
						}
					}
				}
			}
		}
	}

	&._btn-gray-border {
		border-color: var(--light-gray-border);

		.btn-text {
			color: #0d0e10;

			&::before {
				color: var(--primary-color);
			}

			svg {
				path,
				rect {
					stroke: var(--primary-color);
				}
			}
		}

		.btn-hover {
			&::after {
				background-color: var(--primary-color);
			}
		}

		@media (any-hover: hover) {
			&:hover {
				border-color: transparent;

				.btn-text {
					color: #fff;

					&::before {
						color: #fff;
					}

					svg {
						path,
						rect {
							stroke: #fff;
						}
					}
				}
			}
		}
	}

	&._btn-white {
		background-color: #fff;

		.btn-text {
			color: #141517;

			&::before {
				color: var(--primary-color);
			}

			svg {
				path,
				rect {
					stroke: var(--primary-color);
				}
			}
		}

		.btn-hover {
			&::after {
				background-color: var(--primary-color);
			}
		}

		@media (any-hover: hover) {
			&:hover {
				.btn-text {
					color: #fff;

					&::before {
						color: #fff;
					}

					svg {
						path,
						rect {
							stroke: #fff;
						}
					}
				}
			}
		}
	}

	&._btn-gray {
		background-color: #f5f7fe;

		.btn-text {
			color: var(--gray-font-color);

			&::before {
				color: var(--gray-font-color);
			}
		}

		.btn-hover {
			&:after {
				background-color: #fff;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				.btn-text {
					color: var(--font-color);

					&::before {
						color: var(--font-color);
					}
				}

				path,
				rect {
					stroke: #fff;
					fill: #fff;
				}
			}
		}
	}
}

.rs-link {
	position: relative;
	display: inline-block;
	z-index: 10;
	background-color: transparent;

	.btn-text {
		width: 100%;
		justify-content: center;
		text-align: left;
		align-items: center;
		display: inline-flex;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 146%;
		position: relative;
		z-index: 10;
		color: #141517;
		transition: color 0.5s cubic-bezier(0.9, 0, 0.2, 1);

		@media (max-width: 1439.98px) {
			font-size: 14px;
		}

		@media (max-width: 991.98px) {
			font-size: 13px;
		}

		&::before {
			font-size: 20px;
			margin-right: 9px;
			color: #141517;
			transition: color 0.5s cubic-bezier(0.9, 0, 0.2, 1);

			@media (max-width: 991.98px) {
				font-size: 17px;
				margin-right: 7px;
			}
		}

		& > svg {
			width: 20px;
			height: 20px;
			margin-right: 9px;

			@media (max-width: 991.98px) {
				width: 17px;
				height: 17px;
				margin-right: 7px;
			}

			path,
			rect {
				stroke: #141517;
				transition: stroke 0.5s cubic-bezier(0.9, 0, 0.2, 1);
			}
		}

		span {
			position: relative;
			overflow: hidden;
			& > svg {
				transition: transform 0.7s;
				transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
				position: absolute;
				top: 0;
				left: 0;
				pointer-events: none;
				fill: none;
				stroke: #100f0f;
				stroke-width: 2px;
			}
		}
	}

	@media (any-hover: hover) {
		&:hover {
			.btn-text {
				span {
					& > svg {
						transform: translate3d(-66.6%, 0, 0);
					}
				}
			}
		}
	}
}

// Block  ========================================================================================================================================================
.tooltip {
	display: inline-flex;
	vertical-align: middle;
	position: relative;

	&:hover {
		.tooltip__modal {
			&._arrow-left {
				animation: shakeLeft 500ms ease-in-out forwards;
			}
			&._arrow-right {
				animation: shakeRight 500ms ease-in-out forwards;
			}
			&._arrow-top {
				animation: shakeTop 500ms ease-in-out forwards;
			}
			&._arrow-bottom {
				animation: shakeBottom 500ms ease-in-out forwards;
			}
			opacity: 1;
			visibility: visible;
			pointer-events: visible;
		}
	}

	// .range__tooltip_btn
	&__btn {
		font-size: 24px;
		color: var(--primary-color);
		margin-left: 8px;

		@media (max-width: 1750px) {
			font-size: 20px;
		}
		@media (max-width: 1170px) {
			font-size: 16px;
		}

		&:before {
			font-weight: 100;
		}
	}

	// .range__tooltip_modal
	&__modal {
		position: absolute;
		padding: 16px 12px;
		background-color: #fff;
		border-radius: 8px;
		opacity: 0;
		visibility: hidden;
		box-shadow: 0px 8px 16px -2px rgba(27, 33, 44, 0.12);
		z-index: 100;
		// min-width: 292px;
		max-width: 292px;
		display: block;
		color: var(--gray-font-color);
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 107.692%;
		transition: all 0.3s ease 0s;
		pointer-events: none;

		@keyframes shakeLeft {
			0% {
				transform: translateY(-50%) translateX(30px) rotate(2deg);
			}
			50% {
				transform: translateY(-50%) rotate(-3deg);
			}
			70% {
				transform: translateY(-50%) rotate(3deg);
			}

			100% {
				transform: translateY(-50%) translateX(0px) rotate(0deg);
			}
		}

		@keyframes shakeRight {
			0% {
				transform: translateY(-50%) translateX(-30px) rotate(2deg);
			}
			50% {
				transform: translateY(-50%) rotate(-3deg);
			}
			70% {
				transform: translateY(-50%) rotate(3deg);
			}

			100% {
				transform: translateY(-50%) translateX(0px) rotate(0deg);
			}
		}

		@keyframes shakeTop {
			0% {
				transform: translateX(-50%) translateY(30px) rotate(2deg);
			}
			50% {
				transform: translateX(-50%) rotate(-3deg);
			}
			70% {
				transform: translateX(-50%) rotate(3deg);
			}

			100% {
				transform: translateX(-50%) translateY(0px) rotate(0deg);
			}
		}

		@keyframes shakeBottom {
			0% {
				transform: translateX(-50%) translateY(-30px) rotate(2deg);
			}
			50% {
				transform: translateX(-50%) rotate(-3deg);
			}
			70% {
				transform: translateX(-50%) rotate(3deg);
			}

			100% {
				transform: translateX(-50%) translateY(0px) rotate(0deg);
			}
		}

		&::before {
			content: "";
			position: absolute;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='16' viewBox='0 0 8 16' fill='none'%3e%3cpath d='M8 16L8 0L1.41421 6.58579C0.633165 7.36684 0.633165 8.63317 1.41421 9.41421L8 16Z' fill='white'/%3e%3c/svg%3e");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			height: 16px;
			width: 8px;
			// filter: drop-shadow(0 0 0.1rem black);
		}

		&._arrow-left {
			left: calc(100% + 12px);
			right: auto;
			bottom: auto;
			top: 50%;
			transform: translateY(-50%);

			&::before {
				left: auto;
				right: 100%;
				bottom: auto;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&._arrow-right {
			right: calc(100% + 12px);
			left: auto;
			bottom: auto;
			top: 50%;
			transform: translateY(-50%);

			&::before {
				right: auto;
				left: 100%;
				bottom: auto;
				top: 50%;
				transform: translateY(-50%) rotate(180deg);
			}
		}

		&._arrow-top {
			top: calc(100% + 12px);
			bottom: auto;
			right: auto;
			left: 50%;
			transform: translateX(-50%);

			&::before {
				top: auto;
				bottom: calc(100% - 4px);
				right: auto;
				left: 50%;
				transform: translateX(-50%) rotate(90deg);
			}
		}

		&._arrow-bottom {
			bottom: calc(100% + 12px);
			top: auto;
			right: auto;
			left: 50%;
			transform: translateX(-50%);

			&::before {
				bottom: auto;
				top: calc(100% - 4px);
				right: auto;
				left: 50%;
				transform: translateX(-50%) rotate(-90deg);
			}
		}
	}
}

.form {
	margin-top: 18px;

	// .form__wrapper
	&__wrapper {
	}

	// .form__block
	&__block {
	}

	// .form__line
	&__line {
		width: 100%;
		position: relative;

		&:not(:last-child) {
			margin-bottom: 11px;
		}

		&._form-error {
			.rs-input-placeholder {
				font-size: 12px;
				padding-top: 12.5px;

				@media (max-width: 767.98px) {
					padding-top: 8.5px;
					font-size: 11px;
				}
			}
			.form__right {
				opacity: 0;
				visibility: hidden;
			}
		}

		&._form-right {
			.rs-input-placeholder {
				font-size: 12px;
				padding-top: 12.5px;

				@media (max-width: 767.98px) {
					padding-top: 8.5px;
					font-size: 11px;
				}
			}
			.form__right {
				opacity: 1;
				visibility: visible;
			}
		}

		&._form-valid {
			.rs-input-placeholder {
				font-size: 12px;
				padding-top: 12.5px;

				@media (max-width: 767.98px) {
					padding-top: 8.5px;
					font-size: 11px;
				}
			}
		}

		&._form-focus {
			.rs-input-placeholder {
				font-size: 12px;
				padding-top: 12.5px;

				@media (max-width: 767.98px) {
					padding-top: 8.5px;
					font-size: 11px;
				}
			}
			.form__right {
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	&__error {
		margin-top: 3px;
		margin-left: 20px;
		text-align: left;
		font-weight: 400;
		font-size: 12px;
		// line-height: 14px;
		line-height: 120%;
		color: #e35255;
	}

	&__right {
		position: absolute;
		right: 39px;
		top: 27px;
		width: 13px;
		height: 10px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10' fill='none'%3e%3cpath d='M10.2929 1.29296L3.99892 7.58696C3.99992 7.58596 1.70692 5.29296 1.70692 5.29296C1.51832 5.1108 1.26571 5.01001 1.00352 5.01229C0.741321 5.01456 0.490509 5.11973 0.305101 5.30514C0.119692 5.49055 0.0145233 5.74136 0.0122448 6.00356C0.00996641 6.26575 0.110761 6.51836 0.292919 6.70696L2.58692 9.00096C3.36692 9.78096 4.63692 9.77796 5.41292 9.00096L11.7069 2.70696C11.8024 2.61471 11.8786 2.50437 11.931 2.38236C11.9834 2.26036 12.011 2.12914 12.0122 1.99636C12.0133 1.86358 11.988 1.7319 11.9377 1.60901C11.8875 1.48611 11.8132 1.37446 11.7193 1.28056C11.6254 1.18667 11.5138 1.11242 11.3909 1.06214C11.268 1.01186 11.1363 0.986555 11.0035 0.987709C10.8707 0.988862 10.7395 1.01645 10.6175 1.06886C10.4955 1.12127 10.3852 1.19745 10.2929 1.29296Z' fill='%237CB521'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		user-select: none;
		transition: all 0.3s ease 0s;
	}

	// .form__footer
	&__footer {
		margin-top: 6px;
	}

	// .form__agreement
	&__agreement {
		color: #1d1e21;
		text-align: center;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;

		@media (max-width: 991.98px) {
			font-size: 11px;
		}

		a {
			text-decoration: underline;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	// .form__button
	&__button {
		margin-top: 25px;
		width: 100%;

		.rs-btn {
			width: 100%;
		}
	}
}

.rs-input-placeholder {
	position: absolute;
	top: 0;
	left: 0;
	padding: 19px 20px;
	pointer-events: none;
	z-index: 10;
	transition: all 0.3s ease 0s;
	font-weight: 500;
	font-size: 18px;
	// line-height: 23px;
	line-height: 130%;
	color: #666a80;

	@media (max-width: 991.98px) {
		font-size: 15px;
	}

	@media (max-width: 767.98px) {
		padding: 16px 15px;
		font-size: 14px;
	}
}

.rs-input {
	outline: none;
	width: 100%;
	transition: 0.3s ease 0s;
	transition-property: background-color, border-color;
	background: #f5f7fe;
	font-weight: 500;
	font-size: 18px;
	line-height: 130%;
	color: var(--font-color);
	border-radius: 10px;
	padding: 18px 20px;
	border: 1px solid transparent;

	@media (max-width: 1439.98px) {
		font-size: 14px;
	}

	@media (max-width: 1169.98px) {
		font-size: 13px;
	}

	@media (max-width: 991.98px) {
		font-size: 16px;
	}

	&::placeholder {
		color: #666a80;
	}

	&._form-focus {
		border-color: #6366f1;
		background-color: #fff;
	}

	&._form-error {
		background-color: #fae5e4;
	}

	&._form-right {
	}
}

textarea.rs-input {
	resize: vertical;
	min-height: 175px;

	@media (max-width: 991.98px) {
		min-height: 142px;
	}
}

.rs-input-clear {
	position: absolute;
	padding: 26px 20px;
	top: 0;
	right: 0;
	display: none;

	@media (max-width: 767.98px) {
		padding: 20px 15px;
	}

	&._clear-active {
		display: block;
	}

	&::before {
		font-size: 10px;
		color: #565973;
	}
}
