.rs-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	transition:
		0.3s ease 0s,
		top 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
	transition-property: padding-top, top, background-color, backdrop-filter;
	background-color: transparent;

	@media (min-width: 991.98px) {
		padding-top: 22px;

		@media (max-width: 1439.98px) {
			padding-top: 10px;
		}

		.lock & {
			padding-right: 6px;
		}

		&._header-white {
			color: #fff;
		}

		&._header-hover {
			color: #141517;

			&::before {
				transform: translate3d(0, 0%, 0);
				transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
			}
		}

		&._header-scroll {
			color: #141517;
		}
	}

	@media (min-width: 767.98px) {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: #fff;
			z-index: -1;
			transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0.1s;
			transform: translate3d(0, -100%, 0);
			pointer-events: none;
		}

		&._header-scroll {
			&::before {
				transform: translate3d(0, 0%, 0);
				transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
			}
		}

		&._header-scroll._header-show {
			&::before {
				transform: translate3d(0, 0%, 0);
				transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
			}
		}

		.menu-open & {
			&::before {
				transform: translate3d(0, -100%, 0);
			}
		}
	}

	&._header-scroll {
		top: -500px;
		padding-top: 0px;
	}

	&._header-scroll._header-show {
		top: -0px;
	}

	&.margin-0 {
		padding-top: 0px;
	}

	&.border-bottom {
		border-bottom: 1px solid var(--light-gray-border);
	}

	// .rs-header__container
	&__container {
		& > .rs-header__location_modal {
			position: fixed;
			left: 0;
			top: auto;
			bottom: 0;
			right: auto;
			width: 100%;

			@media (min-width: 767.98px) {
				display: none;
			}
		}

		& > .rs-header__region {
			@media (max-width: 767.98px) {
				display: none;
			}
		}
	}

	// .rs-header__wrapper
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 991.98px) {
			padding: 15px 0px;
			position: relative;
			z-index: 10;
		}

		@media (max-width: 767.98px) {
			justify-content: space-between;
			max-width: 181px;
			width: 100%;
			padding: 19px 4px 19px 15px;
			transition: all 0.3s ease 0s;

			.menu-open & {
				max-width: 100%;
				padding-left: 4px;
			}
		}
	}

	.menu {
		@media (min-width: 991.98px) {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin: 0px auto 0px 0px;
			flex: 1 1 50%;
		}

		@media (max-width: 991.98px) {
			order: 3;

			&:after {
				content: "";
				position: absolute;
				top: 15px;
				left: auto;
				right: 0px;
				background: var(--primary-color);
				display: block;
				width: 89px;
				height: 42px;
				border-radius: 30px;
				transition: all 0.5s ease 0s;
				z-index: -1;

				@media (max-width: 767.98px) {
					width: 100%;
					top: 15px;
					left: 0px;
				}
			}

			.menu-open & {
				&::after {
					width: calc(100% + 30px);
					height: calc(100vh - 14px);
					top: 7px;
					right: -15px;
					border-radius: 15px;

					@media (max-width: 767.98px) {
						right: -7px;
						left: -7px;
						width: calc(100% + 14px);
					}
				}
			}
		}

		@media (max-width: 767.98px) {
			order: 2;
		}

		// .menu__icon
		&__icon {
			@media (min-width: 991.98px) {
				display: none;
			}

			@media (max-width: 991.98px) {
				position: relative;
				cursor: pointer;
				z-index: 5;
				padding: 10px 23px;
				border-radius: 30px;
				background: var(--primary-color-hover);

				span {
					font-weight: 500;
					font-size: 16px;
					// line-height: 21px;
					line-height: 130%;
					color: #fff;

					&:first-child {
						display: block;
					}

					&:last-child {
						display: none;
					}
				}

				.menu-open & {
					span {
						&:first-child {
							display: none;
						}
						&:last-child {
							display: block;
						}
					}
				}
			}

			@media (max-width: 767.98px) {
				margin-left: 15px;
				padding: 8px 14px;

				span {
					font-size: 14px;
				}
			}
		}

		// .menu__block
		&__block {
			.rs-header__feedback {
				@media (min-width: 991.98px) {
					display: none;
				}

				@media (max-width: 991.98px) {
					padding: 18px 15px 20px;
					border-top: 1px solid #d4d7e5;

					h6 {
						font-weight: 500;
						font-size: 15px;
						// line-height: 19px;
						line-height: 130%;
						color: #9397ad;
						margin-bottom: 20px;
					}

					ul {
						li {
							display: flex;
							align-items: center;
							font-weight: 500;
							font-size: 16px;
							// line-height: 21px;
							line-height: 130%;
							color: #141517;
							position: relative;

							@media (max-width: 767.98px) {
								font-size: 15px;
								line-height: 20px;
							}

							&:not(:last-child) {
								margin-bottom: 20px;

								@media (max-width: 767.98px) {
									margin-bottom: 19px;
								}
							}

							a {
								display: flex;
								align-items: center;
							}

							svg {
								width: 15px;
								height: 15px;
								margin-right: 5px;

								path,
								circle {
									stroke: var(--primary-color);
								}
							}

							@media (max-width: 991.98px) {
							}
						}
					}

					.rs-btn {
						margin-top: 20px;
						display: inline-flex;

						.btn-text {
							padding: 13px 20px;
							svg {
								width: 17px;
								height: 17px;
							}
						}
					}
				}
			}

			.rs-header__location {
				&_link {
					@media (min-width: 991.98px) {
						display: none;
					}
				}

				@media (max-width: 991.98px) {
					border-top: 1px solid #d4d7e5;

					&_link {
						display: flex;
						align-items: center;
						padding: 20px 15px;
						font-weight: 500;
						font-size: 16px;
						// line-height: 21px;
						line-height: 130%;
						color: #141517;
						position: relative;

						@media (max-width: 767.98px) {
							font-size: 15px;
							line-height: 20px;
						}

						svg {
							width: 15px;
							height: 15px;
							margin-right: 5px;

							path,
							circle {
								stroke: var(--primary-color);
							}
						}

						@media (max-width: 991.98px) {
						}

						&::before {
							content: "";
							position: absolute;
							top: 50%;
							right: 10px;
							display: block;
							background-image: url("../img/icons/caret-down.svg");
							background-repeat: no-repeat;
							background-position: center;
							background-size: contain;
							transition: transform 0.3s ease 0s;
							min-width: 30px;
							min-height: 30px;
							max-width: 30px;
							max-height: 30px;
							transform: translateY(-50%) rotate(-90deg);

							@media (max-width: 767.98px) {
								right: 5px;
							}
						}
					}
				}
			}

			@media (max-width: 991.98px) {
				position: absolute;
				width: 100%;
				max-height: calc(100vh - 88px);
				min-height: calc(100vh - 88px);
				top: calc(100% - 9px);
				transform: translateX(-150%);
				left: 0px;
				right: 0px;
				border-radius: 15px;
				overflow-y: auto;
				overflow-x: hidden;
				background: #fff;
				transition: transform 0.5s ease 0s;
				z-index: 99;

				@media (max-width: 767.98px) {
					.region-menu-open & {
						overflow: hidden;
					}
				}

				&::-webkit-scrollbar-thumb {
					cursor: pointer;
					background: #d4d7e5;
					transition: 0.2s ease-in-out;
					border-radius: 3px;
				}

				/* Standardized Properties */
				@supports not selector(::-webkit-scrollbar) {
					scrollbar-color: #d4d7e5 var(--bg-color);
				}

				.menu-open & {
					transform: translateX(0%);
				}

				& > * {
					max-width: 768px;
					margin: 0 auto;
				}
			}
		}

		// .menu__body
		&__body {
		}

		// .menu__list
		&__list {
			@media (min-width: 991.98px) {
				display: flex;
				align-items: center;
			}

			@media (max-width: 991.98px) {
				padding: 20px 15px 17px;
			}

			& > li {
				&:not(:last-child) {
					@media (min-width: 991.98px) {
						margin-right: 32px;

						@media (max-width: 1439.98px) {
							margin-right: 24px;
						}

						@media (max-width: 1169.98px) {
							margin-right: 14px;
						}
					}

					@media (max-width: 991.98px) {
						margin-bottom: 20px;

						@media (max-width: 767.98px) {
							margin-bottom: 19px;
						}
					}
				}

				& > a {
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 23.4px;

					@media (max-width: 1439.98px) {
						font-size: 14px;
						line-height: 21.4px;
					}

					@media (max-width: 1169.98px) {
						font-size: 13px;
						line-height: 20.4px;
					}

					@media (max-width: 991.98px) {
						font-size: 16px;
						line-height: 21px;
					}

					@media (max-width: 767.98px) {
						font-size: 15px;
						line-height: 20px;
					}

					@media (min-width: 991.98px) {
						padding: 29.5px 0px;

						@media (max-width: 1439.98px) {
							padding: 25px 0px;
						}
					}
				}

				@media (min-width: 991.98px) {
					&:first-child,
					&:last-child {
						display: none;
						visibility: hidden;
					}
				}

				@media (any-hover: hover) {
					&:hover {
						& > a {
							color: var(--primary-color);
						}
					}
				}
			}

			li {
				a {
					display: flex;
					align-items: center;
					justify-content: space-between;
					position: relative;
					transition: all 0.3s ease 0s;

					@media (max-width: 991.98px) {
						padding-right: 15px;
					}

					i {
						@media (min-width: 991.98px) {
							display: none !important;
						}

						margin: 0px 0px 0px auto;
						z-index: 10;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-left: 3px;
						position: relative;

						@media (max-width: 991.98px) {
							position: absolute;
							top: 50%;
							right: -5px;
							transform: translateY(-50%);
						}

						@media (max-width: 767.98px) {
							right: -10px;
						}

						&::before {
							content: "";
							min-width: 20px;
							min-height: 20px;
							max-width: 20px;
							max-height: 20px;
							display: block;
							background-image: url("../img/icons/caret-down.svg");
							background-repeat: no-repeat;
							background-position: center;
							background-size: contain;
							transition: transform 0.3s ease 0s;

							@media (max-width: 991.98px) {
								min-width: 30px;
								min-height: 30px;
								max-width: 30px;
								max-height: 30px;
								transform: rotate(-90deg);
							}
						}
					}
				}

				&.menu__dropdown {
					@media (any-hover: hover) and (min-width: 991.98px) {
						&:hover {
							& > .menu__dropdown_block {
								opacity: 1;
								visibility: visible;
								transform: translateY(0px);
								pointer-events: all;
							}
						}
					}

					&._open-menu {
						& > .menu__dropdown_block {
							transform: translateX(0%);
						}
						& > a > i:before {
							transform: rotate(0deg);
						}
					}
				}
			}
		}

		// .menu__dropdown
		&__dropdown {
			@media (min-width: 991.98px) {
				&:not(.menu__dropdown_block--full) {
					position: relative;

					.menu__dropdown_container {
						padding-right: 0;
						padding-left: 0px;
						max-width: 100%;
					}
				}

				// .menu__dropdown_block--full
				&_block--full {
					.menu__dropdown_block {
						width: 100%;
						left: 0;
					}

					.menu__dropdown_body {
						width: 100%;
						padding-right: 0px;
						padding-left: 0px;
					}
				}
			}

			// .menu__dropdown_block
			&_block {
				position: absolute;
				z-index: 99;
				transition: all 0.3s ease 0s;

				@media (min-width: 991.98px) {
					transform: translateY(30px);
					top: 100%;
					left: -44px;
					min-width: 394px;
					opacity: 0;
					visibility: hidden;
					pointer-events: none;
				}

				@media (max-width: 991.98px) {
					top: 0;
					left: 0;
					transform: translateX(-150%);
					display: block;
					width: 100%;
				}
			}

			&_body {
				background: #fff;

				@media (min-width: 991.98px) {
					border-radius: 0 0 30px 30px;
					padding: 46px;
					box-shadow: 0px 15px 15px 0 rgba(125, 138, 152, 0.15);

					@media (max-width: 1439.98px) {
						padding: 35px;
					}

					@media (max-width: 1169.98px) {
						padding: 25px;
					}
				}
			}

			// .menu__dropdown_container
			&_container {
				@media (max-width: 991.98px) {
					padding-right: 0px;
					padding-left: 0px;
				}
			}

			// .menu__dropdown_head
			&_head {
				padding: 20px 15px;
				border-bottom: 1px solid #d4d7e5;
				text-align: center;
				position: relative;

				@media (min-width: 991.98px) {
					display: none;
				}

				h6 {
					font-weight: 700;
					font-size: 15px;
					line-height: 130%;
				}
			}

			// .menu__dropdown_back
			&_back {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 3px;

				&::before {
					content: "";
					min-width: 30px;
					min-height: 30px;
					max-width: 30px;
					max-height: 30px;
					transform: rotate(90deg);
					display: block;
					background-image: url("../img/icons/caret-down.svg");
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					transition: transform 0.3s ease 0s;
				}
			}

			// .menu__dropdown_wrapper
			&_wrapper {
				width: 100%;

				@media (min-width: 991.98px) {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
				}
			}

			// .menu__dropdown_item
			&_item {
				@media (min-width: 991.98px) {
					flex-grow: 1;
					min-width: rem(302);

					@media (max-width: 1439.98px) {
						min-width: rem(250);
					}

					@media (max-width: 1169.98px) {
						min-width: rem(200);
					}

					&:not(:last-child) {
						margin-right: rem(64);

						@media (max-width: 1439.98px) {
							margin-right: rem(60);
						}

						@media (max-width: 1169.98px) {
							margin-right: rem(40);
						}
					}
				}

				@media (max-width: 991.98px) {
					padding: 20px 15px;

					&:not(:last-child) {
						border-bottom: 1px solid #d4d7e5;
					}
				}

				& > h6 {
					font-weight: 500;
					font-size: 14px;
					line-height: 130%;
					color: #9397ad;
					margin-bottom: 12px;

					@media (max-width: 991.98px) {
						font-size: 15px;
						margin-bottom: 20px;
					}
				}
			}

			// .menu__dropdown_columns
			&_columns {
				width: 100%;

				@media (min-width: 991.98px) {
					display: inline-flex;
					align-items: flex-start;
					justify-content: space-between;
				}
			}

			// .menu__dropdown_list
			&_list {
				width: 100%;

				@media (min-width: 991.98px) {
					min-width: rem(302);

					@media (max-width: 1439.98px) {
						min-width: rem(250);
					}

					@media (max-width: 1169.98px) {
						min-width: rem(200);
					}

					&:not(:last-child) {
						margin-right: rem(85);

						@media (max-width: 1439.98px) {
							margin-right: rem(60);
						}

						@media (max-width: 1169.98px) {
							margin-right: rem(40);
						}
					}
				}

				@media (max-width: 991.98px) {
					&:not(:last-child) {
						margin-bottom: 30px;
					}
				}

				li {
					a {
						position: relative;
						display: flex;
						align-items: center;
						transition: transform 0.3s ease 0s;

						&::before {
							content: "";
							position: absolute;
							left: -13px;
							top: 50%;
							transform: translateY(-50%);
							width: 7px;
							height: 7px;
							background-color: var(--primary-color);
							border-radius: 50%;
							opacity: 0;
							visibility: hidden;
							transition:
								opacity 0.3s ease 0s,
								visibility 0.3s ease 0s;
						}

						@media (any-hover: hover) {
							&:hover {
								transform: translateX(13px);

								&::before {
									opacity: 1;
									visibility: visible;
								}
							}
						}
					}
				}

				& > li {
					&:not(:last-child) {
						margin-bottom: 5px;

						@media (max-width: 991.98px) {
							margin-bottom: 16px;
						}
					}

					a {
						font-weight: 600;
						font-size: 16px;
						line-height: 175%;
						letter-spacing: 0.01em;
						color: #0b0f19;

						@media (max-width: 1439.98px) {
							font-size: 14px;
						}

						@media (max-width: 1169.98px) {
							font-size: 13px;
						}

						@media (max-width: 991.98px) {
							font-weight: 700;
							font-size: 15px;
							// line-height: 19px;
							line-height: 130%;
						}
					}

					ul {
						margin-top: 10px;

						@media (max-width: 991.98px) {
							margin-top: 17px;
						}

						& > li {
							&:not(:last-child) {
								margin-bottom: 12px;

								@media (max-width: 991.98px) {
									margin-bottom: 20px;
								}
							}

							& > a {
								font-weight: 400;
								font-size: 16px;
								line-height: 140%;
								letter-spacing: 0.01em;
								color: #565973;

								@media (max-width: 1439.98px) {
									font-size: 14px;
								}

								@media (max-width: 1169.98px) {
									font-size: 13px;
								}

								@media (max-width: 991.98px) {
									font-weight: 500;
									font-size: 15px;
									// line-height: 19px;
									line-height: 130%;
									color: #141517;
								}
							}
						}
					}
				}
			}
		}
	}

	// .rs-header__logo
	&__logo {
		width: 100%;
		max-width: 145px;
		transition: all 0.3s ease 0s;

		@media (min-width: 767.98px) {
			._header-white & {
				filter: invert(1);
			}

			._header-hover & {
				filter: invert(0);
			}

			._header-scroll & {
				filter: invert(0);
			}
		}

		@media (max-width: 1439.98px) {
			max-width: 120px;
		}

		@media (max-width: 1169.98px) {
			max-width: 100px;
		}

		@media (max-width: 991.98px) {
			order: 1;
			margin: 0px auto 0px 0px;

			.menu-open & {
				filter: invert(1);
			}
		}

		@media (max-width: 767.98px) {
			max-width: 81px;
			margin: 0;
			filter: invert(1);
		}

		a {
			display: block;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	// .rs-header__actions
	&__actions {
		@media (min-width: 991.98px) {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin: 0px 0px 0px auto;
			flex: 1 1 50%;
		}

		@media (max-width: 991.98px) {
			order: 2;
		}

		@media (max-width: 767.98px) {
			display: none;
		}

		&_item {
			margin-right: 32px;

			@media (max-width: 1439.98px) {
				margin-right: 24px;
			}

			@media (max-width: 1170px) {
				margin-right: 16px;
			}

			@media (max-width: 991.98px) {
				margin-right: 30px;
			}

			@media (max-width: 767.98px) {
				margin-right: 20px;
			}

			a {
				display: flex;
				align-items: center;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 23.4px;
				transition: all 0.3s ease 0s;

				@media (max-width: 1439.98px) {
					font-size: 14px;
					line-height: 21.4px;
				}

				@media (max-width: 1169.98px) {
					font-size: 13px;
					line-height: 20.4px;
				}

				@media (max-width: 991.98px) {
					font-weight: 500;
					font-size: 16px;
					// line-height: 21px;
					line-height: 130%;
				}

				@media (min-width: 767.98px) {
					._header-white & {
						color: #fff;

						svg {
							path,
							circle {
								stroke: #fff;
							}
						}
					}

					._header-hover & {
						color: #141517;

						svg {
							path,
							circle {
								stroke: #141517;
							}
						}
					}

					._header-scroll & {
						color: #141517;

						svg {
							path,
							circle {
								stroke: #141517;
							}
						}
					}
				}

				.menu-open & {
					color: #fff;

					svg {
						path,
						circle {
							stroke: #fff;
						}
					}
				}

				svg {
					width: 20px;
					height: 20px;
					margin-right: 4px;

					path,
					circle {
						transition: all 0.3s ease 0s;
					}
				}
			}
		}
	}

	// .rs-header__location
	&__location {
		@media (min-width: 991.98px) {
			position: relative;
		}

		@media (min-width: 767.98px) {
			.rs-header__region {
				display: none;
			}
		}

		// .rs-header__location_modal
		&_modal {
			position: absolute;
			top: 52px;
			left: -29px;
			padding: 30px;
			border-radius: 20px;
			box-shadow: 9px 11px 29px 0 rgba(125, 138, 152, 0.15);
			background: #fff;
			width: 305px;
			transition: all 0.3s ease 0s;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transform: translateY(30px);

			@media (max-width: 1439.98px) {
				width: 282px;
				padding: 20px;
			}

			@media (max-width: 991.98px) {
				left: auto;
				top: 100%;
				right: 36px;
			}

			@media (max-width: 767.98px) {
				border-radius: 0px;
				padding: 15px;
				width: 100%;

				.rs-btn {
					width: 100%;
				}
			}

			.location-modal-open & {
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
				pointer-events: all;
			}

			&_body {
				h6 {
					font-weight: 600;
					font-size: 16px;
					line-height: 175%;
					letter-spacing: 0.01em;
					color: #0b0f19;

					@media (max-width: 1439.98px) {
						font-size: 15px;
						line-height: 187%;
					}

					@media (max-width: 767.98px) {
						font-size: 14px;
						line-height: 130%;
					}
				}
			}

			&_btn {
				display: flex;
				align-items: center;
				margin-top: 10px;

				.rs-btn {
					&:not(:last-child) {
						margin-right: 15px;
					}

					.btn-text {
						white-space: nowrap;
						padding: 10px 23px;
						font-weight: 500;
						font-size: 13px;
						line-height: 130%;
					}
				}
			}
		}
	}

	&__contact {
		@media (max-width: 991.98px) {
			display: none;
		}
	}

	&__call {
		@media (max-width: 991.98px) {
			display: none;
		}

		.rs-btn {
			&:not(:hover) {
				& > .btn-text {
					color: #000;

					&::before {
						color: #000;
					}

					svg {
						path {
							stroke: #000;
						}
					}

					@media (min-width: 991.98px) {
						._header-white & {
							color: #fff;

							&::before {
								color: #fff;
							}
							svg {
								path {
									stroke: #fff;
								}
							}
						}

						._header-hover & {
							color: #000;

							&::before {
								color: #000;
							}
							svg {
								path {
									stroke: #000;
								}
							}
						}

						._header-scroll & {
							color: #000;

							&::before {
								color: #000;
							}
							svg {
								path {
									stroke: #000;
								}
							}
						}
					}
				}

				&._btn-gray-border {
					@media (min-width: 991.98px) {
						._header-white & {
							border-color: rgba(212, 215, 229, 0.45);
						}

						._header-hover & {
							border-color: var(--light-gray-border);
						}

						._header-scroll & {
							border-color: var(--light-gray-border);
						}
					}
				}
			}
		}

		@media (max-width: 991.98px) {
			.rs-btn {
				& > .btn-text {
					padding: 0;
					border: none;
					opacity: 1;
					visibility: visible;

					&::before {
						margin: 0;
					}
				}

				& > .svg-wrapper {
					display: none;
				}

				.spltting-text {
					display: none;
				}
			}
		}

		@media (max-width: 767.98px) {
			.rs-btn {
				&::before {
					font-size: 18px;
				}
			}
		}
	}

	// .rs-header__region
	&__region {
		position: absolute;
		left: 0;
		width: 100%;
		transition: all 0.3s ease 0s;
		z-index: 100;

		@media (min-width: 767.98px) {
			top: 100%;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transform: translateY(30px);

			.region-menu-open & {
				opacity: 1;
				visibility: visible;
				transform: translateY(0px);
				pointer-events: all;
			}

			._header-scroll:not(._header-show) & {
				opacity: 0 !important;
				visibility: hidden !important;
				pointer-events: none !important;
				transform: translateY(30px) !important;
			}
		}

		@media (max-width: 767.98px) {
			top: 0;
			transform: translateX(-150%);

			.region-menu-open & {
				transform: translateX(0%);
			}
		}

		&_container {
			@media (max-width: 767.98px) {
				padding-right: 0px;
				padding-left: 0px;
			}
		}

		&_body {
			background: #fff;
			min-height: calc(100vh - (102px + 33px));
			max-height: calc(100vh - (102px + 33px));
			transition:
				min-height 0.3s ease 0s,
				max-height 0.3s ease 0s;

			@media (min-width: 767.98px) {
				padding: 33px 0px 30px;
				border-radius: 0 0 30px 30px;
				box-shadow: 0px 15px 15px 0 rgba(125, 138, 152, 0.15);

				@media (max-width: 991.98px) {
					padding: 17px 0px;
				}
			}

			@media (max-width: 1439.98px) {
				min-height: calc(100vh - (83px + 33px));
				max-height: calc(100vh - (83px + 33px));
			}

			@media (max-width: 767.98px) {
				min-height: 100%;
				max-height: 100%;
			}

			._header-scroll & {
				min-height: calc(100vh - (85px + 33px));
				max-height: calc(100vh - (85px + 33px));

				@media (max-width: 1439.98px) {
					min-height: calc(100vh - (73px + 33px));
					max-height: calc(100vh - (73px + 33px));
				}

				@media (max-width: 991.98px) {
					min-height: calc(100vh - (67px + 55px));
					max-height: calc(100vh - (67px + 55px));
				}

				@media (max-width: 767.98px) {
					min-height: 100%;
					max-height: 100%;
				}
			}
		}

		// .rs-header__region_head
		&_head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 8px;

			@media (max-width: 767.98px) {
				display: none;
			}

			h4 {
				color: #0b0f19;
			}
		}

		// .rs-header__region_close
		&_close {
			@media (min-width: 767.98px) {
				margin-left: 15px;
				padding: 19px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				background-color: #f5f7fe;
				color: #383b56;

				@media (max-width: 991.98px) {
					padding: 23px;
				}

				&::before,
				&::after {
					content: "\e906";
					position: absolute;
					font-size: 10px;
					/* use !important to prevent issues with browser extensions that change fonts */
					font-family: "icons" !important;
					speak: never;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					/* Better Font Rendering =========== */
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					transition: all 0.15s ease 0s;
				}

				&::after {
					opacity: 0;
					transform: translateX(-100%);
				}

				@media (any-hover: hover) {
					&:hover {
						&::before {
							transform: translateX(100%);
							opacity: 0;
						}
						&::after {
							transform: translateX(0%);
							opacity: 1;
						}
					}
				}
			}

			@media (max-width: 767.98px) {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 3px;

				&::before {
					content: "";
					min-width: 30px;
					min-height: 30px;
					max-width: 30px;
					max-height: 30px;
					transform: rotate(90deg);
					display: block;
					background-image: url("../img/icons/caret-down.svg");
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					transition: transform 0.3s ease 0s;
				}
			}
		}

		// .rs-header__region_field
		&_field {
			width: 100%;

			@media (max-width: 767.98px) {
				position: relative;
				padding: 20px 15px 20px 42px;
				border-bottom: 1px solid #d4d7e5;
			}

			@media (min-width: 767.98px) {
				.rs-header__region_close {
					display: none;
				}
			}

			.rs-input {
				@media (max-width: 767.98px) {
					background-color: transparent;
					padding: 0;
					font-weight: 500;
					font-size: 15px;
					// line-height: 19px;
					line-height: 130%;
					border: none;

					&::placeholder {
						color: #9397ad;
					}
				}
			}
		}

		// .rs-header__region_select
		&_select {
			margin-top: 20px;
			overflow-y: auto;
			overflow-x: hidden;
			min-height: calc(100vh - (262px + 63px));
			max-height: calc(100vh - (262px + 63px));
			transition:
				min-height 0.3s ease 0s,
				max-height 0.3s ease 0s;

			@media (max-width: 1439.98px) {
				min-height: calc(100vh - (250px + 33px));
				max-height: calc(100vh - (250px + 33px));
			}

			@media (max-width: 991.98px) {
				min-height: calc(100vh - (221px + 55px));
				max-height: calc(100vh - (221px + 55px));
			}

			@media (max-width: 767.98px) {
				min-height: calc(100vh - 148px);
				max-height: calc(100vh - 148px);
				padding: 20px 15px;
				margin-top: 0px;
			}

			@media (min-width: 767.98px) {
				._header-scroll & {
					min-height: calc(100vh - (240px + 63px));
					max-height: calc(100vh - (240px + 63px));

					@media (max-width: 1439.98px) {
						min-height: calc(100vh - (240px + 33px));
						max-height: calc(100vh - (240px + 33px));
					}

					@media (max-width: 991.98px) {
						min-height: calc(100vh - (221px + 55px));
						max-height: calc(100vh - (221px + 55px));
					}
				}
			}

			& > ul {
				column-count: 5;
				column-gap: rem(82);

				@media (max-width: 1439.98px) {
					column-gap: rem(40);
				}

				@media (max-width: 1169.98px) {
					column-gap: rem(20);
					column-count: 4;
				}

				@media (max-width: 991.98px) {
					column-gap: rem(22);
					column-count: 3;
				}

				@media (max-width: 767.98px) {
					column-count: 1;
					column-gap: 0px;
				}

				& > li {
					display: grid;
					column-gap: 26px;
					grid-template-rows: 23px auto;
					grid-template-columns: 16px auto;
					width: 100%;
					margin: 0px 0px 18px;
					padding: 0px;
					break-inside: avoid-column;

					@media (max-width: 991.98px) {
						column-gap: 15px;
					}

					@media (max-width: 767.98px) {
						column-gap: 0px;
						row-gap: 20px;
						grid-template-rows: 19px auto;
						grid-template-columns: repeat(1, 1fr);
						margin: 0;

						&:not(:last-child) {
							margin-bottom: 30px;
						}
					}
				}
			}
		}

		// .rs-header__region_letter
		&_letter {
			white-space: pre-line;
			margin-top: 3px;
			margin-left: 3px;
			font-weight: 700;
			font-size: 18px;
			// line-height: 23px;
			line-height: 130%;
			color: #141517;
			transition: all 200ms ease 0s;

			@media (max-width: 1439.98px) {
				font-size: 14px;
			}

			@media (max-width: 1169.98px) {
				font-size: 13px;
			}

			@media (max-width: 991.98px) {
				font-size: 16px;
				margin-top: 0px;
				margin-left: 3px;
			}

			@media (max-width: 767.98px) {
				font-weight: 700;
				font-size: 15px;
				// line-height: 19px;
				line-height: 130%;
				margin: 0;
			}
		}

		// .rs-header__region_list
		&_list {
			display: grid;
			grid-auto-rows: minmax(22px, max-content);
			grid-area: 1 / 2 / 3 / 3;
			row-gap: 5px;
			margin: 0px;
			padding: 0px;

			@media (max-width: 991.98px) {
				row-gap: 6px;
			}

			@media (max-width: 767.98px) {
				grid-area: auto;
				row-gap: 16px;
			}

			li {
				font-weight: 400;
				font-size: 18px;
				// line-height: 29px;
				line-height: 160%;
				color: #1d1e21;
				transition: color 0.3s ease 0s;

				@media (max-width: 1439.98px) {
					font-size: 16px;
				}

				@media (max-width: 1169.98px) {
					font-size: 14px;
				}

				@media (max-width: 991.98px) {
					font-size: 16px;
				}

				@media (max-width: 767.98px) {
					font-weight: 500;
					font-size: 15px;
					// line-height: 19px;
					line-height: 130%;
					color: #141517;
				}

				a {
					color: var(--primary-color);
				}
			}
		}
	}
}
