@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:500italic&display=swap);

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Manrope", sans-serif;
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #1d1e21; // Цвет шрифта по умолчанию

// Основные цвета
:root {
	--bg-color: #fff;
	--primary-color: #6366f1;
	--primary-color-btn: #6366f1;
	--primary-color-btn-hover: #8083f2;
	--primary-color-btn-text: #fff;
	--gray-color-btn: #eff2ff;
	--light-gray-border: #d4d7e5;
	--font-color: #1d1e21;
	--gray-font-color: #1d1e21;
	--primary-gradient: linear-gradient(270deg, rgb(214, 71, 239), rgb(110, 105, 243));
	--item-green-bg: #f1faea;
	--item-blue-bg: #eaf0ff;
	--item-pink-bg: #ffe9fb;
	--item-yellow-bg: #fefae4;
	--item-orange-bg: #fff1e3;
	--item-red-bg: #ffeae2;
	--item-gray-bg: #f7f7f7;
}

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1572;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(1169.98); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 2;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*="_container"] {
		margin: 0 auto;
		max-width: rem($maxWidthContainer);
		box-sizing: content-box;
		padding: 0 rem(math.div($containerPadding, 2));

		@media (max-width: $tablet) {
			max-width: rem(768);
			padding-left: rem(36);
			padding-right: rem(36);
		}
		@media (max-width: $mobile) {
			max-width: 100%;
			padding-left: rem(15);
			padding-right: rem(15);
		}
	}
}

// Вспомогательные классы ======================================================================================================================================================================================================================
.primary-color {
	background: var(--primary-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #6e69f3;
}

.dont-break-out {
	// Технически это одно и то же, но используйте и то, и другое
	overflow-wrap: break-word;
	word-wrap: break-word;
	// Это самое опасное в WebKit, так как оно ломает вещи везде, где бы они ни были
	word-break: break-all;
	// Вместо этого используйте этот нестандартный:
	word-break: break-word;
	// Добавляет дефис там, где слово ломается, если поддерживается
	hyphens: auto;
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";
@import "blocks/rs-about-block";
@import "blocks/rs-banner";
@import "blocks/rs-calc";
@import "blocks/rs-comparison";
@import "blocks/rs-contact";
@import "blocks/rs-document";
@import "blocks/rs-faq";
@import "blocks/rs-features-list";
@import "blocks/rs-features";
@import "blocks/rs-feedback";
@import "blocks/rs-grid-block";
@import "blocks/rs-info-block";
@import "blocks/rs-list-block";
@import "blocks/rs-logo";
@import "blocks/rs-main";
@import "blocks/rs-partners";
@import "blocks/rs-project";
@import "blocks/rs-reviews";
@import "blocks/rs-services-about";
@import "blocks/rs-services-price";
@import "blocks/rs-services";
@import "blocks/rs-slider-block";
@import "blocks/rs-steps";
@import "blocks/rs-tariff";
@import "blocks/rs-task";
@import "blocks/rs-text-block";
@import "blocks/rs-why-block";
@import "blocks/rs-error-block";
// @import "anim-go-page";
